/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

// Compass extention 
@import 'compass/css3';

// Variables and mixins
@import "core/variable";
@import "core/mixin";
@import "core/reset";

// Plugins
@import "plugins/slick";
@import 'core/modal';
@import 'core/tabs';

// Core
@import "core/form";
@import "core/grid";
@import "core/icons";

// Template
@import "core/header";
@import "core/footer";
@import "core/breadcrumb";
@import "core/pagination";
@import "core/template";




/* Responsive styles
----------------------------------------------------------------------------- */
// max-width: 1200px ===========================================================
@media (max-width: $breakpoint-xlarge) {
}

// max-width: 960px ===========================================================
@media (max-width: $breakpoint-large) {
	
}

// max-width: 760px ===========================================================
@media (max-width: $breakpoint-medium) {
	
}

// max-width: 480px ===========================================================
@media (max-width: $breakpoint-small) {
	
}


.slider {
	position: relative;
	&__fullwidth {
		img {
			min-width: 100%;
			max-width: none;
			display: block;
			height: 100%;
		}
		.slider__item {
			height: 299px;
		}
	}
	&__item {

	}
	.slick {
		&-arrow {
			border: none;
			background-color: transparent;
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -20px;
			width: 23px;
			height: 40px;
			font-size: 0;
			outline: 0;
			z-index: 10;
			cursor: pointer;
			@include trs(.3);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			&:hover {
				opacity: .5;
			}
		}
		&-prev {
			background-image: image-url('slide-prev.png');
			left: 7%;
		}
		&-next {
			background-image: image-url('slide-next.png');
			right: 7%;
		}
		&-dots {
			position: absolute;
			bottom: 14px;
			right: 13%;
			li {
				display: inline-block;
				margin: 5px;
				button {
					@include border-radius(50%);
					font-size: 0;
					width: 12px;
					height: 12px;
					border: 1px solid #8e8e8e;
					background-color: #ffffff;
					outline: 0;
					cursor: pointer;
					@include trs(.3);
					&:hover {
						opacity: .5;
					}
				}
				&.slick-active {
					button {
						background-color: #8e8e8e;
					}
				}
			}
		}
	}
	&__grid {
		padding-bottom: 50px;
		margin-top: 44px;
		.slider__item {
			width: 280px;
			margin-right: 20px;
		}
		&_img {
			position: relative;
			overflow: hidden;
			img {
				display: block;
			}
		}
		&_overlay {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: transparentize(#000, .45);
			color: #fff;
			font-size: 21px;
			font-weight: 700;
			text-align: right;
			padding: 11px 25px;
			span {
				font-size: 14px;
				font-weight: 400;
				text-decoration: line-through;
			}
		}
		&_text {
			padding: 16px 8px;
			font-size: 18px;
			line-height: 1.3;
		}
		&_name {
			margin-bottom: 6px;
			font-size: 14px;
			a {
				font-weight: 700;
			}
		}
		.slick {
			&-arrow {
				background-color: #fff;
				top: 94px;
				width: 43px;
				height: 132px;
				@include trs(.3);
				background-size: 47%;
				&:hover {
					opacity: .8;
				}
			}
			&-prev {
				background-image: image-url('slide-prev-dark.svg');
				left: 0;
				background-position: center left;
				@include border-radius(0 8px 8px 0);
			}
			&-next {
				background-image: image-url('slide-next-dark.svg');
				right: 0;
				background-position: center right;
				@include border-radius(8px 0 0 8px);
			}
			&-dots {
				position: relative;
				width: 100%;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 0px 0 8px;
				border-top: 1px solid #d1d1d1;
				border-bottom: 1px solid #d1d1d1;
				margin-top: 19px;
				text-align: center;
			}
		}
	}
}


.home__promo {
	@extend %clear_a;
	&_code {
		float: left;
		width: 54%;
		margin-right: 7%;
		&_title {
			font-size: 23px;
			margin-bottom: 45px;
		}
		&_grid {
			margin-bottom: 17px;
			margin-left: -40px;
			.grid__wrapper {
				font-size: 14px;
				line-height: 1.4;
				text-align: center;
				padding-left: 40px;
				img {
					display: inline-block;
					margin-bottom: 13px;
				}
			}
		}
		&_bottom {
			&>* {
				display: inline-block;
				vertical-align: middle;
				margin-right: 20px;
				margin-bottom: 15px;
			}
		}
	}
	&_shop {
		float: left;
		width: 39%;
		background-color: $muted-color;
		padding: 30px 45px;
		@extend %clear_a;
		&_title {
			text-align: center;
			font-size: 21px;
			margin-bottom: 26px;
		}
		&_grid {
			.grid__wrapper {
				width: 33%;
				img {
					display: block;
					border: 1px solid #d1d1d1;
				}
			}
		}
	}

	@media (max-width: 1199px) {
		&_code {
			&_title {
			}
			&_grid {
				.grid__wrapper {
					img {
					}
				}
			}
			&_bottom {
				&>* {
				}
			}
		}
		&_shop {
			&_title {
			}
			&_grid {
				.grid__wrapper {
					img {
					}
				}
			}
		}
	}
	@media (max-width: 991px) {
		&_code {
			width: 100%;
			margin-right: 0;
			&_title {
			}
			&_grid {
				.grid__wrapper {
					img {
					}
				}
			}
			&_bottom {
				&>* {
				}
			}
		}
		&_shop {
			width: 100%;
			&_title {
			}
			&_grid {
				.grid__wrapper {
					text-align: center;
					img {
						display: inline-block;
					}
				}
			}
		}
	}
	@media (max-width: 767px) {
		&_code {
			&_title {
			}
			&_grid {
				@include justify-content(center);
				.grid__wrapper {
					@include flex-basis(250px);
					img {
					}
				}
			}
			&_bottom {
				&>* {
					display: block;
					margin: 16px auto;
					max-width: 300px;
					text-align: center;
				}
			}
		}
		&_shop {
			padding-left: 15px;
			padding-right: 15px;
			&_title {
			}
			&_grid {
				@include justify-content(center);
				.grid__wrapper {
					@include flex-basis(124px);
					img {
					}
				}
			}
		}
	}
}

.sale__list {
	padding: 0 0 50px;
	text-align: center;
	&_row {
		border: 1px solid #d1d1d1;
		background-color: #ffffff;
		margin-bottom: 19px;
		text-align: left;
		position: relative;
		@extend %clear_a;
		&:nth-child(n+6) {
			display: none;
		}
		&_title {
			font-size: 22px;
			margin-bottom: 10px;
		}
		&+.btn {
			margin-top: 20px;
			width: 100%;
			max-width: 300px;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 160px;
			top: 0;
			bottom: 0;
			width: 1px;
			background-color: #d1d1d1;
		}
	}
	&_left {
		float: left;
		width: 162px;
		padding: 30px 25px 14px;
		.btn {
			width: 100%;
			@include border-radius(0);
		}
		img {
			margin-bottom: 22px;
		}
	}
	&_right {
		float: right;
		width: 239px;
		padding: 15px 24px;
		text-align: center;
		.btn {
			width: 100%;
			// margin-bottom: 22px;
		}
	}
	&_save {
		display: inline-block;
		float: right;
		margin-bottom: 22px;
		color: $main-color;
		font-size: 14px;
		text-decoration: none;
		&:before {
			content: image-url('star-white.svg');
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			@include trs(.3);
		}
		&:hover,&.active {
			color: $warning-color;
			text-decoration: none;
			&:before {
				content: image-url('star-red.svg');
			}
		}
	}
	&_center {
		overflow: hidden;
		padding: 28px 26px 15px;
	}
	&_deadline {
		margin-bottom: 6px;
		i {
			display: inline-block;
			vertical-align: middle;
			margin-right: 9px;
		}
	}
	&_terms {
		position: relative;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-bottom: 10px;
		padding-right: 90px;
		line-height: 1.4;
		&.open {
			white-space: normal;
			padding-bottom: 15px;
		}
	}
	&_more {
		padding-left: 10px;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&_bottom {
		color: #919191;
	}
	&_info {
		background-color: $muted-color;
		padding: 9px 15px 4px;
		display: inline-block;
		margin-right: 20px;
		color: $main-color;
		i {
			vertical-align: middle;
			margin-left: 10px;
			cursor: pointer;
			@include trs(.3);
			&:hover {
				opacity: .8;
			}
		}
	}
	.code {
		&__wrap {
			position: relative;
			display: inline-block;
			width: 100%;
			overflow: hidden;
			@include border-radius(5px);
			margin-bottom: 22px;
			&:after,&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0px;
				width: 100%;
			}
			&:after {
				background: image-url('open-code.png') no-repeat center right;
				z-index: 3;
				@include trs(.8);
			}
			&:before {
				background-color: #0095e1;
				width: 50%;
				z-index: 2;
				@include trs(.4);
			}
			&.open {
				&:after,&:before {
					width: 0;
				}
				.code__filed {
				}	
				.code__btn {
					z-index: 0;
				}
			}
		}
		&__field {
			// overflow: hidden;
			@include border-radius(5px);
			padding: 11px 15px 11px;
			border: 1px solid #000;
			position: absolute;
			z-index: 1;
			background-color: #fff;
			top: 0;
			left: 0;
			width: 100%;
		}
		&__btn {
			position: relative;
			z-index: 4;
		}
	}
	@media (max-width: 1199px) {
		&_row {
			&:nth-child(n+6) {
			}
			&_title {
			}
			&+.btn {
			}
			&:before {
			}
		}
		&_left {
			.btn {
			}
			img {
			}
		}
		&_right {
			.btn {
			}
		}
		&_save {
			&:before {
			}
			&:hover,&.active {
				&:before {
				}
			}
		}
		&_center {
		}
		&_deadline {
			i {
			}
		}
		&_terms {
			&.open {
			}
		}
		&_more {
		}
		&_bottom {
		}
		&_info {
			i {
				&:hover {
				}
			}
		}
	}
	@media (max-width: 991px) {
		&_row {
			&:nth-child(n+4) {
				display: none;
			}
			&_title {
			}
			&+.btn {
			}
			&:before {
				left: 145px;
			}
		}
		&_left {
			padding: 15px;
			width: 145px;
			min-height: 170px;
			@include flexbox();
			@include flex-flow(row wrap);
			.btn {
				@include align-self(flex-end);
			}
			img {
			}
		}
		&_right {
			padding: 15px;
			width: 168px;
			.btn {
			}
		}
		&_save {
			&:before {
			}
			&:hover,&.active {
				&:before {
				}
			}
		}
		&_center {
			padding: 15px;
		}
		&_deadline {
			i {
			}
		}
		&_terms {
			&.open {
			}
		}
		&_more {
		}
		&_bottom {
		}
		&_info {
			display: block;
			margin-right: 0;
			margin-bottom: 6px;
			i {
				&:hover {
				}
			}
		}
	}
	@media (max-width: 767px) {
		&_row {
			font-size: 12px;
			&:nth-child(n+6) {
			}
			&_title {
				font-size: 16px;
				font-weight: 600;
			}
			&+.btn {
			}
			&:before {
				display: none;
			}
		}
		&_left {
			padding: 10px;
			float: none;
			min-height: inherit;
			width: 100%;
			border-bottom: 1px solid #d1d1d1;
			.btn {
				display: inline-block;
				max-width: 200px;
				margin-top: 5px;
			}
			img {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0;
				margin-right: 17px;
				width: 115px;
			}
		}
		&_right {
			padding: 10px;
			float: none;
			width: 100%;
			border-bottom: 1px solid #d1d1d1;
			text-align: left;
			.btn {
				// max-width: 333px;
				// margin-right: 15px;
				// margin-bottom: 4px;
				// display: block;
			}
		}
		&_save {
			float: none;
			text-align: left;
			margin-bottom: 7px;
			&:before {
			}
			&:hover,&.active {
				&:before {
				}
			}
		}
		&_center {
			padding: 10px;
			overflow: inherit;
			clear: both;
		}
		&_deadline {
			margin-bottom: 7px;
			i {
			}
		}
		&_terms {
			padding-right: 0;
			padding-bottom: 15px;
			&.open {
			}
		}
		&_more {
			right: inherit;
			left: 0;
			padding-left: 0;
		}
		&_bottom {
		}
		&_info {
			padding: 6px 11px 3px;
			i {
				&:hover {
				}
			}
		}
		.code {
			&__wrap {
				max-width: 230px;
				display: block;
				margin-right: 15px;
				margin-bottom: 4px;
			}
			&__field {
				font-size: 14px;
				text-align: center;
			}
		}
	}
}

.columns__list {
	margin-bottom: -20px;
	vertical-align: top;
	@include columns-text(150px, 4, 40px, 0px, solid, #000);
	li {
		display: block;
		margin-bottom: 20px;
	}
	@media (max-width: 1199px) {
		margin-bottom: 10px;
	}
	@media (max-width: 991px) {
		margin-bottom: 0px;
		
	}
	@media (max-width: 767px) {
		
	}
}

.category__box {
	// margin-left: -78px;
	@extend %clear_a;
	&>* {
		// padding-left: 78px;
	}
	&_grid {
		width: 69%;
		float: left;
		color: $main-color;
		text-align: center;
		padding-right: 10%;
		margin-bottom: -25px;
		@include justify-content(center);
		.grid__wrapper {
			@include flex-basis(120px);
		}
		img {
			display: block;
			margin-bottom: 8px;
			width: 100%;
		}
	}
	.columns__list {
		width: 32%;
	}
	@media (max-width: 1199px) {
		
	}
	@media (max-width: 991px) {
		// width: 100%;
		&_grid {
			.grid__wrapper {
			}
			img {
			}
		}
		.columns__list {
			// height: 100%;
		}
	}
	@media (max-width: 767px) {
		&_grid {
			width: 100%;
			margin-bottom: 30px;
			padding-right: 0;
			.grid__wrapper {
			}
			img {
			}
		}
		.columns__list {
			width: 100%;
			margin-bottom: 5px;
		}
	}
}

.banner__box {
	margin: 40px 0 36px;
	&_img {
		img {
			display: block;
			width: 100%;
		}
	}
	&_text {
		color: #454545;
		padding: 37px 60px 0;
		b {
			font-size: 18px;
		}
	}
	@media (max-width: 1199px) {
		
	}
	@media (max-width: 991px) {
		
	}
	@media (max-width: 767px) {
		&_text {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.counter__box {
	background-color: #fff;
	border: 1px solid #d1d1d1;
	padding-bottom: 0px;
	@extend %clear_a;
	&>* {
		// position: relative;
	}
	&_top {
		@extend %clear_a;
		// z-index: 2;
	}
	&_left {
		float: left;
		z-index: 0;
		width: 55.5%;
		padding: 30px;
		text-align: center;
		@extend %clear_a;
	}
	&_label {
		font-size: 24px;
		margin: 23px 0 23px;
	}
	&_count {
		// @extend %clear_a;
		margin-bottom: 33px;
		font-size: 21px;
		&_wrap {
			display: inline-block;
			margin-right: 20px;
			vertical-align: middle;
		}
		&_item {
			display: inline-block;
			// vertical-align: middle;
			width: 42px;
			line-height: 42px;
			font-size: 30px;
			color: #ffffff;
			background-color: #454545;
			// margin: 0 0px;
			&:first-child,&:last-child {
				background-color: $warning-color;
			}
			&:nth-child(3) {
				margin-right: 12px;
			}
		}
	}
	&_auth {
		margin-bottom: 15px;
	}
	&_right {
		padding: 30px 40px;
		width: 44.5%;
		float: right;
		z-index: 2;
		margin-bottom: -105px;
		img {
			display: block;
		}
	}
	&_bottom {
		background-color: #e8e7e7;
		padding: 13px 46% 8px 39px;
		// margin-top: -105px;
		// z-index: 1;
		margin-bottom: 20px;
		@extend %clear_all;
	}
	&_rev {
		// @extend %clear_a;
		&_photo {
			float: left;
			margin-right: 15px;
			width: 60px;
			height: 60px;
			@include border-radius(50%);
			overflow: hidden;
		}
		&_quote {
			overflow: hidden;
			position: relative;
			padding: 5px 21px;
			font-style: italic;
			line-height: 1.3;
			&:before {
				content: image-url('quote.png');
				display: block;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	.btn {
		width: 100%;
		max-width: 245px;
		margin-bottom: 15px;
	}
	@media (max-width: 1199px) {
		&>* {
		}
		&_top {
		}
		&_left {
			width: 50%;
		}
		&_label {
		}
		&_count {
			&_wrap {
			}
			&_item {
				&:first-child,&:last-child {
				}
				&:nth-child(3) {
				}
			}
		}
		&_auth {
		}
		&_right {
			width: 50%;
			img {
			}
		}
		&_bottom {
		}
		&_rev {
			&_photo {
			}
			&_quote {
				&:before {
				}
			}
		}
		.btn {
		}
	}
	@media (max-width: 991px) {
		&>* {
		}
		&_top {
		}
		&_left {
			width: 100%;
		}
		&_label {
		}
		&_count {
			&_wrap {
			}
			&_item {
				&:first-child,&:last-child {
				}
				&:nth-child(3) {
				}
			}
		}
		&_auth {
		}
		&_right {
			display: none;
			img {
			}
		}
		&_bottom {
			padding: 15px;
		}
		&_rev {
			&_photo {
			}
			&_quote {
				&:before {
				}
			}
		}
		.btn {
		}
	}
	@media (max-width: 767px) {
		&>* {
		}
		&_top {
		}
		&_left {
			padding: 10px;
		}
		&_label {
			font-size: 18px;
			margin: 10px 0 15px;
		}
		&_count {
			font-size: 14px;
			margin-bottom: 15px;
			&_wrap {
				display: block;
				margin-bottom: 6px;
				margin-right: 0;
			}
			&_item {
				font-size: 18px;
				width: 35px;
				line-height: 35px;
				&:first-child,&:last-child {
				}
				&:nth-child(3) {
				}
			}
		}
		&_auth {
		}
		&_right {
			img {
			}
		}
		&_bottom {
			padding-left: 5px;
			padding-right: 5px;
		}
		&_rev {
			&_photo {
				float: none;
				margin: 0 auto 10px;
			}
			&_quote {
				padding-right: 0;
				font-size: 13px;
				&:before {
				}
				a {
					display: block;
				}
			}
		}
		.btn {
		}
	}
}

.simple__grid {
	max-width: 1180px;
	margin: auto;
	@include flex-flow(row nowrap);
	.grid__wrapper {}
	.grid__item {
		background-color: #fff;
		img {
			display: block;
			width: 100%;
		}
	}
	&_text {
		padding: 20px 16px;
		min-height: 92px;
	}
	@media (max-width: 1199px) {
		@include flex-flow(row wrap);
		@include justify-content(center);
		.grid__wrapper {
			@include flex-basis(218px);
		}
	}
	@media (max-width: 991px) {
		
	}
	@media (max-width: 767px) {
		margin-left: 0;
		.grid__wrapper {
			padding-left: 0;
			@include flex-basis(270px);
		}
	}
}

.to_top {
	// display: none;
	opacity: 0;
	position: fixed;
	bottom: -45px;
	right: 5%;
	color: #767676 !important;
	font-family: Tahoma;
	font-size: 17px;
	padding: 0px 14px;
	background-color: #e8e7e7;
	overflow: hidden;
	height: 0;
	z-index: 100;
	@include trs(.8);
	&:after {
		content: image-url('to-top.png');
		display: inline-block;
		vertical-align: sub;margin-left:7px;
		height: 17px;
	}
	&:hover {
		text-decoration: none;
		background-color: #dadada;
		color: #767676;
	}
	&_show {
		opacity: 1;
		bottom: 0;
		height: auto;
		// display: block;
		padding: 10px 14px;
		@include trs(0);
	}
	&_bottom {
		position: absolute;
		bottom: inherit;
		top: -60px;
	}
	@media (max-width: 1199px) {
		
	}
	@media (max-width: 991px) {
		right: 5px;
	}
	@media (max-width: 767px) {
	}
}



// Страница 404 ошибка 404.html ///////////////
// ============================================

// Повторяющиеся элементы
h1 {
	font-size: 23px;
	.first {font-size: 32px;}
	.last {
		font-size: 35px;
		font-weight: 700;
	}
	@media (max-width: 767px) {
		font-size: 24px;
		.first,
		.last {font-size: 26px;}
	}
}

h2 {
	margin-bottom: 13px;
	font-size: 22px;
}

.search {
	position: relative;
	overflow: hidden;
	input {
		@include border-radius(0);
		width: 100%;
		padding: 13px 49px 13px 20px;
	}
	&_btn {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 15px;
		height: 100%;
		width: 49px;
		border: none;
		outline: 0;
		cursor: pointer;
		background: image-url('icon-zoom.png') no-repeat center center $danger-color;
		@include trs(.3);
		&:hover {
			opacity: .8;
		}
	}
	&_toggle {
		display: none;
	}
}

//- begin breadcrumb
.breadcrumb {
	margin: -8px 0 22px;
	li {
		display: inline-block;
		vertical-align: baseline;
		&:not(:first-child) {
			&:before {
				content: '>';
				display: inline-block;
				margin-right: 3px;
			}
		}
		&:last-child {
			a {
				cursor: default;
				text-decoration: none;
			}
		}
		
		a {
			color: #292929;
			font-size: 13px;
		}
	}
}
//- end breadcrumb


// begin Error 404
.error__pages {
	padding: 60px 0;
	background: url('../img/404-bg.jpg') no-repeat center center;
	background-size: cover;
	// background: linear-gradient(to right, #FEF3D1, #DBF3F3);
	&_area {
		position: relative;
		padding: 0 240px;
	}
	&_img {
		position: absolute;
		&:nth-child(1) {top: 17px; left: 60px;}
		&:nth-child(2) {top: 21.5px; right: 64.5px;}
		&:nth-child(3) {top: 172px; left: 0;}
		&:nth-child(4) {top: 179px; right: 7px;}
		&:nth-child(5) {bottom: 14px; left: 100px;}
		&:nth-child(6) {bottom: 18px; right: 100px;}
	}
	&_message {
		padding: 78px 77px;
		background-color: #fff;
	}
	h1 {
		margin-bottom: 39px;
		text-align: center;
	}
	p {text-align: justify;}
	.search {
		margin-top: 47px;
		padding: 0 15px;
	}
	@media (max-width: 1199px) {
		&_area {padding: 0 175px;}
		&_img {
			&:nth-child(1) {left: 15px;}
			&:nth-child(2) {right: 19.5px;}
			&:nth-child(5) {left: 24px;}
			&:nth-child(6) {right: 28px;}
		}
		&_message {padding: 78px 30px;}
	}
	@media (max-width: 991px) {
		&_area {padding: 0;}
		&_img {display: none;}
		&_message {padding: 78px 77px;}
	}
	@media (max-width: 767px) {
		&_message {padding: 40px 20px;}
		.search {padding: 0;}
		.search_btn {right: 0;}
	}
}

.search__self {
	margin-top: 50px;
	padding: 0 15px;
	@extend %clear_a;
	p {
		float: left;
		padding: 15px 0;
		margin-right: 25px;
		font-size: 18px;
	}
	&_btn {
		float: left;
		height: 49px;
		width: 220px;
		color: #ffffff;
		font-size: 15px;
		display: block;
		cursor: pointer;
		background-color: #454545;
		border: 0;
		outline: 0;
		// @include trs(.3);
		@include border-radius(0);
		&:hover {opacity: .8;}
	}
	@media (max-width: 767px) {
		margin-top: 30px;
		padding: 0;
		p {
			float: none;
			margin-right: 0;
		}
		&_btn {
			float: none;
			width: 100%;
		}
	}
}
// end Error 404


// begin Popular categories & shops
.popular {margin-bottom: 44px;}
// end Popular categories & shops


// begin Best offers
.offers {margin-bottom: -48px;}
// end Best offers


//- begin lots
.lots {
	padding: 57px 20px 11px;
	text-align: center;
	p {margin-bottom: 2px;}
	&__btn {
		width: 245px;
		padding: 9px 20px;
		margin: 30px auto 16px;
		color: #fff;
		display: block;
		cursor: pointer;
		font-size: 15px;
		font-weight: 700;
		background-color: #cf3135;
		@include border-radius(0);
		&:hover {
			text-decoration: none;
			opacity: .8;
		}
	}
}
//- end lots