/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

// Compass extention 
@import 'compass/css3';

// Variables and mixins
@import "core/variable";
@import "core/mixin";
@import "core/reset";

// Plugins
@import "plugins/slick";
@import 'core/modal';
@import 'core/tabs';

// Core
@import "core/form";
@import "core/grid";
@import "core/icons";

// Template
@import "core/header";
@import "core/footer";
@import "core/breadcrumb";
@import "core/pagination";
@import "core/template";




/* Responsive styles
----------------------------------------------------------------------------- */
// max-width: 1200px ===========================================================
@media (max-width: $breakpoint-xlarge) {
}

// max-width: 960px ===========================================================
@media (max-width: $breakpoint-large) {
	
}

// max-width: 760px ===========================================================
@media (max-width: $breakpoint-medium) {
	
}

// max-width: 480px ===========================================================
@media (max-width: $breakpoint-small) {
	
}


.slider {
	position: relative;
	&__fullwidth {
		img {
			width: 100%;
			display: block;
		}
	}
	&__item {

	}
	.slick {
		&-arrow {
			border: none;
			background-color: transparent;
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -20px;
			width: 23px;
			height: 40px;
			font-size: 0;
			outline: 0;
			z-index: 10;
			cursor: pointer;
			@include trs(.3);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			&:hover {
				opacity: .5;
			}
		}
		&-prev {
			background-image: image-url('slide-prev.png');
			left: 7%;
		}
		&-next {
			background-image: image-url('slide-next.png');
			right: 7%;
		}
		&-dots {
			position: absolute;
			bottom: 20px;
			right: 13%;
			li {
				display: inline-block;
				margin: 5px;
				button {
					@include border-radius(50%);
					font-size: 0;
					width: 12px;
					height: 12px;
					border: 1px solid #8e8e8e;
					background-color: #ffffff;
					outline: 0;
					cursor: pointer;
					@include trs(.3);
					&:hover {
						opacity: .5;
					}
				}
				&.slick-active {
					button {
						background-color: #8e8e8e;
					}
				}
			}
		}
	}
	&__grid {
		.slider__item {
			width: 280px;
			margin-right: 20px;
		}
		&_img {
			position: relative;
			overflow: hidden;
			img {
				display: block;
			}
		}
		&_overlay {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: transparentize(#000, .45);
			color: #fff;
			font-size: 21px;
			font-weight: 700;
			text-align: right;
			padding: 15px 25px;
			span {
				font-size: 14px;
				font-weight: 400;
				text-decoration: line-through;
			}
		}
		&_text {
			padding: 20px 8px;
			font-size: 18px;
			line-height: 1.3;
		}
		&_name {
			margin-bottom: 11px;
			font-size: 14px;
			a {
				font-weight: 700;
			}
		}
		.slick-list {
			overflow-x: hidden;
		}
	}
}


.home__promo {
	@extend %clear_a;
	&_code {
		float: left;
		width: 54%;
		margin-right: 9%;
		&_title {
			font-size: 23px;
			margin-bottom: 40px;
		}
		&_grid {
			margin-bottom: 56px;
			.grid__wrapper {
				font-size: 14px;
				line-height: 1.4;
				text-align: center;
				img {
					display: inline-block;
					margin-bottom: 23px;
				}
			}
		}
		&_bottom {
			&>* {
				display: inline-block;
				vertical-align: middle;
				margin-right: 20px;
				margin-bottom: 15px;
			}
		}
	}
	&_shop {
		float: left;
		width: 37%;
		background-color: $muted-color;
		padding: 30px 45px;
		@extend %clear_a;
		&_title {
			text-align: center;
			font-size: 21px;
			margin-bottom: 26px;
		}
		&_grid {
			.grid__wrapper {
				width: 33.3%;
				img {
					display: block;
					border: 1px solid #d1d1d1;
				}
			}
		}
	}
}

.section__title {
	font-family: Tahoma;
	font-size: 25px;
	margin-bottom: 35px;
	text-align: center;
	.btn {
		float: right;
	}
}

.sale__list {
	padding: 50px 0;
	text-align: center;
	&_row {
		border: 1px solid #d1d1d1;
		background-color: #ffffff;
		margin-bottom: 16px;
		text-align: left;
		@extend %clear_a;
		&_title {
			font-size: 22px;
			margin-bottom: 14px;
		}
		&+.btn {
			margin-top: 20px;
		}
	}
	&_left {
		float: left;
		width: 162px;
		padding: 30px 25px;
		border-right: 1px solid #d1d1d1;
		.btn {
			width: 100%;
			@include border-radius(0);
		}
		img {
			margin-bottom: 22px;
		}
	}
	&_right {
		float: right;
		width: 239px;
		padding: 20px 24px;
		text-align: center;
		.btn {
			width: 100%;
			margin-bottom: 22px;
		}
	}
	&_save {
		display: block;
		float: right;
		margin-bottom: 26px;
		color: $main-color;
		font-size: 14px;
		text-decoration: none;
		&:before {
			content: image-url('star-white.svg');
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			@include trs(.3);
		}
		&:hover,&.active {
			color: $warning-color;
			text-decoration: none;
			&:before {
				content: image-url('star-red.svg');
			}
		}
	}
	&_center {
		overflow: hidden;
		padding: 30px 26px;
	}
	&_deadline {
		margin-bottom: 9px;
		i {
			display: inline-block;
			vertical-align: middle;
			margin-right: 9px;
		}
	}
	&_terms {
		position: relative;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-bottom: 10px;
		padding-right: 90px;
		line-height: 1.4;
		&.open {
			white-space: normal;
			padding-bottom: 15px;
		}
	}
	&_more {
		padding-left: 10px;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&_bottom {
		color: #919191;
	}
	&_info {
		background-color: $muted-color;
		padding: 10px 16px;
		display: inline-block;
		margin-right: 20px;
		color: $main-color;
		i {
			vertical-align: middle;
			margin-left: 10px;
			cursor: pointer;
			@include trs(.3);
			&:hover {
				opacity: .8;
			}
		}
	}
}




