/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

// Compass extention 
@import 'compass/css3';

// Variables and mixins
@import "core/variable";
@import "core/mixin";
@import "core/reset";

// Plugins
@import "plugins/slick";
@import 'core/modal';
@import 'core/tabs';

// Core
@import "core/form";
@import "core/grid";
@import "core/icons";

// Template
@import "core/header";
@import "core/footer";
@import "core/breadcrumb";
@import "core/pagination";
@import "core/template";

// Header ========
.header {
	@extend %clear_a;
	.container_center {
		max-width: 1450px;
	}
	&__top {
		@extend %clear_a;
		background-color: #454545;
		padding: 8px 0;
		overflow: hidden;
		line-height: 19px;
		font-size: 14px;
		font-weight: 400;
		color: #ffffff;
		&_left {
			float: left;
			font-style: italic;
		}
		&_right {
			float: right;
		}
		&_item {
			display: inline-block;
			padding: 0 20px;
			position: relative;
			font-weight: 600;
			&:nth-child(n+2) {
				&:before {
					content: '';
					width: 1px;
					height: 19px;
					background-color: #828282;
					position: absolute;
					left: 0;
				}
			}
			i {
				margin-right: 10px;
			}			
		}
		a {
			color: #ffffff;
		}
		&_promo {
			position: relative;
			padding: 8px 8px 8px 40px;
			margin-top: -8px;
			margin-bottom: -8px;
			background-color: #ab0505;
			display: inline-block;
			font-weight: 600;
			margin-left: 6px;
			&:before {
				content: image-url('sale-bord.png');
				position: absolute;
				top: 0;
				left: -6px;
				width: 6px;
				height: 100%;
				// background: image-url('sale-bord.png') no-repeat top right;
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -100%;
				height: 100%;
				width: 100%;
				background-color: #ab0505;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__bottom {
		background-color: #f1ad1d;
		padding: 7px 0;
		position: relative;
		@extend %clear_a;
		&_center {
			overflow: hidden;
			margin-top: 8px;
		}
	}
	.logo {
		float: left;
		margin-right: 37px;
		margin-top: 8px;
	}
	&__search {
		position: relative;
		overflow: hidden;
		margin-right: 73px;
		margin-top: 8px;
		input {
			@include border-radius(0);
			border: none;
			width: 100%;
			padding: 13px 49px 13px 20px;
		}
		&_btn {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 49px;
			border: none;
			cursor: pointer;
			background: image-url('icon-zoom.png') no-repeat center center $danger-color;
			@include trs(.3);
			&:hover {
				opacity: .8;
			}
		}
		&_toggle {
			display: none;
		}
	}
}

// Login box
.login__box {
	float: right;
	padding: 6px 30px 6px 12px;
	position: relative;
	width: 220px;
	background-color: transparentize(#e49e0a, .5);
	cursor: pointer;
	@extend %clear_a;
	&.open {
		background-color: #e49e0a;
		.login__box_drop {
			height: auto;
			padding: 16px 0;
		}
		&:after {
			@include rotate(180deg);
		}
	}
	&:after {
		content: image-url('icon-carret-down.png');
		position: absolute;
		top: 50%;
		right: 12px;
		margin-top: -7px;
		@include trs(.5);
	}
	&_avatar {
		width: 48px;
		height: 48px;
		// border: 1px solid #3e3e3e;
		// background-color: #838282;
		float: left;
		margin-right: 14px;
		@include border-radius(50%);
		overflow: hidden;
		img {
			width: 100%;
			display: block;
			height: 100%;
		}
	}
	&_text {
		overflow: hidden;
		color: #ffffff;
		font-family: Arial;
		font-size: 15px;
		font-weight: 700;
		margin-top: 6px;
	}
	&_email {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	&_drop {
		background-color: #e49e0a;
		position: absolute;
		top: 60px;
		right: 0;
		width: 240px;
		z-index: 50;
		padding: 0 0;
		overflow: hidden;
		height: 0;
		@include trs(.3);
		li {
			&:not(:last-of-type) {			
				// margin-bottom: 15px;
			}
			a {
				display: block;
				padding: 11px 31px;
				color: #fff;
				&:hover {
					background-color: #eaa513;
					text-decoration: none;
				}
			}
		}
	}
}

// Nav header
.navbar {
	float: right;
	padding-right: 3%;
	padding-left: 3%;
	margin-bottom: 6px;
	@extend %clear_a;
	width: 55%;
	text-align: center;
	display: table;
	&__item {
		float: left;
		width: 33.3%;
		padding: 4px 0 10px;
		display: table-cell;
	}
	&__link {
		color: #fff;
		font-size: 17px;
		font-weight: 700;
		font-family: Arial;
		padding: 15px 10px;
		display: block;
		&:hover,&:active {
			background-color: transparentize(#e49e0a, .5);
			text-decoration: none;

		}
	}
}

.mobile__menu {
	display: none;
	&_toggle {
		display: none;
	}
	li {
		a {
		}
	}
	&_action {

	}
}

@media (max-width: 1199px) {
	// Header ========
	.header {
		.container_center {
		}
		&__top {
			&_left {
			}
			&_right {
			}
			&_item {
				&:nth-child(n+2) {
					&:before {
					}
				}
				i {
				}			
			}
			a {
			}
			&_promo {
				&:before {
				}
				&:after {
				}
				&:hover {
				}
			}
		}
		&__bottom {
			position: static;
			.container_center {
				padding: 0 20px 0 20px;
			}
			&_center {
			}
		}
		.logo {
			margin-left: 0px;
		}
		&__search {
			margin-bottom: 18px;
			margin-right: 40px;
			input {
			}
			&_btn {
				&:hover {
				}
			}
		}
	}

	// Login box
	.login__box {
		width: 200px;
		&:after {
		}
		&.open {
			.login__box_drop {
			}
		}
		&_avatar {
			img {
			}
		}
		&_text {
			font-size: 13px;
		}
		&_email {
		}
		&_drop {
		}
	}

	// Nav header
	.navbar {
		padding-left: 5px;
		padding-right: 5px;
		// display: none;
		&__item {
			margin-top: 4px;
		}
		&__link {
			font-size: 14px;
			padding: 13px 10px;
		}
	}
	.mobile__menu {
		&.open {
		}
		&_toggle {
			&:hover,&.active {
			}
		}
		li {
			a {
				&:hover {
				}
			}
		}
		&_action {
		}
	}
}

@media (max-width: 991px) {
	// Header ========
	.header {
		.container_center {
		}
		&__top {
			padding: 5px 0 0;
			.container_center {
				display: none;
			}
			&_left {
			}
			&_right {
			}
			&_item {
				&:nth-child(n+2) {
					&:before {
					}
				}
				i {
				}			
			}
			a {
			}
			&_promo {
				&:before {
				}
				&:after {
				}
				&:hover {
				}
			}
		}
		&__bottom {
			padding: 9px 14px 17px 61px; 
			position: static;
			&_center {
				input {
				}
				&.open {
					input {
					}
				}
			}
			.container_center {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.logo {
			margin-top: 0px;
			width: 129px;
			// display: inline-block;
			// float: none;
			margin-right: 10px;
			margin-left: 20px;
		}
		&__search {
			margin: 0 25px;
			input {
			}
			&_btn {
				&:hover {
				}
			}
			&_toggle {
				// display: block;
				// position: absolute;
				// right: 20px;
				// top: 26px;
				// cursor: pointer;
				&:hover,&.active {
					// opacity: .7;
				}
			}
		}
	}

	// Login box
	.login__box {
		position: static;
		width: auto;
		background-color: transparent;
		padding: 0;
		margin-top: 2px;
		&:after {
			display: none;
		}
		&.open {
			background-color: transparent;
			.login__box_drop {
			    // padding: 23px 31px;
			    // width: 240px;
			    right: 0px;
			    // padding: 23px 31px;
			    // width: 240px;
			    height: 100%;
			    width: 100%;
			    background-color: #454545;
			}
		}
		&_avatar {
			width: 42px;
			height: 42px;
			margin-right: 0px;
			img {
			}
		}
		&_text {
			display: none;
		}
		&_email {
		}
		&_drop {
			// position: fixed;
			// top: 125px;
			// height: auto;
			// width: 0;
		    padding: 23px 31px;
			right: -100%;
			text-align: right;
			height: 100%;
			li {
				a {
					&:hover {
						background-color: #535252;
					}
				}
			}
		}
	}

	// Nav header
	.navbar {
		display: none;
		&__item {
		}
		&__link {
		}
	}
	.mobile__menu {
		display: block;
		position: absolute;
		list-style: none;
		z-index: 101;
		background-color: #454545;
		width: 100%;
		height: 100%;
		// max-width: 320px;
		left: -100%;
		overflow: hidden;
		padding: 12px 0;
		// height: 0;
		// opacity: 0;
		@include trs(.3);
		&.open {
			display: block;
			padding: 12px 0;
			left: 0;
		}
		&_toggle {
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 31px;
			left: 19px;
			background: image-url('mobile-menu.svg') no-repeat center center;
			&:hover,&.active {
				opacity: .7;
			}
		}
		li {
			a {
				display: block;
				color: #fff;
				padding: 14px 31px;
				font-size: 14px;
				@include trs(.5);
				&:hover {
					text-decoration: none;
					background-color: #535252;
				}
			}
		}
		&_action {
			background-color: #ca0f0f;
		}
	}
}

@media (max-width: 767px) {
	// Header ========
	.header {
		.container_center {
		}
		&__top {
			&_left {
			}
			&_right {
			}
			&_item {
				&:nth-child(n+2) {
					&:before {
					}
				}
				i {
				}			
			}
			a {
			}
			&_promo {
				&:before {
				}
				&:after {
				}
				&:hover {
				}
			}
		}
		&__bottom {
			padding: 10px 22px 17px 51px; 
			&_center {
			}
		}
		.logo {
		}
		&__search {
			input {
			}
			&_btn {
				&:hover {
				}
			}
		}
	}

	// Login box
	.login__box {
		&:after {
		}
		&_avatar {
			margin-right: 0;
			img {
			}
		}
		&_text {
		}
		&_email {
		}
	}

	// Nav header
	.navbar {
		&__item {
		}
		&__link {
		}
	}
	.mobile__menu {
		&_toggle {
		}
		li {
			a {
			}
		}
		&_action {
			
		}
	}
}

@media (max-width: 600px) {
	// Header ========
	.header {
		.container_center {
		}
		&__top {
			&_left {
			}
			&_right {
			}
			&_item {
				&:nth-child(n+2) {
					&:before {
					}
				}
				i {
				}			
			}
			a {
			}
			&_promo {
				&:before {
				}
				&:after {
				}
				&:hover {
				}
			}
		}
		&__bottom {
			text-align: center;
			padding: 10px;
			&_center {
				overflow: inherit;
				width: 100%;
			}
		}
		.logo {
			display: inline-block;
			float: none;
		}
		&__search {
			background-color: #f1ad1d;
			margin: 14px 8px 0;;
			input {
			}
			&_btn {
				&:hover {
				}
			}
		}
	}

	// Login box
	.login__box {
		&:after {
		}
		&_avatar {
			margin-right: 0;
			img {
			}
		}
		&_text {
		}
		&_email {
		}
		&_drop {
			top: 121px;
			overflow: auto;
		}
	}

	// Nav header
	.navbar {
		&__item {
		}
		&__link {
		}
	}
	.mobile__menu {
		// z-index: 9;
		// top: 141px;
		&_toggle {
			top: 23px;
		}
		li {
			a {
			}
		}
		&_action {
			
		}
	}
}

.slider {
	position: relative;
	&__fullwide {
		img {
			width: 100%;
		}
		&_lg {			
		}
		&_sm {
			display: none !important;
		}
		.slider__item {
			position: relative;
		}
	}
	&__item {

	}
	.slick {
		&-arrow {
			border: none;
			background-color: transparent;
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -20px;
			width: 23px;
			height: 40px;
			font-size: 0;
			outline: 0;
			z-index: 10;
			cursor: pointer;
			@include trs(.3);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			&:hover {
				opacity: .5;
			}
		}
		&-prev {
			background-image: image-url('slide-prev.png');
			left: 58px;
		}
		&-next {
			background-image: image-url('slide-next.png');
			right: 58px;
		}
		&-dots {
			position: absolute;
			bottom: 14px;
			right: 178px;
			li {
				display: inline-block;
				margin: 5px;
				button {
					@include border-radius(50%);
					font-size: 0;
					width: 12px;
					height: 12px;
					border: 1px solid #8e8e8e;
					background-color: #ffffff;
					outline: 0;
					cursor: pointer;
					@include trs(.3);
					&:hover {
						opacity: .5;
					}
				}
				&.slick-active {
					button {
						background-color: #8e8e8e;
					}
				}
			}
		}
	}
	&__grid {
		padding-bottom: 50px;
		margin-top: 44px;
		.slider__item {
			width: 280px;
			margin-right: 20px;
		}
		&_img {
			position: relative;
			overflow: hidden;
			img {
				display: block;
			}
		}
		&_overlay {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: transparentize(#000, .45);
			color: #fff;
			font-size: 21px;
			font-weight: 700;
			text-align: right;
			padding: 11px 25px;
			span {
				font-size: 14px;
				font-weight: 400;
				text-decoration: line-through;
			}
		}
		&_text {
			padding: 16px 8px;
			font-size: 18px;
			line-height: 1.3;
		}
		&_name {
			margin-bottom: 6px;
			font-size: 14px;
			a {
				font-weight: 700;
			}
		}
		.slick {
			&-arrow {
				background-color: #fff;
				top: 94px;
				width: 43px;
				height: 132px;
				@include trs(.3);
				background-size: 47%;
				&:hover {
					opacity: .8;
				}
			}
			&-prev {
				background-image: image-url('slide-prev-dark.svg');
				left: 0;
				background-position: center left;
				@include border-radius(0 8px 8px 0);
			}
			&-next {
				background-image: image-url('slide-next-dark.svg');
				right: 0;
				background-position: center right;
				@include border-radius(8px 0 0 8px);
			}
			&-dots {
				position: relative;
				width: 100%;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 0px 0 8px;
				border-top: 1px solid #d1d1d1;
				border-bottom: 1px solid #d1d1d1;
				margin-top: 19px;
				text-align: center;
			}
		}
	}
	@media (max-width: 1199px) {
		
	}
	@media (max-width: 991px) {
		.slick {
			&-arrow {
				&:hover {
				}
			}
			&-prev {
				left: 15px;
			}
			&-next {
				right: 15px;
			}
			&-dots {
				right: 45px;
				li {
					button {
						&:hover {
						}
					}
					&.slick-active {
						button {
						}
					}
				}
			}
		}
		&__grid {
			.slick-list {
				padding-left: 10px;
				padding-right: 10px;
			}
			.slider__item {
				margin-right: 10px;
				margin-left: 10px;
				width: auto;
				max-width: 100%;
			}
			img {
				width: 100%;
			}
			.slick {
				&-prev {
					left: 0;
				}
				&-next {
					right: 0;
				}
			}
		}
	}
	@media (max-width: 767px) {
		&__fullwide {
			display: none;
			img {
				// width: 100%;
			}
			&_lg {
				display: none !important;		
			}
			&_sm {
				display: block !important;
			}
			.slider__item {
			}
		}
	}
}

.home__promo {
	@extend %clear_a;
	&_code {
		float: left;
		width: 54%;
		margin-right: 7%;
		&_title {
			font-size: 23px;
			margin-bottom: 45px;
		}
		&_grid {
			margin-bottom: 17px;
			margin-left: -40px;
			.grid__wrapper {
				font-size: 14px;
				line-height: 1.4;
				text-align: center;
				padding-left: 40px;
				img {
					display: inline-block;
					margin-bottom: 13px;
					margin-right: -17px;
				}
			}
		}
		&_bottom {
			&>* {
				display: inline-block;
				vertical-align: middle;
				margin-right: 35px;
				margin-bottom: 15px;
				a {
					margin: 0 6px;
				}
			}
			.btn {
				width: 100%;
				max-width: 245px;
			}
		}
	}
	&_shop {
		float: left;
		width: 39%;
		background-color: $muted-color;
		padding: 30px 45px;
		@extend %clear_a;
		&_title {
			text-align: center;
			font-size: 21px;
			margin-bottom: 26px;
		}
		&_grid {
			.grid__wrapper {
				width: 33%;
				img {
					display: block;
					border: 1px solid #d1d1d1;
				}
			}
		}
	}

	@media (max-width: 1366px) {
		&_code {
			&_title {
			}
			&_grid {
				.grid__wrapper {
					img {
					}
				}
			}
			&_bottom {
				&>* {
				}
			}
		}
		&_shop {
			&_title {
			}
			&_grid {
				.grid__wrapper {
					img {
					}
				}
			}
		}
	}
	@media (max-width: 991px) {
		&_code {
			width: 100%;
			margin-right: 0;
			&_title {
			}
			&_grid {
				.grid__wrapper {
					img {
					}
				}
			}
			&_bottom {
				margin-bottom: 20px;
				&>* {
				}
			}
		}
		&_shop {
			width: 100%;
			&_title {
			}
			&_grid {
				.grid__wrapper {
					text-align: center;
					img {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
	@media (max-width: 767px) {
		&_code {
			padding: 0 20px;
			&_title {
				padding-left: 10px;
				padding-right: 10px;
			}
			&_grid {
				@include justify-content(center);
				.grid__wrapper {
					@include flex-basis(250px);
					img {
					}
				}
			}
			&_bottom {
				&>* {
					display: block;
					margin: 16px auto;
					max-width: 300px;
					text-align: center;
				}
			}
		}
		&_shop {
			padding-left: 15px;
			padding-right: 15px;
			&_title {
			}
			&_grid {
				// @include justify-content(center);
				.grid__wrapper {
					// @include flex-basis(124px);
					img {
					}
				}
			}
		}
	}
	@media (max-width: 480px) {
		&_code {
			&.open {
				.home__promo_code_grid,.home__promo_code_bottom {
					display: block;
				}
			}
			&_title {
				font-size: 16px;
				position: relative;
				padding: 11px;
				padding-left: 40px;
				margin-bottom: 2px;
				background-color: $muted-color;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				cursor: pointer;
				// border-bottom: 2px solid #fff;
				&:before {
					content: image-url('icon-carret-right.svg');
					display: block;
					position: absolute;
					left: 16px;
					top: 13px;
				}
			}
			&_grid {
				margin-bottom: 0;
				display: none;
				.grid__wrapper {
					@include flex-basis(100%);
					position: relative;
					padding-top: 22px;
					&:before {
						content: '';
						position: absolute;
						display: block;
						top: 0;
						right: 0;
						bottom: 0;
						left: 40px;
						background-color: $muted-color;
						z-index: 0;
					}
					&>* {
						position: relative;
					}
					img {
						width: 101px;
					}
					p {
						max-width: 230px;
						margin: auto;
					}
				}
			}
			&_bottom {
				display: none;
				background-color: $muted-color;
				padding: 1px 20px;
				a {
					display: block;
				}
				&>* {
				}
			}
		}
		&_shop {
			background-color: #fff;
			padding-bottom: 0;
			&_title {
			}
			&_grid {
				.grid__wrapper {
					@include flex-basis(50%);
					img {
					}
				}
			}
		}
	}
}

.sale__list {
	padding: 0 0 50px;
	text-align: center;
	&_row {
		border: 1px solid #d1d1d1;
		background-color: #ffffff;
		margin-bottom: 19px;
		text-align: left;
		position: relative;
		@extend %clear_a;
		&:nth-child(n+6) {
			display: none;
		}
		&_title {
			font-size: 22px;
			margin-bottom: 10px;
		}
		&+.btn {
			margin-top: 20px;
			width: 100%;
			max-width: 300px;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 160px;
			top: 0;
			bottom: 0;
			width: 1px;
			background-color: #d1d1d1;
		}
	}
	&_left {
		float: left;
		width: 162px;
		padding: 30px 25px 14px;
		.btn {
			width: 100%;
			@include border-radius(0);
		}
		img {
			margin-bottom: 22px;
		}
	}
	&_right {
		float: right;
		width: 239px;
		padding: 15px 24px;
		text-align: center;
		.btn {
			width: 100%;
		}
		.btn:not(.code__btn) {
			margin-bottom: 22px;
		}
	}
	&_save {
		display: inline-block;
		float: right;
		margin-bottom: 22px;
		color: $main-color;
		font-size: 14px;
		text-decoration: none;
		&:before {
			content: image-url('star-white.svg');
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			@include trs(.3);
		}
		&:hover,&.active {
			// color: $warning-color;
			text-decoration: none;
			&:before {
				content: image-url('star-red.svg');
			}
		}
	}
	&_center {
		overflow: hidden;
		padding: 28px 26px 15px;
	}
	&_deadline {
		margin-bottom: 6px;
		i {
			display: inline-block;
			vertical-align: middle;
			margin-right: 9px;
		}
	}
	&_terms {
		position: relative;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-bottom: 10px;
		padding-right: 90px;
		line-height: 1.4;
		&.open {
			white-space: normal;
			padding-bottom: 15px;
			padding-right: 0;
			.sale__list_more {
				position: static;
			}
		}
	}
	&_more {
		padding-left: 10px;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&_bottom {
		a {
			color: #919191;
		}
	}
	&_info {
		background-color: $muted-color;
		padding: 9px 15px 4px;
		display: inline-block;
		margin-right: 20px;
		color: $main-color;
		i {
			vertical-align: middle;
			margin-left: 10px;
			cursor: pointer;
			@include trs(.3);
			&:hover {
				opacity: .8;
			}
		}
	}
	.code {
		&__wrap {
			position: relative;
			display: inline-block;
			width: 100%;
			overflow: hidden;
			text-align: left;
			@include border-radius(4px);
			margin-bottom: 22px;
			min-height: 40px;
			&.open {
				// &:after,&:before {
				// 	width: 0;
				// }
				// text-align: center;
				.code__field {
					text-align: center;
				}	
				.code__btn {
					// z-index: 0;
					width: 0;
					padding: 11px 0;
					// font-size: 0;
					white-space: nowrap;
					// @include trs(.5s);
					height: 40px;
				}
			}
		}
		&__field {
			// overflow: hidden;
			@include border-radius(4px);
			padding: 11px 10px 11px;
			border: 1px solid #c7c7c7;
			position: absolute;
			z-index: 1;
			background-color: #fff;
			top: 0;
			left: 0;
			width: 100%;
			text-align: right;
		}
		&__btn {
			position: relative;
			z-index: 4;
			width: 86%;
			min-height: 40px;
			overflow: hidden;
			@include border-radius(4px 0 4px 4px);
			@include trs(.5s);
			&:hover {
				// background-color: #fff;
			}
			&:after,&:before {
				content: '';
				display: block;
				position: absolute;
				// top: 0;
				// ri: 0px;
				// width: 100%;
			}
			&:after {
				// left: 0;
				// background: image-url('open-code.png') no-repeat center right transparent;
				z-index: 1;
				@include trs(.8);
				right: 3px;
				top: 4px;
				// width: 0px;
				// height: 0px;
				border: 10px solid transparent;
				border-right-color: #075794;
				// background-color: #075794;
				@include rotate(-45deg);
			}
			&:before {
				// background-color: #0095e1;
				// width: 52%;
				// z-index: 2;
				// @include trs(.4);
				
				z-index: 0;
				right: -9px;
				top: -8px;
				// width: 0px;
				// height: 0px;
				border: 9px solid transparent;
				border-right-color: #fff;
				border-bottom-color: #c7c7c7;
				@include rotate(135deg);
				// background-color: #fff;
			}
		}
	}
	@media (max-width: 1366px) {
		&_row {
			&:nth-child(n+6) {
			}
			&_title {
			}
			&+.btn {
			}
			&:before {
			}
		}
		&_left {
			.btn {
			}
			img {
			}
		}
		&_right {
			.btn {
			}
		}
		&_save {
			&:before {
			}
			&:hover,&.active {
				&:before {
				}
			}
		}
		&_center {
		}
		&_deadline {
			i {
			}
		}
		&_terms {
			&.open {
			}
		}
		&_more {
		}
		&_bottom {
		}
		&_info {
			display: block;
			margin-right: 0;
			margin-bottom: 8px;
			i {
				&:hover {
				}
			}
		}
	}
	@media (max-width: 1199px) {
		&_row {
			&:nth-child(n+6) {
			}
			&_title {
			}
			&+.btn {
			}
			&:before {
			}
		}
		&_left {
			.btn {
			}
			img {
				margin-bottom: 10px;
			}
		}
		&_right {
			font-size: 0;
			.btn {
			}
		}
		&_save {
			&:before {
			}
			&:hover,&.active {
				&:before {
				}
			}
		}
		&_center {
		}
		&_deadline {
			i {
			}
		}
		&_terms {
			&.open {
			}
		}
		&_more {
		}
		&_bottom {
			display: none;
		}
		.code {
			&__wrap {
			}
			&__field {
				font-size: 14px;
			}
		}
		&_info {
			display: block;
			margin-right: 0;
			margin-bottom: 8px;
			i {
				&:hover {
				}
			}
		}
	}
	@media (max-width: 991px) {
		&_row {
			// &:nth-child(n+4) {
			// 	display: none;
			// }
			&_title {
			}
			&+.btn {
			}
			&:before {
				left: 145px;
			}
		}
		&_left {
			padding: 15px;
			width: 145px;
			// min-height: 170px;
			@include flexbox();
			@include flex-flow(row wrap);
			.btn {
				@include align-self(flex-end);
			}
			img {
				// margin-bottom: 5px;
			}
		}
		&_right {
			padding: 15px;
			width: 188px;
			.btn {
			}
		}
		&_save {
			&:before {
			}
			&:hover,&.active {
				&:before {
				}
			}
		}
		&_center {
			padding: 15px;
		}
		&_deadline {
			i {
			}
		}
		&_terms {
			&.open {
			}
		}
		&_more {
		}
		&_bottom {
			display: none;
		}
		.code {
			&__wrap {
			}
			&__field {
			}
		}
		&_info {
			display: block;
			margin-right: 0;
			margin-bottom: 6px;
			i {
				&:hover {
				}
			}
		}
	}
	@media (max-width: 600px) {
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 47px;
		&_row {
			font-size: 12px;
			margin-right: 16px;
			&:nth-child(n+6) {
			}
			&_title {
				font-size: 15px;
				font-weight: 400;
			}
			&+.btn {
				margin-top: 0;
				max-width: 266px;
			}
			&:before {
				display: none;
			}
		}
		&_left {
			padding: 10px;
			min-height: inherit;
			width: 90px;
			text-align: center;
			.btn {
				display: none;
			}
			img {
				display: inline-block;
				margin-bottom: 0;
			}
		}
		&_right {
			width: auto;
			font-size: 0;
			padding: 7px 6px;
			.btn {
				display: none;
			}
		}
		&_save {
			font-size: 0;
			&:before {
				margin-right: 0;
			}
			&:hover,&.active {
				&:before {
				}
			}
		}
		&_center {
			padding: 10px 0;
		}
		&_deadline {
			display: none;
			i {
			}
		}
		&_terms {
			display: none;
			&.open {
			}
		}
		&_more {
			right: inherit;
			left: 0;
			padding-left: 0;
		}
		&_bottom {
			display: none;
		}
		&_info {
			padding: 6px 11px 3px;
			i {
				&:hover {
				}
			}
		}
		.code {
			&__wrap {
				display: none;
			}
			&__field {
				font-size: 14px;
				text-align: center;
			}
		}
		&_mob-link {
			position: absolute;
			right: -16px;
			border: 1px solid #d1d1d1;
			border-left: none;
			top: 50%;
			margin-top: -22px;
			height: 44px;
			width: 16px;
			display: block;
			background: image-url('angel-right.png') no-repeat left center #fff;
		}
	}
}

.columns__list {
	margin-bottom: -20px;
	vertical-align: top;
	@include columns-text(130px, 4, 40px, 0px, solid, #000);
	li {
		display: block;
		margin-bottom: 20px;
	}
	@media (max-width: 1199px) {
		margin-bottom: 10px;
	}
	@media (max-width: 991px) {
		margin-bottom: 0px;
		
	}
	@media (max-width: 767px) {
		
	}
}

.category__box {
	// margin-left: -78px;
	@extend %clear_a;
	&>* {
		// padding-left: 78px;
	}
	&_grid {
		width: 69%;
		float: left;
		color: $main-color;
		text-align: center;
		padding-right: 10%;
		margin-bottom: -25px;
		@include justify-content(center);
		.grid__wrapper {
			@include flex-basis(33%);
		}
		img {
			display: block;
			margin-bottom: 8px;
			width: 100%;
		}
	}
	.columns__list {
		width: 32%;
	}
	@media (max-width: 1366px) {
		&_grid {
			.grid__wrapper {
				font-size: 14px;
			}
		}
	}
	@media (max-width: 1280px) {
		&_grid {
			.grid__wrapper {
				@include flex-basis(50%);
				&:nth-child(n+7) {
					display: none;
				}
			}
			img {
			}
		}
		.columns__list {
		}
	}
	@media (max-width: 991px) {
		&_grid {
			width: auto;
			margin-bottom: 20px;
			padding-right: 0;
			// margin-bottom: 0;
			.grid__wrapper {
				@include flex-basis(25%);
				&:nth-child(n+7) {
					display: inline-block;
				}
				&:last-child {
					display: none;
				}
			}
			img {
			}
		}
		.columns__list {
			width: 100%;
		}
	}
	@media (max-width: 767px) {
		&_grid {
			width: auto;
			margin-bottom: 30px;
			padding-right: 0;
			margin-bottom: 0;
			.grid__wrapper {
				@include flex-basis(33.3%);
				&:last-child {
					display: inline-block;
				}
			}
			img {
			}
		}
		.columns__list {
			display: none;
		}
	}
	@media (max-width: 480px) {
		background-color: #fff;
		&_grid {
			.grid__wrapper {
				@include flex-basis(50%);
				&:last-child {
					display: none;
				}
			}
			img {
			}
		}
		.columns__list {
		}
	}
}

.banner__box {
	margin: 40px 0 36px;
	&_link {
		&:hover {
			text-decoration: none;
		}
		img {
			// display: block;
			width: 100%;
		}
	}
	&_img {
		&_lg {
			display: block;
			// width: 100%;
		}
		&_sm {
			display: none;
			// width: 100%;
		}
	}
	&_text {
		color: #454545;
		padding: 37px 60px 0;
		height: 78px;
		overflow: hidden;
		line-height: 1.3;
		position: relative;
		b {
			font-size: 18px;
			vertical-align: baseline;
		}
		&.open {
			height: auto;
			.banner__box_more {
				position: static;
				padding-left: 5px;
				display: inline-block;
				&:before {
					content: '';
					display: none;
				}
			}
		}
	}
	&_more {
		color: $link-color;
		cursor: pointer;
		position: absolute;
		right: 50px;
		bottom: 0;
		background-color: #f1f1f1;
		&:hover {
			text-decoration: underline;
		}
		&:before {
			content: '...';
			color: $main-color;
			margin-right: 10px;
			display: inline-block;
			vertical-align: bottom;
		}
	}
	@media (max-width: 1199px) {
		
	}
	@media (max-width: 991px) {
		
	}
	@media (max-width: 767px) {
		margin: 0;
		&_img {
			&_lg {
				display: none;
			}
			&_sm {
				display: block;
			}
		}
		&_text {
			display: none;
		}
	}
}

.counter__box {
	background-color: #fff;
	border: 1px solid #d1d1d1;
	padding-bottom: 0px;
	@extend %clear_a;
	&>* {
		// position: relative;
	}
	&_top {
		@extend %clear_a;
		// z-index: 2;
	}
	&_left {
		float: left;
		z-index: 0;
		width: 55.5%;
		padding: 30px;
		text-align: center;
		@extend %clear_a;
	}
	&_label {
		font-size: 24px;
		margin: 23px 0 23px;
	}
	&_count {
		// @extend %clear_a;
		margin-bottom: 33px;
		font-size: 21px;
		&_wrap {
			display: inline-block;
			margin-right: 20px;
			vertical-align: middle;
		}
		&_item {
			display: inline-block;
			// vertical-align: middle;
			width: 42px;
			line-height: 42px;
			font-size: 30px;
			color: #ffffff;
			background-color: #454545;
			// margin: 0 0px;
			&:first-child,&:last-child {
				background-color: $warning-color;
			}
			&:nth-child(3) {
				margin-right: 12px;
			}
		}
	}
	&_auth {
		margin-bottom: 15px;
	}
	&_right {
		padding: 30px 40px;
		width: 44.5%;
		float: right;
		z-index: 2;
		margin-bottom: -105px;
		img {
			display: block;
		}
	}
	&_bottom {
		background-color: #e8e7e7;
		padding: 13px 46% 8px 39px;
		// margin-top: -105px;
		// z-index: 1;
		margin-bottom: 20px;
		@extend %clear_all;
	}
	&_rev {
		// @extend %clear_a;
		&_photo {
			float: left;
			margin-right: 15px;
			width: 60px;
			height: 60px;
			@include border-radius(50%);
			overflow: hidden;
		}
		&_quote {
			overflow: hidden;
			position: relative;
			padding: 5px 21px;
			font-style: italic;
			line-height: 1.3;
			&:before {
				content: image-url('quote.png');
				display: block;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	.btn {
		width: 100%;
		max-width: 245px;
		margin-bottom: 15px;
	}
	@media (max-width: 1199px) {
		&>* {
		}
		&_top {
		}
		&_left {
			width: 50%;
		}
		&_label {
		}
		&_count {
			&_wrap {
			}
			&_item {
				&:first-child,&:last-child {
				}
				&:nth-child(3) {
				}
			}
		}
		&_auth {
		}
		&_right {
			width: 50%;
			img {
			}
		}
		&_bottom {
		}
		&_rev {
			&_photo {
			}
			&_quote {
				&:before {
				}
			}
		}
		.btn {
		}
	}
	@media (max-width: 991px) {
		&>* {
		}
		&_top {
		}
		&_left {
			width: 100%;
		}
		&_label {
		}
		&_count {
			&_wrap {
			}
			&_item {
				&:first-child,&:last-child {
				}
				&:nth-child(3) {
				}
			}
		}
		&_auth {
		}
		&_right {
			display: none;
			img {
			}
		}
		&_bottom {
			padding: 15px;
		}
		&_rev {
			&_photo {
			}
			&_quote {
				&:before {
				}
			}
		}
		.btn {
		}
	}
	@media (max-width: 767px) {
		&>* {
		}
		margin: 20px;
		// margin-right: 20px;
		&_top {
		}
		&_left {
			padding: 10px;
		}
		&_label {
			font-size: 16px;
			margin: 10px 0 15px;
		}
		&_count {
			font-size: 12px;
			margin-bottom: 15px;
			&_wrap {
				// display: block;
				margin-bottom: 6px;
				margin-right: 10px;
				vertical-align: super;
			}
			&_item {
				font-size: 16px;
				width: 30px;
				line-height: 30px;
				&:first-child,&:last-child {
				}
				&:nth-child(3) {
					margin-right: 5px;
				}
			}
		}
		&_auth {
		}
		&_right {
			img {
			}
		}
		&_bottom {
			padding-left: 5px;
			padding-right: 5px;
		}
		&_rev {
			&_photo {
				// float: none;
				margin-right: 10px;
				width: 44px;
				height: 44px;
			}
			&_quote {
				padding-right: 0;
				font-size: 13px;
				&:before {
				}
				a {
					display: block;
				}
			}
		}
		.btn {
		}
	}
}

.simple__grid {
	max-width: 1180px;
	width: 100%;
	margin: auto;
	overflow: auto;
	white-space: nowrap;
	@include flex-flow(row nowrap);
	@include justify-content(flex-start);
	.grid__wrapper {
		white-space: normal;
	}
	.grid__item {
		background-color: #fff;
		img {
			display: block;
			width: 100%;
		}
	}
	&_text {
		padding: 20px 16px;
		min-height: 92px;
	}
	@media (max-width: 1199px) {
		// @include flex-flow(row wrap);
		// @include justify-content(center);
		margin-left: -10px;
		.grid__wrapper {
			@include flex-basis(215px);
			min-width: 215px;
		}
	}
	@media (max-width: 991px) {
		
	}
	@media (max-width: 767px) {
		// margin-left: 0;
		// max-width: 100%;
		// margin-left: -10px;
		// @include flex-flow(row nowrap);
		// @include justify-content(flex-start);
		// position: relative;
		&:after {
			// content: '';
			// position: absolute;
			// display: block;
			// top: 0;
			// right: 0;
			// bottom: 0;
			// width: 20px;
			// background-color: #f1f1f1;
		}
		.grid__wrapper {
			// padding-left: 0;
			// @include flex-basis(215px);
			// min-width: 215px;
			// width: 215px;
			// min-width: 215px;
		}
	}
	@media (max-width: 400px) {
		// margin-left: 0;
		.grid__wrapper {
			// padding-left: 0;
			// @include flex-basis(100%);
		}
	}
}

.to_top {
	// display: none;
	position: absolute;
	top: -60px;
	right: 5%;
	color: #767676 !important;
	font-family: Tahoma;
	font-size: 17px;
	padding: 10px 14px;
	background-color: #e8e7e7;
	z-index: 100;
	@include trs(.8);
	&_float {
		padding: 0px 14px;
		overflow: hidden;
		height: 0;
		opacity: 0;
		position: fixed;
		bottom: -45px;
		top: inherit;
	}
	&:after {
		content: image-url('to-top.png');
		display: inline-block;
		vertical-align: sub;margin-left:7px;
		height: 17px;
	}
	&:hover {
		text-decoration: none;
		background-color: #dadada;
		color: #767676;
	}
	&_show {
		opacity: 1;
		bottom: 0;
		height: auto;
		// display: block;
		padding: 10px 14px;
		@include trs(0);
	}
	&_bottom {
		position: absolute;
		bottom: inherit;
		top: -60px;
	}
	@media (max-width: 1199px) {
		
	}
	@media (max-width: 991px) {
		right: 5px;
	}
	@media (max-width: 767px) {
	}
}
	

// ---------------------------------------------
// Повторяющиеся элементы
h1 {
	font-size: 23px;
	font-weight: 400;
	@media (max-width: 767px) {
		text-align: center;
	}
}

h2 {
	margin-bottom: 13px;
	font-size: 22px;
	font-weight: 400;
}

p {
	&.note {
		padding: 22px 32px;
		margin: 28px 0 30px 20px;
		background-color: $muted-color;
		border-left: 8px solid $success-color;
		@media (max-width: 767px) {
			padding: 20px;
			margin: 28px 0 30px;
			text-align: center;
			border-left: 0;
		}
	}
	&.ind {
		@media (max-width: 767px) {
			text-align: center;
		}
	}
}

.ind {
	@media (max-width: 767px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.search {
	position: relative;
	overflow: hidden;
	input {
		@include border-radius(0);
		width: 100%;
		padding: 13px 49px 13px 20px;
	}
	&_btn {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 15px;
		height: 100%;
		width: 49px;
		border: none;
		outline: 0;
		cursor: pointer;
		background: image-url('icon-zoom.png') no-repeat center center $danger-color;
		@include trs(.3);
		&:hover {
			opacity: .8;
		}
	}
	&_toggle {
		display: none;
	}
}

.mt {
	&_10 {
		margin-top: 10px;
	}
	&_20 {
		margin-top: 20px;
	}
	&_30 {
		margin-top: 30px;
	}
	&_40 {
		margin-top: 40px !important;
	}
	&_50 {
		margin-top: 50px;
	}
	&_60 {
		margin-top: 60px;
	}
	&_reset {
		margin-top: 0 !important;
	}
}

.mb {
	&_10 {
		margin-bottom: 10px;
	}
	&_20 {
		margin-bottom: 20px;
	}
	&_30 {
		margin-bottom: 30px;
	}
	&_40 {
		margin-bottom: 40px;
	}
	&_50 {
		margin-bottom: 50px;
	}
	&_60 {
		margin-bottom: 60px;
	}
	&_reset {
		margin-bottom: 0;
	}
}

.pb {
	&_10 {
		padding-bottom: 10px;
	}
	&_20 {
		padding-bottom: 20px;
	}
	&_30 {
		padding-bottom: 30px;
	}
	&_40 {
		padding-bottom: 40px;
	}
	&_50 {
		padding-bottom: 50px;
	}
	&_60 {
		padding-bottom: 60px;
	}
	&_reset {
		padding-bottom: 0;
	}
}

.dn {
	display: none;
}

// begin breadcrumb
.breadcrumb {
	margin: -8px 0 22px;
	li {
		display: inline-block;
		vertical-align: baseline;
		&:not(:first-child) {
			&:before {
				content: '>';
				display: inline-block;
				margin-right: 3px;
			}
		}
		&:last-child {
			a {
				cursor: default;
				text-decoration: none;
			}
		}
		
		a {
			color: #292929;
			font-size: 13px;
		}
	}
}
// end breadcrumb

.main__content {
	@extend %clear_a;
	&_sidebar {
		width: 280px;
	}
	&_center {
		overflow: hidden;
		.white__line {
			padding: 30px 40px;
		}
	}
	@media (max-width: 1199px) {
		&_sidebar {
			display: none;
		}
	}
	@media (max-width: 767px) {
		&_center {
			.white__line {
				padding: 30px 0;
			}
		}
	}
}

.fl {
	&_left {
		float: left;
	}
	&_right {
		float: right;
		margin-left: 80px;
	}
}

.line {
	height: 1px;
	margin-top: 47px;
	background-color: #dadada;
}

.date {
	color: #838282;
}

// ---------------------------------------------------

// Страница 404 ошибка 404.html ///////////////
// ============================================

// begin Error 404
.error__pages {
	padding: 60px 0;
	background: url('../img/404-bg.jpg') no-repeat center center;
	background-size: cover;
	// background: linear-gradient(to right, #FEF3D1, #DBF3F3);
	&_area {
		position: relative;
		padding: 0 240px;
	}
	&_img {
		position: absolute;
		&:nth-child(1) {
			top: 17px;
			left: 60px;
		}
		&:nth-child(2) {
			top: 21.5px;
			right: 64.5px;
		}
		&:nth-child(3) {
			top: 172px;
			left: 0;
		}
		&:nth-child(4) {
			top: 179px;
			right: 7px;
		}
		&:nth-child(5) {
			bottom: 14px;
			left: 100px;
		}
		&:nth-child(6) {
			bottom: 18px;
			right: 100px;
		}
	}
	&_message {
		padding: 78px 77px;
		background-color: #fff;
		&_first {
			font-size: 32px;
		}
		&_last {
			font-size: 35px;
			font-weight: 700;
		}
	}
	h1 {
		text-align: center;
	}
	p {
		text-align: justify;
	}
	.search {
		margin-top: 47px;
		padding: 0 15px;
		white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
	}
	@media (max-width: 1199px) {
		&_area {
			padding: 0 175px;
		}
		&_img {
			&:nth-child(1) {
				left: 15px;
			}
			&:nth-child(2) {
				right: 19.5px;
			}
			&:nth-child(5) {
				left: 24px;
			}
			&:nth-child(6) {
				right: 28px;
			}
		}
		&_message {
			padding: 78px 30px;
		}
	}
	@media (max-width: 991px) {
		&_area {
			padding: 0;
		}
		&_img {
			display: none;
		}
		&_message {
			padding: 78px 77px;
		}
	}
	@media (max-width: 767px) {
		&_message {
			padding: 40px 20px;
			&_first {
				font-size: 24px;
			}
			&_last {
				font-size: 26px;
			}
		}
		.search {
			padding: 0;
		}
		.search_btn {
			right: 0;
		}
	}
}

.search__self {
	margin-top: 50px;
	padding: 0 15px;
	@extend %clear_a;
	p {
		float: left;
		padding: 15px 0;
		margin-right: 25px;
		font-size: 18px;
	}
	&_btn {
		float: left;
		height: 49px;
		width: 220px;
		color: #ffffff;
		font-size: 15px;
		display: block;
		cursor: pointer;
		background-color: #454545;
		border: 0;
		outline: 0;
		// @include trs(.3);
		@include border-radius(0);
		&:hover {
			opacity: .8;
		}
	}
	@media (max-width: 767px) {
		margin-top: 30px;
		padding: 0;
		p {
			float: none;
			margin-right: 0;
		}
		&_btn {
			float: none;
			width: 100%;
		}
	}
}
// end Error 404


// begin lots
.lots {
	padding: 57px 20px 11px;
	text-align: center;
	h2 {
		font-weight: 400;
	}
	p {
		margin-bottom: 2px;
	}
	.btn {
		width: 245px;
		margin: 30px auto 16px;
		color: #fff;
		display: block;
		cursor: pointer;
		font-size: 15px;
		font-weight: 700;
		background-color: #cf3135;
		@include border-radius(0);
		&:hover {
			text-decoration: none;
			opacity: .8;
		}
	}
	&_a {
		margin-left: 8px;
	}
}
// end lots


// Блог Главная blog.html ///////////////
// ======================================

// begin blog__top
.blog__top {
	@include flexbox();
	&_left {
		position: relative;
		margin-right: 20px;
		@include flex(1);
		img {
			width: 100%;
		}
	}
	&_big {
		&_name {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 23px 39px;
			color: #fff;
			font-size: 21px;
			background-color: rgba(0, 0, 0, 0.75);
		}
	}
	&_right {
		width: 39.5%;
		@include flexbox();
		@include flex-flow(column nowrap);
		@include justify-content(space-between);
	}
	&_item {
		height: 29%;
		@include flexbox();
		@include justify-content(space-between);
		img {
			width: 220px;
			height: auto;
			margin-right: 23px;
			display: block;
		}
		&_text {
			@include align-self(center);
			@include flex-grow(1);
		}
		&_name {
			max-height: 84px;
			overflow: hidden;
			color: $main-color;
			font-size: 18px;
		}                               
	}
	a {
		text-decoration: none;
	}
	@media (max-width: 1199px) {
		@include flex-flow(column nowrap);
		&_left {
			margin-right: 0;
			img {
				width: 100%;
			}
		}
		&_right {
			width: 100%;
		}
		&_item {
			margin-top: 20px;
		}
	}
	@media (max-width: 767px) {
		&_big {
			&_name {
				position: static;
				margin-top: -3px;
				text-align: center;
			}
		}
		&_item {
			height: auto;
			@include flex-flow(column nowrap);
			img {
				height: auto;
				margin: 0 auto 20px;
			}
			&_text {
				text-align: center;
			}
			&_name {
				max-height: auto;
				overflow: visible;
			}                               
		}
	}
}
// end blog__top


// begin sidebar
.sidebar__section {
	padding-top: 26px;
	padding-bottom: 45px;
	border-bottom: 1px solid #dadada;
	&:last-child {border-bottom: 0;}
	&_name {
		margin-bottom: 26px;
		font-size: 18px;
	}
	.btn {
		width: 190px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.columns__list {
	@include columns-text(110px, 2, 50px, 0px, solid, #000);
		a {
			color: $main-color;
		}
	}
}


.sidebar__coupon {
	@extend %clear_a;
	&_link {
		float: right;
		width: 40px;
		height: 257px;
		background: #dadada url('../img/arrow-next.png') no-repeat center center;
	}
	&_list {
		overflow: hidden;
		.category__box_grid {
			width: 240px;
			padding: 0;
			margin: 0;
		}
		.grid__wrapper {
			@include flex-basis(50%);
			padding: 0 20px 15px 0;
			float: left;
		}
		.grid__item {
			color: #2d2d2d;
		}
	}

}


.b__hashtag {
	&_item {
		margin-top: 18px;
		display: block;
		color: $main-color;
		font-size: 15px;
		&:first-child {margin-top: 0;}
		&:hover {
			text-decoration: none;
		}
		&:before {
			content: '#';
		}
	}
}
// end sidebar


// begin main__content_center

// Список хештегов
.b__hashtag {
	&_list {
		margin-left: -20px;
		display: inline-block;
		&:before {
			content: 'Искать по хештегу:';
			margin-left: 25px;
			font-size: 18px;
		}
	}
	&_item {
		&.ib {
			padding: 8px 15px;
			margin-left: 20px;
			display: inline-block;
			font-size: 14px;
			background-color: $muted-color;
			@include border-radius(5px);
			&:hover {
				background-color: #e8e7e7;
			}
		}
	}
	&.center {
		margin-bottom: 50px;
		padding: 12px 35px 32px;
		background-color: #fff;
		border: 1px solid #d1d1d1;
	}
	@media (max-width: 479px) {
		&_list {
			display: block;
			&:before {
				content: 'Искать по хештегу:';
				display: block;
			}
		}
		&.center {
			padding: 32px 20px;
			border-left: 0;
			border-right: 0;
		}
	}
}

// Список статей
.b__article {
	&_item {
		height: 237px;
		margin-top: 40px;
		background-color: #fff;
		border: 1px solid #d1d1d1;
		@extend %clear_a;
	}
	&_img {
		float: left;
		display: block;
		cursor: pointer;
	}
	&_info {
		position: relative;
		overflow: hidden;
		padding: 30px 40px 24px;
	}
	&_name {
		height: 50px;
		margin-bottom: 10px;
		overflow: hidden;
		font-size: 21px;
	}
	&_text {
		height: 32px;
		margin-bottom: 23px;
		overflow: hidden;
		text-align: justify;
		&_top {
			margin-bottom: 30px;
			font-family: Tahoma;
			font-size: 15px;
		}
	}
	&_p {
		color: #838282;
		@extend %clear_a;
		.date:after {
			content: '|';
			margin-left: 5px;
			margin-right: 5px;
		}
		.category {
			cursor: pointer;
			color: #2893e5;
			&:before {
				content: '#';
			}
		}
	}
	&_comments {
		@extend %clear_a;
		&_img {
			float: left;
			margin-right: 10px;
			display: block;
		}
		&_link {
			color: #838282;
		}
	}
	&_more {
		position: absolute;
		bottom: 20px;
		right: 42px;
		cursor: pointer;
		color: #2893e5;
		font-size: 17px;
	}
	&_hero {
		font-size: 13px;
	}
	@media (max-width: 767px) {
		&_item {
			height: auto;
			background-color: transparent;
			border: 0;
		}
		&_img {
			width: 339px;
			float: none;
			margin: 0 auto 20px;
		}
		&_info {
		    padding: 20px;
		    margin-left: 20px;
			margin-right: 20px;
		    overflow: visible;
			background-color: #fff;
			border: 1px solid #d1d1d1;	
		}
		&_name,
		&_text {
			height: auto;
			overflow: visible;
			text-align: center;
		}
		&_hero {
			margin-left: 20px;
			margin-right: 20px;
			text-align: center;
		}
	}
	@media (max-width: 479px) {
		&_item {
			background-color: #fff;
		}
		&_img {
			width: 100%;
			margin-bottom: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
		&_info {
			padding: 20px 20px 60px;
			margin-left: 0;
			margin-right: 0;
			border: 0;
			border-bottom: 1px solid #d1d1d1;
		}
	}
}

// Рекламный пост
.b__article_ad {
	margin-top: 40px;
	margin-bottom: 10px;
	background-color: #e8e7e7;
	border: 2px dashed #B5B4B4;
	@extend %clear_a;
	&_img {
		float: left;
		display: block;
	}
	&_info {
		overflow: hidden;
		padding: 40px 30px 35px;
	}
	h2 {
		height: 26px;
		overflow: hidden;
	}
	&_text {
		height: 16px;
		overflow: hidden;
	}
	&_in {
		margin-top: 27px;                               
		@extend %clear_a;
		.btn {
			width: 217px;
			float: left;
			margin-right: 25px;
			display: block;
		}
		p {
			padding-top: 12px;
			overflow: hidden;
			a {
				margin-left: 8px;
			}
		}
	}
	@media (max-width: 767px) {
		margin-left: 20px;
		margin-right: 20px;
		&_img {
			width: 184px;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
		&_info {
			padding: 10px 20px 35px;
		}
		h2,
		&_text {
			text-align: center;
			height: auto;
			overflow: visible;
		}
		&_in {
			.btn {
				float: none;
				margin-left: auto;
				margin-right: auto;
			}
			p {
				text-align: center;
			}
		}
	}
	@media (max-width: 479px) {
		margin-left: 0;
		margin-right: 0;
		border-left: 0;
		border-right: 0;
	}
}

// Продолжение следует
.b__continue {
	width: 280px;
	margin: 50px auto 0;
	@extend %clear_a;
	&_img {
		float: left;
		margin-right: 24px;
		display: block;
	}
	&_text {
	    padding-top: 16px;
		overflow: hidden;
		font-size: 17px;
	}
}
// end main__content_center



// Блог Статья blog-article.html ///////////////
// =============================================

// begin b__article_text_top 
.b__article_top {
	margin-bottom: 34px;
	@include flexbox();
	&_left {
		width: 35px;
		margin-right: 25px;
	}
	&_right {
		@include flex-grow(1);
		&_img {
			width: 100%;
			height: auto;
		}
	}
	@media (max-width: 767px) {
		@include flex-flow(column nowrap);
		&_left {
			width: 334px;
			margin-left: auto;
			margin-right: auto;
			@include order(1);
		}
	}
	@media (max-width: 479px) {
		&_left {
			width: 240px;
		}
	}
}

.b__article_social {
	@extend %clear_a;
	&_icon {
		width: 35px;
		margin-top: 6px;
		float: left;
		display: block;
		&:first-child {margin-top: 0;}
		img {
			width: 100px;
			height: auto;
		}
	}
	&_comments {
		width: 35px;
		padding: 42px 0 7px;
		float: left;
		text-align: center;
		background: #dadada url('../img/icon-com2.png') no-repeat 0 0;
	}
	&_text {
		font-size: 13px;
	}
	@media (max-width: 767px) {
		height: 35px;
		margin-top: 10px;
		&_icon {
			margin-top: 0;
			margin-left: 9px;
			&:first-child {margin-left: 0;}
		}
		&_comments {
			width: 70px;
			height: 35px;
			padding: 11px 0 0 35px;
			margin-left: 9px;
			display: inline-block;
		}
	}
	@media (max-width: 479px) {
		height: 25px;
		&_icon {
			width: 25px !important;
			margin-left: 5px;
		}
		&_comments {
			width: 60px;
			height: 25px;
			padding: 6px 0 0 25px;
			margin-left: 5px;
			background-size: 25px 25px;
		}
	}
}
// end b__article_top


// begin b__article_sale
.b__article_sale {
	position: relative;
	margin-bottom: 40px;
	@extend %clear_a;
	&_name {
		margin-top: 32px;
		margin-bottom: 8px;
		font-size: 21px;
	}
	&_img {
		width: 481px;
		height: auto;
		display: block;
	}
	&_btn {
		position: absolute;
		top: 216px;
		left: 538px;
		width: 190px;
		display: block;
	}
	@media (max-width: 1284px) {
		padding-bottom: 60px;
		&_btn {
			top: auto;
			left: auto;
			bottom: 0;
			right: 20px;
		}
	}
	@media (max-width: 1199px) {
		padding-bottom: 0;
		&_btn {
			bottom: auto;
			right: auto;
			top: 216px;
			left: 538px;
		}
	}
	@media (max-width: 840px) {
		padding-bottom: 60px;
		&_btn {
			top: auto;
			left: auto;
			bottom: 0;
			right: 20px;
		}
	}
	@media (max-width: 767px) {
		padding-bottom: 0;
		&_name {
			text-align: center;
		}
		&_img {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
		&_btn {
			position: static;
			margin: 15px auto;
		}
	}
}
// end b__article_sale


// begin b__article_discount 
.b__article_discount {
	margin-top: 27px;
	margin-bottom: 30px;
	.sale__list_left {
		width: 120px;
	    padding: 30px 0 0 20px;
	}
	.sale__list_right {
		width: auto;
		margin-top: 27px;
	    padding: 15px 27px;
		.code__wrap {
			width: 169px;
		}
	}
	.sale__list_row {
		height: 128px;
		&:before {
			left: 120px;
		}
		&_center {
		    padding: 28px 26px 15px;
		}
		&_title {
			font-size: 17px;
		}
	}
	@media (max-width: 991px) {
		.sale__list_left {
			min-height: auto;
		}
	}
	@media (max-width: 767px) {
		border-top: 1px solid #d1d1d1;
		border-bottom: 1px solid #d1d1d1;
		.sale__list_left {
			width: 100%;
			padding: 20px 0 0;
			border: 0;
			img {
				margin: 0 auto 20px;
				display: block;
			}
		}
		.sale__list_right {
			width: 100%;
			margin-top: 0;
			padding: 0;
			border: 0;
			overflow: visible;
			.code__wrap {
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}
		.sale__list_row {
			height: auto;
			margin-bottom: 0;
			border: 0;
			overflow: visible;
			&_title {
				text-align: center;
			}
			&:before {
				display: none;
			}
		}
		.sale__list_deadline {
			width: 230px;
			margin-left: auto;
			margin-right: auto;
			overflow: visible;
		}
	}
	@media (max-width: 600px) {
		display: none;
	}
}
// end b__article_discount


// begin b__article_end
.b__article_end {
	padding-top: 18px;
	@extend %clear_all;
	&_left {
		width: 160px;
		float: left;
		p {
			margin-bottom: 8px;
		}
	}
	&_right {
		overflow: hidden;
		p {
			margin-bottom: 15px;
			color: #838282;
			text-align: right;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.b__hashtag {
		&_item {
			margin-top: 0;
			margin-left: 12px;
			display: inline-block;
			color: #2893e5;
		}
		&:before {
			content: 'Хештеги:'
		}
	}
	@media (max-width: 767px) {
		margin-bottom: -30px;
		&_left {
			margin-bottom: 20px;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
		&_right {
			p {
				text-align: center;
			}
		}
	}
}
// end b__article_end


// begin b__article_com
.b__article_com {
	padding-top: 35px;
	&_h {
		margin-bottom: 15px;
		font-size: 23px;
	}
	&_list {
		@extend %clear_a;
	}
	&_item {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #dadada;
		&:first-child {
			padding-bottom: 30px;
		}
	}
	&_left {
		float: left;
		margin-right: 13px;
	}
	&_right {
		position: relative;
		overflow: hidden;
		padding-left: 7px;
		textarea {
			position: relative;
			z-index: 1;
			width: 100%;
			height: 65px;
			padding: 7px 12px;
			margin-bottom: 16px;
			@include border-radius(0);
		}
		&.area:before {
			content: url('../img/tri-area.png');
			position: absolute;
			top: 25px;
			left: 0;
			z-index: 3;
		}
	}
	&_up {
		@extend %clear_a;
		.btn {
			width: 178px;
			float: left;
			margin-right: 26px;
		}
	}
	&_text {
		padding-top: 6px;
	}
	&_info {
		padding-top: 5px;
		margin-bottom: 10px;
		@extend %clear_a;
		.date {
			float: left;
			padding-top: 2px;
		}
	}
	&_user-name {
		float: left;
		margin-right: 17px;
		font-size: 17px;
		font-weight: 700;
	}
	&_btn {
		width: 320px;
		margin: 30px auto 0;
		display: block !important;
	}
	@media (max-width: 767px) {
		text-align: center;
		&_h {
			text-align: center;
		}
		&_left {
			float: none;
			// margin-right: 0;
			// margin-bottom: 5px;
			margin: 0 auto;
		}
		&_right {
			padding-left: 0;
			padding-top: 7px;
			textarea {
				height: 95px;
			}
			&.area:before {
				// content: url('../img/tri-area2.png');
				content: '';
				// top: -5px;
				// left: 25px;
			}
		}
		&_up {
			text-align: center;
			.btn {
				float: none;
				margin-bottom: 5px;
			}
		}
		&_info {
			.date {
				float: none;
			}
		}
		&_user-name {
			float: none;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}
// end b__article_com


// begin b__article_ad.white
.b__article_ad {
	&.white {
		background-color: #fff;
		border: 0;
	}
	&_img {

	}
	&_info {
		padding: 35px 25px 30px;
	}
	@media (max-width: 767px) {
		padding-top: 30px;
		&_info {
			padding: 30px 20px;
		}
	}
}
// end b__article_ad.white



// Страница Все категории all-categories.html ///////////////
// ==========================================================

// begin category__box_grid
.all-categories {
	.white__line {
		padding-bottom: 75px;
	}
	h1 {
		margin-bottom: 35px;
	}
	.category__box_grid {
		width: 100%;
		padding: 0;
		@include justify-content(flex-start);
		.grid__wrapper {
			padding-bottom: 38px;
			@include flex-basis(14.285%);
		}
		img {
			margin-bottom: 10px;
			width: 100%;
			height: auto;
		}
	}
	.line {
		margin-top: 25px;
		margin-bottom: 36px; 
	}
	.columns__list {
		width: 85%;
		@include columns-text(100px, 5, 75px, 0px, solid, #000);
		li {
			margin-bottom: 18px;
			&.pl {
				padding-left: 20px;
			}
		}
	}
	@media (max-width: 1280px) {
		.category__box_grid {
			.grid__wrapper {		
				@include flex-basis(16.666%);
				&:nth-child(n+7) {
					display: block;
				}
			}
		}
	}
	@media (max-width: 1199px) {
		.category__box_grid {
			.grid__wrapper {		
				@include flex-basis(20%);
			}
		}
		.columns__list {
			width: 100%;
			@include columns-text(100px, 5, 50px, 0px, solid, #000);
		}
	}
	@media (max-width: 991px) {
		.category__box_grid {
			.grid__wrapper {		
				@include flex-basis(25%);
			}
		}
		.columns__list {
			@include columns-text(100px, 4, 75px, 0px, solid, #000);
			li {
				&.pl {
					padding-left: 0;
				}
			}
		}
	}
	@media (max-width: 767px) {
		.category__box_grid {
			@include justify-content(center);
			.grid__wrapper {		
				@include flex-basis(33%);
			}
		}
		.columns__list {
			@include columns-text(100px, 2, 0px, 0px, solid, #000);
			text-align: center;
		}
	}
	@media (max-width: 479px) {
		.category__box_grid {
			.grid__wrapper {		
				@include flex-basis(50%);
			}
		}
		.columns__list {
			@include columns-text(100px, 1, 0, 0px, solid, #000);
		}
	}
}
// end category__box_grid