extends template.jade

block variables
	- bodyClass = "all-promocodes"

block title
	title Все промокоды

block content
	.white__line
		.container_center


			// begin breadcrumb
			.breadcrumb.ind
				li
					a(href="/") Главная
				li
					a(href="#") Все скидки и промокоды
			// end breadcrumb


			h1.ind 
				span.desktop Все-все самые лучшие скидки от Ваших любимых магазинов
				span.laptop Все супер-скидки


			// begin all-promocodes__top
			.all-promocodes__top
				.all-promocodes__top_right_top.social__down
					.all-promocodes__top_right_subscribe Все супер-скидки
					a.sm_social_trigger(href="#") Поделиться
					.sm_social
						.sm_social_icon
							.ya-share2(data-services="vkontakte")
						.sm_social_icon
							.ya-share2(data-services="facebook")				
						.sm_social_icon
							.ya-share2(data-services="odnoklassniki")
						.sm_social_icon
							.ya-share2(data-services="gplus")
						.sm_social_icon
							.ya-share2(data-services="twitter")
				.all-promocodes__top_left
					img(src="img/promo-img1.jpg", alt="#")
					.all-promocodes__top_left_text Покупайте <br>и участвуйте <br>в ежемесячных <br>розыгрышах
				.all-promocodes__top_center
					// begin sidebar__coupon
					.sidebar__coupon_list
						.grid.grid__2.category__box_grid
							.grid__wrapper
								a.grid__item(href="#")
									img(src="img/cat1.png", alt="")
									p Детские товары
							.grid__wrapper
								a.grid__item(href="#")
									img(src="img/cat2.png", alt="")
									p Бытовая техника
							.grid__wrapper
								a.grid__item(href="#")
									img(src="img/cat3.png", alt="")
									p Одежда
							.grid__wrapper
								a.grid__item(href="#")
									img(src="img/cat5.png", alt="")
									p Аксессуары
					// end sidebar__coupon
				a.all-promocodes__top_right
					img.all-promocodes__top_right_img(src="img/promo-img2.jpg", alt="#")
					.all-promocodes__top_right_text Весенняя распродажа
			// end all-promocodes__top


	.container_center.main

		// begin sidebar
		.main__content_sidebar

			a.sale__list_trigger(href="#") Фильтр промокодов
			
			.sidebar__section_wrap
				.sidebar__section
					.sidebar__section_name Тип промокода:
					form.promocode__type_form(action="#")
						.promocode__type_row.checkbox
							input.checkbox__input(type="checkbox" id="pt1")
							label.checkbox__label(for="pt1") Горящий
								span.promocode__type_number (12)
						.promocode__type_row.checkbox
							input.checkbox__input(type="checkbox" id="pt2")
							label.checkbox__label(for="pt2") Новый
								span.promocode__type_number (2)
						.promocode__type_row.checkbox
							input.checkbox__input(type="checkbox" id="pt3")
							label.checkbox__label(for="pt3") Истекает
								span.promocode__type_number (3)
						.promocode__type_row.checkbox
							input.checkbox__input(type="checkbox" id="pt4")
							label.checkbox__label(for="pt4") % скидки
								span.promocode__type_number (4)
						.promocode__type_row.checkbox
							input.checkbox__input(type="checkbox" id="pt5")
							label.checkbox__label(for="pt5") Подарок
								span.promocode__type_number (2)
						.promocode__type_row.checkbox
							input.checkbox__input(type="checkbox" id="pt6")
							label.checkbox__label(for="pt6") Бесплатная <br>доставка
								span.promocode__type_number (1)
				.sidebar__section
					.sidebar__section_name Популярные магазины
					.sidebar__section_list.js-more-wrapper
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") М.видео
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Снежная королева
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Nike
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Алиэкспресс
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Wildberries
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") М.видео
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Снежная королева
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Nike
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Алиэкспресс
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Wildberries
						a.sidebar__section_more.js-more-link(href="#" data-text-close="+ Показать больше" data-text-open="- Скрыть магазины") + Показать больше
				.sidebar__section.js-more-wrapper
					.sidebar__section_name Лучшие скидки
					.sidebar__section_p Кухонный комбайн состоит из корпуса, оборудованного системой управления и двигателем, и съемной чаши.
					.sidebar__section_p Модели различаются между собой по объему чаши — существуют миниатюрные устройства с объемом чаши
					.js-more-text
						.sidebar__section_p Кухонный комбайн состоит из корпуса, оборудованного системой управления и двигателем, и съемной чаши.
						.sidebar__section_p Модели различаются между собой по объему чаши — существуют миниатюрные устройства с объемом чаши
					a.sidebar__section_more.js-more-link(href="#" data-text-close="+ Показать больше" data-text-open="- Скрыть текст") + Показать больше
				.sidebar__section
					.sidebar__section_name Найдите скидку на нужный товар:
					.sidebar__section_list.js-more-wrapper
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Одежда
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Обувь
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Аксессуары
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Бытовая техника
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Электроника
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Детские товары и<br>Игрушки
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Спортивные товары
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Путешествия и<br>Развлечения
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Зоотовары
						.sidebar__section_list_item
							a.sidebar__section_list_link(href="#") Дом, мебель, сад
						a.sidebar__section_more.js-more-link(href="#" data-text-close="+ Показать больше" data-text-open="- Скрыть категории") + Показать больше
		// end sidebar


		// begin main__content_center 
		.main__content_center

			.sale__list_wrap
				h3 Найдите лучшую скидку прямо сейчас

				.sale__list_inform Количество промокодов:
					span.sale__list_number 5
					
				// begin sale__list 
				.sale__list.js_more_wrap.sale__list_first

					.sale__list_reg Нужно:
						a(href="autorization.html") войти или зарегистрироваться
										
					// Row 1
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list4.png", alt="#")
							.btn.btn__success Новый
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от лучших магазинов магазинов России! Успейте купить!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix
					
					// Row 2
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list6.png", alt="#")
							.btn.btn__expires Истекает
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от брендов!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix

					// Row 3
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list4.png", alt="#")
							.btn.btn__success Новый
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от лучших магазинов магазинов России! Успейте купить!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix
					
					// Row 4
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list6.png", alt="#")
							.btn.btn__expires Истекает
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от брендов!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix

				.sale__list_ad
					.sale__list_ad_left
					.sale__list_ad_center.subscribe
						.sale__list_ad_title Не пропустите ни одной супер-скидки!
						.sale__list_ad_terms
							|Узнавайте первым о самых больших скидках + участвуйте в ежемесячных акциях и получайте подарки!
					.sale__list_ad_center.mail
						.sale__list_ad_title Пожалуйста, подтвердите свой емайл
						.sale__list_ad_terms
							|Поздравляем! Вы уже в шаге от лучших скидок этого магазина. <br>Для Вашей безопасности, мы отправили вам письмо с подвержением Вашего емайла на указанную почту.
					form.sale__list_ad_right(action="#")
						input(type="email" placeholder="Введите ваш e-mail")
						button.btn.btn__danger Подписаться
					.sale__list_ad_enter
						.sale__list_ad_enter_in Вы уже подписаны и у вас даже есть личный кабинет. <br>Пожалуйста, 
							a(href="#") войдите в аккаунт &gt;


				// Тот же блок, только класс second
				.sale__list_ad.second
					.sale__list_ad_left
					.sale__list_ad_center.subscribe
						.sale__list_ad_title Не пропустите ни одной супер-скидки!
						.sale__list_ad_terms
							|Узнавайте первым о самых больших скидках + участвуйте в ежемесячных акциях и получайте подарки!
					.sale__list_ad_center.mail
						.sale__list_ad_title Пожалуйста, подтвердите свой емайл
						.sale__list_ad_terms
							|Поздравляем! Вы уже в шаге от лучших скидок этого магазина. <br>Для Вашей безопасности, мы отправили вам письмо с подвержением Вашего емайла на указанную почту.
					form.sale__list_ad_right(action="#")
						input(type="email" placeholder="Введите ваш e-mail")
						button.btn.btn__danger Подписаться
					.sale__list_ad_enter
						.sale__list_ad_enter_in Вы уже подписаны и у вас даже есть личный кабинет. <br>Пожалуйста, 
							a(href="#") войдите в аккаунт &gt;


				.sale__list_add
					.sale__list_add_name Пример пример пример
					.sale__list_add_p.first Участвуйте в летнем 6 ежемесячном розыгрыше (Май).
					.sale__list_add_p Совершайте покупки через нас, копите баллы и меняйте их на лотерейки. Выигрывайте подарки!
					button.btn.btn__danger.sale__list_add_btn Участвовать
				
				.sale__list.js_more_wrap

					// Row 5
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list4.png", alt="#")
							.btn.btn__success Новый
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от лучших магазинов магазинов России! Успейте купить!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix
					
					// Row 6
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list6.png", alt="#")
							.btn.btn__expires Истекает
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от брендов!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix

					// Row 7
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list4.png", alt="#")
							.btn.btn__success Новый
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от лучших магазинов магазинов России! Успейте купить!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix
					
					// Row 8
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list6.png", alt="#")
							.btn.btn__expires Истекает
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от брендов!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix

					// Row 9
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list4.png", alt="#")
							.btn.btn__success Новый
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от лучших магазинов магазинов России! Успейте купить!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix
					
					// Row 10
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list6.png", alt="#")
							.btn.btn__expires Истекает
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от брендов!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix

					// Row 11
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list4.png", alt="#")
							.btn.btn__success Новый
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от лучших магазинов магазинов России! Успейте купить!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix
					// Row 12
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list6.png", alt="#")
							.btn.btn__expires Истекает
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от брендов!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix

					// Row 13
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list4.png", alt="#")
							.btn.btn__success Новый
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от лучших магазинов магазинов России! Успейте купить!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix
					
					// Row 14
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list6.png", alt="#")
							.btn.btn__expires Истекает
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#", class="btn btn__primary code__btn", data-toggle="modal", data-target="#modal__show-code") Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от брендов!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									.tooltip__help
										.tooltip__text Покупайте в магазине через нас и получайте баллы. Меняйте баллы на ШопКарты и участвуйте в ежемесячных акциях. 
											a(href="#") Подробнее об акции &gt;
								a(href="#") Все промокоды Bon prix
				// end sale__list

			// begin pagination
			ul.pagination.short
				li.prev
					a.passive(href="#")
				li
					a.active(href="#") 1
				li
					a(href="#") 2
				li
					a(href="#") 3
				li
					a(href="#") 4
				li
					a(href="#") 5
				li.sm
					a(href="#") 6
				li.sm
					a(href="#") 7
				li.sm
					a(href="#") 8
				li.sm
					a(href="#") 9
				li.sm
					a(href="#") 10
				li.lg
					a(href="#") 11
				li.lg
					a(href="#") 12
				li.lg
					a(href="#") 13
				li.lg
					a(href="#") 14
				li.lg
					a(href="#") 15
				li
					a.hellip(href="#") &hellip;
				li.sm
					a(href="#") 81
				li
					a(href="#") 82                   
				li.next
					a(href="#")
			// end pagination
			
		// end main__content_center

	.white__line
		.container_center

			.section__title.section__title_btn Лучшие предложения на покупку техники
				a(href="#").btn.btn__danger Смотреть все &gt;&gt;

			// begin slider__grid
			.slider.slider__grid_small.js-slider-arrow
				// Slide 1
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most1.png", alt="#")
						.slider__grid_overlay
							|1240р. 
							span 2120р.#
					.slider__grid_text
						.slider__grid_name
							a(href="#") Lamoda
						a.slider__grid_text_link(href="#") Скидка -50% на одежду для дома!

				// Slide 2
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most4.png", alt="#")
						.slider__grid_overlay.dn
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							a(href="#") Lamoda
						a.slider__grid_text_link(href="#") Скидка -50% на одежду!                                     

				// Slide 3
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most3.png", alt="#")
						.slider__grid_overlay.dn 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							a(href="#") Снежная королева
						a.slider__grid_text_link(href="#") Скидка -50% на одежду!


				// Slide 4
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most5.png", alt="#")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name 
							a(href="#") Lamoda
						a.slider__grid_text_link(href="#") Скидка -50% на одежду!

				// Slide 5
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most2.png", alt="#")
						.slider__grid_overlay.dn
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							a(href="#") Lamoda
						a.slider__grid_text_link(href="#") Скидка -50% на одежду!              

				// Slide 6
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most1.png", alt="#")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							a(href="#") Lamoda
						a.slider__grid_text_link(href="#") Скидка -50% на одежду для дома!

				// Slide 7
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most3.png", alt="#")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text

						.slider__grid_name 
							a(href="#") Снежная королева
						a.slider__grid_text_link(href="#") Скидка -50% на одежду!


				// Slide 8
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most4.png", alt="#")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name 
							a(href="#") Lamoda
						a.slider__grid_text_link(href="#") Скидка -50% на одежду!

				// Slide 3
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most3.png", alt="#")
						.slider__grid_overlay.dn 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							a(href="#") Снежная королева
						a.slider__grid_text_link(href="#") Скидка -50% на одежду!


				// Slide 4
				.slider__item

					.slider__grid_img
						a(href="#")
							img(src="img/most5.png", alt="#")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name 
							a(href="#") Lamoda
						a.slider__grid_text_link(href="#") Скидка -50% на одежду!

				// Slide 5
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most2.png", alt="#")
						.slider__grid_overlay.dn
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							a(href="#") Lamoda
						a.slider__grid_text_link(href="#") Скидка -50% на одежду!              

				// Slide 6
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most1.png", alt="#")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							a(href="#") Lamoda
						a.slider__grid_text_link(href="#") Скидка -50% на одежду для дома!

				// Slide 7
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most3.png", alt="#")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name 
							a(href="#") Снежная королева
						a.slider__grid_text_link(href="#") Скидка -50% на одежду!


				// Slide 8
				.slider__item
					.slider__grid_img
						a(href="#")
							img(src="img/most4.png", alt="#")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name 
							a(href="#") Lamoda
						a.slider__grid_text_link(href="#") Скидка -50% на одежду!

			// end slider__grid


			.section__title Люди также смотрят

			.category__box
				// begin category__box_grid
				.grid.grid__7.category__box_grid
					.grid__wrapper
						.grid__item
							img(src="img/shop1.jpg", alt="#")
							p Промокоды Quelle
					.grid__wrapper
						.grid__item
							img(src="img/shop2.jpg", alt="#")
							p Коды скидок и акций MyToys
					.grid__wrapper
						.grid__item
							img(src="img/shop3.jpg", alt="#")
							p Quelle
					.grid__wrapper
						.grid__item
							img(src="img/shop4.jpg", alt="#")
							p Quelle
					.grid__wrapper
						.grid__item
							img(src="img/shop5.jpg", alt="#")
							p Quelle
					.grid__wrapper
						.grid__item
							img(src="img/shop6.jpg", alt="#")
							p Quelle
					.grid__wrapper
						.grid__item
							img(src="img/shop6.jpg", alt="#")
							p Quelle
				// end category__box_grid


				// begin category__box_grid
				.grid.grid__7.category__box_grid
					.grid__wrapper
						.grid__item
							img(src="img/cat-img8.jpg", alt="#")
							p Скидки на страницу распродаж
					.grid__wrapper
						.grid__item
							img(src="img/cat-img3.jpg", alt="#")
							p Обувь
					.grid__wrapper
						.grid__item
							img(src="img/cat-img5.jpg", alt="#")
							p Детские товары
					.grid__wrapper
						.grid__item
							img(src="img/cat-img4.jpg", alt="#")
							p Техника
					.grid__wrapper
						.grid__item
							img(src="img/cat-img2.jpg", alt="#")
							p Смартфоны
					.grid__wrapper
						.grid__item
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
					.grid__wrapper
						.grid__item
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
				// end category__box_grid


	.container_center
		// begin lots
		.lots
			h2 Покупайте в магазинах и получайте подарки
			p Покупайте в интернет-магазинах и копите баллы. Меняйте баллы на ШопКарты и получайте подарки. 
				a(href="#") Подробнее о акции &gt;
			p + Никогда не пропускайте! Получайте лучшие скидки магазинов к себе на почту.

			a(href="#", class="btn btn__danger") Зарегистрироваться

			p У вас есть свой аккаунт?
				a(href="#" class="lots_a") Войдите
		// end lots