extends template.jade

block variables
	- bodyClass = "all-categories"

block title
	title Все категории

block content
	.white__line.ind
		.container_center

			// begin breadcrumb
			.breadcrumb
				li
					a(href="/") Главная
				li
					a(href="#") Все категории			
			// end breadcrumb


			h1 Самые лучшие категории


			.category__box
				// begin category__box_grid
				.grid.grid__7.category__box_grid
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img2.jpg", alt="#")
							p Смартфоны
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img3.jpg", alt="#")
							p Обувь
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img4.jpg", alt="#")
							p Техника
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img5.jpg", alt="#")
							p Детские товары
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img6.jpg", alt="#")
							p Одежда
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img2.jpg", alt="#")
							p Смартфоны
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img3.jpg", alt="#")
							p Обувь
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img4.jpg", alt="#")
							p Техника
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img5.jpg", alt="#")
							p Детские товары
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img6.jpg", alt="#")
							p Одежда
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img2.jpg", alt="#")
							p Смартфоны
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img3.jpg", alt="#")
							p Обувь
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img4.jpg", alt="#")
							p Техника
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img5.jpg", alt="#")
							p Детские товары
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img6.jpg", alt="#")
							p Одежда
							.grid__item_like
				// end category__box_grid


			.line
			

			h2 Популярные подкатегории (часто спрашивают на сайте)


			.category__box
				// begin category__box_grid 
				.grid.grid__7.category__box_grid
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img7.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img2.jpg", alt="#")
							p Смартфоны
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img3.jpg", alt="#")
							p Обувь
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img4.jpg", alt="#")
							p Техника
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img5.jpg", alt="#")
							p Детские товары
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						a.grid__item(href="#")
							img(src="img/cat-img6.jpg", alt="#")
							p Одежда
							.grid__item_like
				// end category__box_grid


			.line
			

			h2 Популярные интернет-магазины


			ul.columns__list
				li 
					a(href="#") Lamoda
				li 
					a(href="#") Снежная королева
				li 
					a(href="#") Nike
				li 
					a(href="#") Алиэкспресс
				li.pl 
					a(href="#") М.видео
				li.pl 
					a(href="#") Техносила
				li.pl 
					a(href="#") Quiksiver
				li.pl 
					a(href="#") Юлмарт
				li 
					a(href="#") Lamoda
				li 
					a(href="#") Снежная королева
				li
					a(href="#") Nike
				li 
					a(href="#") Алиэкспресс
				li.pl 
					a(href="#") М.видео
				li.pl 
					a(href="#") Техносила
				li.pl 
					a(href="#") Quiksiver
				li.pl 
					a(href="#") Юлмарт
				li 
					a(href="#") Lamoda
				li 
					a(href="#") Снежная королева
				li
					a(href="#") Nike
				li 
					a(href="#") Алиэкспресс         


	.container_center
		// begin lots
		.lots
			h3 Покупайте в магазинах и получайте подарки
			p Покупайте в интернет-магазинах и копите баллы. Меняйте баллы на ШопКарты и получайте подарки. 
				a(href="#") Подробнее об акции &gt;
			p + Никогда не пропускайте! Получайте лучшие скидки магазинов к себе на почту.

			a(href="#", class="btn btn__danger", data-toggle="modal", data-target="#modal__sign-up") Зарегистрироваться

			p У вас есть свой аккаунт?
				a(href="#", class="lots_a", data-toggle="modal", data-target="#modal__log-in")  Войдите
		// end lots