extends template.jade

block variables
	- bodyClass = "all-categories"

block title
	title Все категории

block content
	.white__line.ind
		.container_center

			// begin breadcrumb
			.breadcrumb.ind
				li
					a(href="/") Главная
				li
					a(href="#") Все категории			
			// end breadcrumb


			h1.ind Самые лучшие категории


			.category__box
				// begin category__box_grid
				.grid.grid__7.category__box_grid
					.grid__wrapper
						.grid__item
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img2.jpg", alt="#")
							p Смартфоны
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img3.jpg", alt="#")
							p Обувь
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img4.jpg", alt="#")
							p Техника
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img5.jpg", alt="#")
							p Детские товары
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img6.jpg", alt="#")
							p Одежда
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img2.jpg", alt="#")
							p Смартфоны
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img3.jpg", alt="#")
							p Обувь
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img4.jpg", alt="#")
							p Техника
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img5.jpg", alt="#")
							p Детские товары
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img6.jpg", alt="#")
							p Одежда
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img2.jpg", alt="#")
							p Смартфоны
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img3.jpg", alt="#")
							p Обувь
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img4.jpg", alt="#")
							p Техника
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img5.jpg", alt="#")
							p Детские товары
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img6.jpg", alt="#")
							p Одежда
							.grid__item_like
				// end category__box_grid


			.line
			

			h1.ind Популярные подкатегории (часто спрашивают на сайте)


			.category__box
				// begin category__box_grid 
				.grid.grid__7.category__box_grid
					.grid__wrapper
						.grid__item
							img(src="img/cat-img7.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img2.jpg", alt="#")
							p Смартфоны
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img3.jpg", alt="#")
							p Обувь
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img4.jpg", alt="#")
							p Техника
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img5.jpg", alt="#")
							p Детские товары
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img1.jpg", alt="#")
							p Часы
							.grid__item_like
					.grid__wrapper
						.grid__item
							img(src="img/cat-img6.jpg", alt="#")
							p Одежда
							.grid__item_like
				// end category__box_grid


			.line
			

			h1 Популярные интернет-магазины


			ul.columns__list
				li 
					a(href="#") Lamoda
				li 
					a(href="#") Снежная королева
				li 
					a(href="#") Nike
				li 
					a(href="#") Алиэкспресс
				li.pl 
					a(href="#") М.видео
				li.pl 
					a(href="#") Техносила
				li.pl 
					a(href="#") Quiksiver
				li.pl 
					a(href="#") Юлмарт
				li 
					a(href="#") Lamoda
				li 
					a(href="#") Снежная королева
				li
					a(href="#") Nike
				li 
					a(href="#") Алиэкспресс
				li.pl 
					a(href="#") М.видео
				li.pl 
					a(href="#") Техносила
				li.pl 
					a(href="#") Quiksiver
				li.pl 
					a(href="#") Юлмарт
				li 
					a(href="#") Lamoda
				li 
					a(href="#") Снежная королева
				li
					a(href="#") Nike
				li 
					a(href="#") Алиэкспресс         


	.container_center
		// begin lots
		.lots
			h2 Покупайте и участвуйте в ежемесячных розыгрышах
			p Покупайте и копите баллы. Меняйте баллы на лотереи и участвуйте. 
				a(href="#") Подробнее о розыгрышах &gt;
			p + Никогда не пропускайте! Получайте лучшие скидки магазинов к себе на почту.

			a(href="#", class="btn btn__danger") Зарегистрироваться

			p У вас есть свой аккаунт?
				a(href="#" class="lots_a") Войдите
		// end lots