extends template.jade

block variables
	- bodyClass = "blog blog-article"

block title
	title Blog Статья

block content
	.container_center


		// begin breadcrumb
		.breadcrumb.mt_40
			li
				a(href="/") Главная
			li
				a(href="blog.html") Блог
			li
				a(href="#") Какой телевизор лучше выбрать. Мнение специалиста                   			
		// end breadcrumb


	.container_center.main

		// begin sidebar
		.main__content_sidebar.fl_right
			.banner__box.mt_reset.mb_20
				a(href="#").banner__box_link
					img(src="img/banner3.jpg", alt="#")
			.sidebar__section
				.sidebar__section_name Узнайте интересное в блоге:
				.b__hashtag
					a.b__hashtag_item(href="#") Мода
					a.b__hashtag_item(href="#") Победители_лотереи
					a.b__hashtag_item(href="#") Подборки_с_Алиэкспресс
					a.b__hashtag_item(href="#") Подборки_образов
					a.b__hashtag_item(href="#") Шоппинг
			.sidebar__section
				.sidebar__section_name Найдите купон на нужный товар

				// begin sidebar__coupon
				.sidebar__coupon
					a.sidebar__coupon_link(href="all-categories.html", target="_blank")
					.sidebar__coupon_list
						.grid.grid__2.category__box_grid
							.grid__wrapper
								a.grid__item(href="#")
									img(src="img/cat1.png", alt="#")
									p Детские товары
							.grid__wrapper
								a.grid__item(href="#")
									img(src="img/cat9.png", alt="#")
									p Обувь
							.grid__wrapper
								a.grid__item(href="#")
									img(src="img/cat4.png", alt="#")
									p Электроника
							.grid__wrapper
								a.grid__item(href="#")
									img(src="img/cat2.png", alt="#")
									p Бытовая техниnk
				// end sidebar__coupon

			.sidebar__section
				.sidebar__section_name Лучшие предложения для Вас:
				// Slide 1
				.slider__item.mb_30
					a.slider__grid_img(href="#")
						img(src="img/most1.png", alt="#")
					.slider__grid_text
						.slider__grid_name
							|Магазин: 
							a(href="#") Lamoda
						a.slider__grid_link(href="#") Скидка -50% на одежду и обувь для всей семьи! Супер распродажа!

				// Slide 2
				.slider__item.mb_20
					a.slider__grid_img(href="#")
						img(src="img/most2.png", alt="#")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							|Магазин: 
							a(href="#") Lamoda
						a.slider__grid_link(href="#") Смартфон Самсунг со скидкой -45%!
				a(href="#", class="btn btn__danger blog__sidebar_btn") Больше скидок  &gt;&gt;

			.sidebar__section
				.sidebar__section_name Найдите купон для магазина
				ul.columns__list
					li 
						a(href="#") Lamoda
					li 
						a(href="#") Nike
					li 
						a(href="#") Алиэкспресс
					li 
						a(href="#") Wildberries
					li 
						a(href="#") Lamoda
					li 
						a(href="#") Nike
					li 
						a(href="#") Nike
					li 
						a(href="#") Алиэкспресс
					li 
						a(href="#") Nike
					li 
						a(href="#") Алиэкспресс
					li 
						a(href="#") Lamoda
					li 
						a(href="#") Sapato
					li
						a(href="#") Nike
					li 
						a(href="#") Алиэкспресс
					li 
						a(href="#") Wildberries
					li 
						a(href="#") Lamoda
					li 
						a(href="#") Ebay
					li 
						a(href="#") Nike
					li 
						a(href="#") Nike
					li 
						a(href="#") Алиэкспресс

		// end sidebar
			

		// begin main__content_center
		.main__content_center

			.white__line.mt_30
				// Верхний блок кнопки соц.сетей+картинка
				.b__article_p.date.mb_20 20 марта 2017 
				h1 Какой телевизор лучше выбрать. Мнение специалиста
				p.b__article_text_top Чтоб понять какой телевизор лучше выбрать, мнение специалиста станет основополагающим в решении данного вопроса. И это важно, ведь полки магазинов пестрят различными предложениями. Моделей становится всё больше, выбор расширяется и окончательно определиться с выбором все сложнее.


				// begin b__article_top 
				.b__article_top
					.b__article_top_left.b__article_social
						.b__article_social_icon.ya-share2(data-services="vkontakte")
						.b__article_social_icon.ya-share2(data-services="facebook")
						.b__article_social_icon.ya-share2(data-services="twitter")
						.b__article_social_icon.ya-share2(data-services="odnoklassniki")
						.b__article_social_icon.ya-share2(data-services="gplus")
						.b__article_social_icon.ya-share2(data-services="moimir")
						a.b__article_social_comments.btn.btn__danger.scroll__link(href="#comments")
						.b__article_social_text 252
					.b__article_top_right
						img.b__article_top_img(src="img/blog-img1.jpg", alt="#")
				// end b__article_top


				p Говоря простым языком, источник сигнала – это тот канал. По которому до вас доходят телепередачи. Это может быть аналоговое эфирное телевидение (обычный прием сигнала антенной с ближайшей телевышки, как было ещё во времена СССР), кабельное телевидение, спутниковое телевидение, цифровое эфирное телевидение (приемники DVB-T2, мы рассмотрим их немного позже) и IPTV (метод передачи изображения через Интернет-подключение). Итак, первое, что нужно сделать – это определиться, какой метод получения сигнала используется у вас.

				
				// begin b__article_sale
				h2.b__article_sale_name Сумка от Chanel				
				.b__article_sale
					img.b__article_sale_img(src="img/sale-img.jpg", alt="#")
					a.b__article_sale_btn.btn.btn__primary(href="#") Купить сумку
				// end b__article_sale

				
				p Отдельно стоит выделить IPTV. Этот канал предоставляет на данный момент самое высокое качество изображен

				// Выделенный текст
				p.note Данные телевизоры обладают собственной операционной системой и, по сути, представляют собой компьютер, предназначенный для просмотра онлайн-контента, а в последнее время ещё и для игр. Если у вас дома есть Wi-Fi роутер, то обратите внимание на модели телевизоров, поддерживающие этот тип подключения, чтобы избавиться от лишних проводов.

				p Учитывая высокую стоимость таких моделей, есть смысл пытаться сэкономить, обращая внимание на распродажи и супер sale.


				// begin promocode
				.sale__list_wrap
					.sale__list.js_more_wrap
				
						.sale__list_row.js_more_item
							a(href="#").sale__list_mob-link
							.sale__list_left
								a.sale__list_img(href="#")
									img(src="img/sale-list4.png", alt="#")
							.sale__list_right
								a(href="#", class="btn btn__primary sale__list_right_btn", data-toggle="modal", data-target="#modal__open-action") Используй меня
							.sale__list_center
								a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от известных интернет-магазинов!
								.sale__list_deadline
									i.icon__time_end
									| Заканчивается через 15 дней
						a(href="#").sale__list_save
				// end promocode



				p Учитывая высокую стоимость таких моделей, есть смысл пытаться сэкономить, обращая внимание на распродажи. Данные телевизоры обладают собственной операционной системой и, по сути, представляют собой компьютер, предназначенный для просмотра онлайн-контента, а в последнее время ещё и для игр. Если у вас дома есть Wi-Fi роутер, то обратите внимание на модели телевизоров, поддерживающие этот тип подключения, чтобы избавиться от лишних проводов.


				// begin b__article_end
				.b__article_end
					.b__article_end_left
						p Поделитесь с друзьями:
						.b__article_social
							.b__article_social_icon.ya-share2(data-services="vkontakte")
							.b__article_social_icon.ya-share2(data-services="facebook")				
							.b__article_social_icon.ya-share2(data-services="odnoklassniki")
							.b__article_social_icon.ya-share2(data-services="gplus")
							.b__article_social_icon.ya-share2(data-services="twitter")
					.b__article_end_right
						p.mb_10 Фото или источник: GETTY IMAGES
						p.b__hashtag
							a.b__hashtag_item(href="#") техника
							a.b__hashtag_item(href="#") мода
				// end b__article_end

				
				// begin b__article_com 
				.b__article_com
					h3.b__article_com_h#comments Комментарии (25)
					.b__article_com_list

						.b__article_com_trigger Написать отзыв о статье

						.b__article_com_item.b__article_com_first
							.b__article_com_left
								img.b__article_com_user(src="img/user1.png", alt="#")
							.b__article_com_right.area
								textarea(placeholder="Ваше сообщение ...")
								.b__article_com_up
									button.btn__danger.btn Комментировать
									.b__article_com_text Что Вы думаете о нас? Поделитесь своим мнением о нас со всеми! <br>Помогите нам стать лучше!
						.b__article_com_item
							.b__article_com_left
								img.b__article_com_user(src="img/user1.png", alt="#")
							.b__article_com_right
								.b__article_com_info
									.b__article_com_user-name Дарья
									.date 25.02.2016
								p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
						.b__article_com_item
							.b__article_com_left
								img.b__article_com_user(src="img/user2.png", alt="#")
							.b__article_com_right
								.b__article_com_info
									.b__article_com_user-name Александра
									.date 25.02.2016
								p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
						.b__article_com_item
							.b__article_com_left
								img.b__article_com_user(src="img/user3.png", alt="#")
							.b__article_com_right
								.b__article_com_info
									.b__article_com_user-name Артем
									.date 25.02.2016
								p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
						.b__article_com_item
							.b__article_com_left
								img.b__article_com_user(src="img/user_no.png", alt="#")
							.b__article_com_right
								.b__article_com_info
									.b__article_com_user-name Мария
									.date 25.02.2016
								p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
						.b__article_com_item
							.b__article_com_left
								img.b__article_com_user(src="img/user1.png", alt="#")
							.b__article_com_right
								.b__article_com_info
									.b__article_com_user-name Дарья
									.date 25.02.2016
								p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
						button.btn__danger.btn.b__article_com_btn Показать больше комментариев
					
				// end b__article_com

			.b__article
				
				// begin b__article_ad.white
				.b__article_ad.white
					img.b__article_ad_img(src="img/hero2.png", alt="#")
					img.b__article_ad_mobil(src="img/hero3.png", alt="#")
					.b__article_ad_info
						h2.mb_10 Экономьте по полной 
							span + подарки каждый месяц!
						.b__article_ad_text Зарегистрируйтесь и узнавайте первым о лучших купонах.
						.b__article_ad_text.txt__danger + Участвуйте в ежемесячных акциях и получите подарок мечты!
						.b__article_ad_in
							a(href="#", class="btn btn__danger") Зарегистрироваться
							p У вас есть свой аккаунт?
								a(href="#") Войти
				.b__article_hero Это Шоппел - супергерой Найди.ру. Она помогает экономить тысячам людям по всей России. Каждый день она находит супер-купоны и рассылает их своим подписчикам. Будьте с ней всегда на связи, зарегистрируйтесь!
				// end b__article_ad.white


				h3 Эти статьи должны Вам понравиться:


				.b__article_item.mt_reset
					a.b__article_img
						img(src="img/b-article-img1.jpg", alt="#")
					.b__article_info
						a.b__article_name(href="#") Какой телевизор лучше выбрать. Мнение опытного специалиста
						.b__article_text Телевиденье сегодня плотно вошло в нашу жизнь, и если ещё пол века назад телевизор был роскошью, то сейчас он есть практически в каждом доме, да...
						.b__article_p
							span.date 20 марта 2017
							a.category техника
						.b__article_comments
							img.b__article_comments_img(src="img/comment-gray.png", alt="#")
							a.b__article_comments_link(href="#")
								span.comments 25 
								span.text комментариев
						a.b__article_more Читать сейчас &gt;
				
				.b__article_item
					a.b__article_img
						img(src="img/b-article-img5.jpg", alt="#")
					.b__article_info
						a.b__article_name(href="#") Какой телевизор лучше выбрать. Мнение опытного специалиста
						.b__article_text Телевиденье сегодня плотно вошло в нашу жизнь, и если ещё пол века назад телевизор был роскошью, то сейчас он есть практически в каждом доме, да...
						.b__article_p
							span.date 20 марта 2017
							a.category техника
						.b__article_comments
							img.b__article_comments_img(src="img/comment-gray.png", alt="#")
							a.b__article_comments_link(href="#")
								span.comments 25 
								span.text комментариев
						a.b__article_more Читать сейчас &gt;
				
				.b__article_item
					a.b__article_img
						img(src="img/b-article-img2.jpg", alt="#")
					.b__article_info
						a.b__article_name(href="#") Какой телевизор лучше выбрать. Мнение опытного специалиста
						.b__article_text Телевиденье сегодня плотно вошло в нашу жизнь, и если ещё пол века назад телевизор был роскошью, то сейчас он есть практически в каждом доме, да...
						.b__article_p
							span.date 20 марта 2017
							a.category техника
						.b__article_comments
							img.b__article_comments_img(src="img/comment-gray.png", alt="#")
							a.b__article_comments_link(href="#")
								span.comments 25 
								span.text комментариев
						a.b__article_more Читать сейчас &gt;
				
				.b__article_item
					a.b__article_img
						img(src="img/b-article-img5.jpg", alt="#")
					.b__article_info
						a.b__article_name(href="#") Какой телевизор лучше выбрать. Мнение опытного специалиста
						.b__article_text Телевиденье сегодня плотно вошло в нашу жизнь, и если ещё пол века назад телевизор был роскошью, то сейчас он есть практически в каждом доме, да...
						.b__article_p
							span.date 20 марта 2017
							a.category техника
						.b__article_comments
							img.b__article_comments_img(src="img/comment-gray.png", alt="#")
							a.b__article_comments_link(href="#")
								span.comments 25 
								span.text комментариев
						a.b__article_more Читать сейчас &gt;


				.b__continue
					img.b__continue_img(src="img/continue.gif", alt="#")
					.b__continue_text Продолжение следует ...
		
		// end main__content_center