extends template.jade

block variables
	- bodyClass = "faq"

block title
	title Обратная связь и FAQ

block content
	.white__line
		.container_center

			// begin breadcrumb
			.breadcrumb.ind
				li
					a(href="/") Главная
				li
					a(href="#") Обратная связь и FAQ
			// end breadcrumb


			h1 Обратная связь и Часто задаваемые вопросы

			.faq_wrap

				// begin faq_left
				.faq_left

					// begin faq_feedback 
					.faq__feedback
						.faq__feedback_name Связаться с нами
						.faq__feedback_p У вас есть вопросы или предложения? Вы всегда можете связаться с нами, заполнив форму ниже.
						.faq__feedback_forms
							.faq__feedback_form
								.faq__feedback_label(for="ff1") E-mail
								input.faq__feedback_input(type="email", placeholder="Введите Ваш e-mail", id="ff1")
							.faq__feedback_form
									.faq__feedback_label(for="ff2") Имя
									input.faq__feedback_input(type="text", placeholder="Ваше имя", id="ff2")
						.faq__feedback_label(for="ff3") Ваше сообщение
						textarea(name="feedback", placeholder="Есть вопрос? Напишите его сюда и нажмите на кнопку “Отправить нам”, мы ответим на Ваш вопрос в ближайшее время.", id="ff3")
						.faq__feedback_submit
							.faq__feedback_captcha
								img(src="img/captcha.png", alt="#")
							button.btn.btn__danger.faq__feedback_btn Отправить нам
						.faq__feedback_wait Среднее время ожидания ответа - 15 мин.
					// end faq_feedback

					// begin FAQ
					.faq_list
						.faq_list_line
						.faq_list_name Другие часто задаваемые вопросы:
						.faq_item
							.faq_question Почему код купона не работает?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Почему купон без кода?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Как участвувовать в розыгрышах?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Что такое промокоды?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Почему у меня не засчиталась покупка?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;

					.faq_list
						.faq_list_line
						.faq_list_name Мой аккаунт
						.faq_item
							.faq_question Как отписать от Вашей рассылки?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Как изменить свой пароль?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Как изменить свой пароль?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Почему удалили мой аккаунт?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
					// end FAQ
						
				// end faq_left


				// begin faq_right 
				.faq_right

					// begin FAQ              
					.faq_list
						.faq_list_name Топ популярных вопросов:
						.faq_item
							.faq_question Что такое промокоды?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Почему у меня не засчиталась покупка?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Как участвувовать в розыгрышах?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Что такое промокоды?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Почему у меня не засчиталась покупка?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Как участвувовать в розыгрышах?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Что такое промокоды?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Почему у меня не засчиталась покупка?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Как участвувовать в розыгрышах?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Почему у меня не засчиталась покупка?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Как участвувовать в розыгрышах?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Что такое промокоды?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Почему у меня не засчиталась покупка?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
						.faq_item
							.faq_question Как участвувовать в розыгрышах?
							.faq_answer Промокоды - это специальная буквенно-цифровая последовательность. Выберите в каталоге магазин и купите там со скидкой. Каждый промокод несет в себе определенную сумму средств. 
								a(href="#") Подробнее о том как использовать промокод &gt;
					// end FAQ
					
				// end faq_right 


	.container_center
		// begin lots
		.lots
			h2 Покупайте и участвуйте в ежемесячных розыгрышах
			p Покупайте и копите баллы. Меняйте баллы на лотереи и участвуйте. 
				a(href="#") Подробнее о розыгрышах &gt;
			p + Никогда не пропускайте! Получайте лучшие скидки магазинов к себе на почту.

			a(href="#", class="btn btn__danger") Зарегистрироваться

			p У вас есть свой аккаунт?
				a(href="#" class="lots_a") Войдите
		// end lots
