// begin footer 
footer.footer
	.container_center
		// begin footer__grid
		.grid.grid__4.footer__grid

			.grid__wrapper
				.grid__item
					a(href="/").footer__logo
						img(src="img/footer-logo.png", alt="")

					.footer__social
						.footer__social_title Мы в соцсетях:
						a(href="#").icon__vk
						a(href="#").icon__fb
						a(href="#").icon__google
						a(href="#").icon__odnoklassniki
						a(href="#").icon__twitter
						a(href="#").icon__instagramm

			.grid__wrapper
				.grid__item
					.footer__title Позвольте нам помочь
					ul.footer__rubric
						li.footer__rubric_item
							a(href="#") Обратная связь
						li.footer__rubric_item
							a(href="#") Часто задаваемые вопросы
						li.footer__rubric_item
							a(href="#") О нас и наши отзывы
						li.footer__rubric_item
							a(href="#") Как использовать промокод?
						li.footer__rubric_item
							a(href="#") О ежемесячных розыгрышах
						li.footer__rubric_item
							a(href="#") Мой аккаунт

			.grid__wrapper
				.grid__item
					.footer__title Сотрудничество
					ul.footer__rubric
						li.footer__rubric_item
							a(href="#") Реклама на сайте
						li.footer__rubric_item
							a(href="#") FAQ для бизнеса

			.grid__wrapper
				.grid__item
					.footer__title Специальные страницы
					ul.footer__rubric
						li.footer__rubric_item
							a(href="#") Черная пятница
						li.footer__rubric_item
							a(href="#") Киберпонедельник
						li.footer__rubric_item
							a(href="#") Lamoda
						li.footer__rubric_item
							a(href="#") Новогодняя распродажа
						li.footer__rubric_item
							a(href="#") День Влюбленных

		// end footer__grid

		// begin footer__bottom 
		.footer__bottom
			.footer__bottom_item © 2012-2017 Найди.ру 
			.footer__bottom_item
				a(href="#") Пользовательское соглашение
			.footer__bottom_item
				a(href="#") Правила покупок
			.footer__bottom_item
				a(href="#") Карта сайта
			
		// end footer__bottom 

	a(href="#").to_top Наверх
		
// end footer 