// begin footer 
footer.footer
	.container_center
		// begin footer__grid
		.grid.grid__4.footer__grid

			.grid__wrapper
				.grid__item
					a(href="/").footer__logo
						img(src="img/footer-logo.png", alt="")

					.footer__social
						.footer__social_title Мы в соцсетях:
						a(href="#").icon__vk
						a(href="#").icon__fb
						a(href="#").icon__google
						a(href="#").icon__odnoklassniki
						a(href="#").icon__twitter
						a(href="#").icon__instagramm

			.grid__wrapper
				.grid__item
					.footer__title Позвольте нам помочь
					ul.footer__rubric
						li.footer__rubric_item
							a(href="#") Обратная связь
						li.footer__rubric_item
							a(href="#") Часто задаваемые вопросы
						li.footer__rubric_item
							a(href="#") О нас и наши отзывы
						li.footer__rubric_item
							a(href="#") Как использовать промокод?
						li.footer__rubric_item
							a(href="#") Об ежемесячной акции
						li.footer__rubric_item
							a(href="#") Мой аккаунт

			.grid__wrapper
				.grid__item
					.footer__title Сотрудничество
					ul.footer__rubric
						li.footer__rubric_item
							a(href="#") Реклама на сайте
						li.footer__rubric_item
							a(href="#") FAQ для бизнеса

			.grid__wrapper
				.grid__item
					.footer__title Специальные страницы
					ul.footer__rubric
						li.footer__rubric_item
							a(href="#") Черная пятница
						li.footer__rubric_item
							a(href="#") Киберпонедельник
						li.footer__rubric_item
							a(href="#") Lamoda
						li.footer__rubric_item
							a(href="#") Новогодняя распродажа
						li.footer__rubric_item
							a(href="#") День Влюбленных

		// end footer__grid

		// begin footer__bottom 
		.footer__bottom
			.footer__bottom_item © 2012-2017 Найди.ру 
			.footer__bottom_item
				a(href="#") Пользовательское соглашение
			.footer__bottom_item
				a(href="#") Правила покупок
			.footer__bottom_item
				a(href="#") Карта сайта
			
		// end footer__bottom 
	
	// Если нужна плавающая кнопка добавить класс .to_top_float
	a(href="#").to_top Наверх
		
// end footer 

.body__overlay

// Button trigger modal modal__subscribe 
// button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal__subscribe") Click to open modal
// begin Modal modal__subscribe 
.modal.fade.modal__subscribe#modal__subscribe
	.modal-dialog
		.modal__subscribe_bg
			// img(src="", alt="")
		.modal-content
			.modal__subscribe_wrap
				.modal-header Не пропускайте ни одной супер-скидки
				.modal-body 
					p Узнавайте первым о самых больших скидках + участвуйте в ежемесячных розыгрышах и получайте подарки!
					.modal__subscribe_form
						input(type="text" placeholder="Введите ваш e-mail")
						button.btn.btn__danger Подписаться

						.modal__subscribe_auth У вас есть свой аккаунт? 
							a(href="#") Войти
				.modal-footer
					a(href="#" class="modal__subscribe_close" data-dismiss="modal") Нет, спасибо
// end modal modal__subscribe


// http://joxi.ru/MAj0MYzh4gBzvm
// Button trigger modal modal__presentation
// button(class="btn btn__danger" data-toggle="modal" data-target="#modal__presentation") Click to open modal
// begin Modal modal__presentation 
.modal.fade.modal__presentation#modal__presentation
	.modal-dialog
		.modal-content

			btn(class="close", data-dismiss="modal")

			.presentation__slider
				// Slide main 
				.presentation__slider_item
					
					.presentation__slider_title Добро пожаловать на сайт Найди.ру

					.presentation__slider_conten
						.presentation__slider_left
							img(src="img/present_slide.jpg", alt="#" width="265")
						.presentation__slider_right
							
							p Ура! Поздравляем! Вы стали частью, нашего большого дружного сообщества! <br>И Вы не поверите, но мы Вас тут все ждали...

							p Теперь, Вам не будут страшны повышение цен, потому что, Вы знаете, где брать промокоды. <br>И нет ничего сложного в том, чтобы выиграть подарок мечты, потому что у Вас есть шанс на победу.

							p Но сначала, Вам нужно понять, как работает сайт, поэтому предлагаем посмотреть увлекательную инструкцию.
				// Slide 1 
				.presentation__slider_item
					
					.presentation__slider_title Заполните данные и подтвердите емайл

					.presentation__slider_conten
						.presentation__slider_left
							img(src="img/present_slide1.jpg", alt="#" width="353")
						.presentation__slider_right
							
							p Мы отправили Вам письмо на указаную при регистрации почту, пожалуйста, подтвердите емайл, если вы не сделали это ранее. Важно! Не подтвержденный емайлом аккаунт удалиться через 5 дней.

							p Если Вы не получили письмо в течение 15 мин., пожалуйста, напишите нам.

							p Также желательно заполнить свои данные, чтобы в случае выигрыша мы смогли сразу с Вами связаться, если Вы не хотите делать это, не делайте, это не обязательное условие для участия в розыгрыше.
				// Slide 2 
				.presentation__slider_item
					
					.presentation__slider_title Почему мы делаем розыгрыши ежемесячно?

					.presentation__slider_conten
						.presentation__slider_left
							img(src="img/present_slide2.jpg", alt="#" width="219")
						.presentation__slider_right
							
							p Вы наверное знаете, что такое кэшбэк. Так вот, всем известно, что часть денег от своих покупок на кэшбэк-сервисах копяться очень долго и скучно. И кажется, что ожидать ответ о подтверждении заказа, можно вечно. Согласитесь, ждать по полгода, как “Хатико”, свой кэшбэк - это чересчур долго. Бывает даже такое, что заказ могут просто отклонить, ну а это обиднее всего :(

							p И мы решили, что лучше всего будет, если мы в течение месяца, будем собирать тот самый кэшбэк среди всех участников и разыгрывать его в виде призов, каждое 5 число нового месяца. 

							p Что это значит, скажите Вы? А это значит, что Вам не придется ждать целый год свой маленький кэшбэк, Вы можете попытать удачу и выиграть подарок сразу. 

							i Если на Вашей странице появился вот такое покемон, это говорит только об одном - Вы выиграли.
				// Slide 3 
				.presentation__slider_item
					
					.presentation__slider_title Совершайте покупки по промокодам

					.presentation__slider_conten
						.presentation__slider_left
							img(src="img/present_slide3.jpg", alt="#" width="385")
						.presentation__slider_right
							
							p Участвовать в розыгрыше просто, совершайте покупки по промокодам через нас и сохраняйте чеки.

							p Если Вы не нашли подходящий промокод у магазина, но хотите получить баллы за покупку, зайдите на страницу магазина и перейдите на сайт магазина по ссылке, которая находиться в верхней части сайта.

							p Подробнее о том, 
								a(href="#") как использовать промокод >
					
				// Slide 4 
				.presentation__slider_item
					
					.presentation__slider_title Получайте баллы за чеки

					.presentation__slider_conten
						.presentation__slider_left
							img(src="img/present_slide4.jpg", alt="#" width="327")
						.presentation__slider_right
							
							p Отправьте нам фото чека и получите баллы. За счет этого Вам не нужно будет ждать ответа о подтверждение покупки, потому что Вы ее подтверждаете сами.

							p 
								img(src="img/present_slide4-2.jpg", alt="#")
					
				// Slide 5 
				.presentation__slider_item
					
					.presentation__slider_title Меняйте баллы на лотерею

					.presentation__slider_conten
						.presentation__slider_left
							img(src="img/present_slide5.jpg", alt="#" width="393")
						.presentation__slider_right
							
							p Накопите 5000 баллов и поменяйте их на лотерейный билет. 5000 баллов = 5000 руб.- (общая сумма покупки).

							p Если Вы совершите покупку на сумму 5000 руб., то Вы сможете получить лотерею сразу, после подтверждения покупки чеком.

							p 
								a(href="#") Узнайте более подробнее о розыгрышах, призах и победителях >
					
				// Slide 6 
				.presentation__slider_item
					
					.presentation__slider_title Сделайте первую покупку

					.presentation__slider_conten
						.presentation__slider_left
							img(src="img/present_slide6.jpg", alt="#" width="282")
						.presentation__slider_right
							
							p Это проще простого, сначала: 
								|<br> 1) Найдите магазин или категорию товара в каталоге или через поиск.
								|<br> 2) Выберите промокод и перейдите по ссылке через нас на сайт магазина. 
								|<br> 3) Купите товар и снова откройте Ваш Личный кабинет на Найди.ру, чтобы убедиться, засчиталась ли покупка на сайте.

							p Внимание! Если покупка не появилась на сайте в течение 24 часов, пожалуйста, 
								a(href="#") напишите нам.

							p Перед тем, как покупать, ознакомьтесь с 
								a(href="#") Правилами покупок.

					
				// Slide 7 
				.presentation__slider_item
					
					.presentation__slider_title Счастливых выгодных покупок

					.presentation__slider_conten
						.presentation__slider_left
							img(src="img/present_slide7.jpg", alt="#" width="282")
						.presentation__slider_right
							
							p 1) Чтобы магазин, был всегда у Вас на виду, пометьте его сердечком и он сохраниться на транице 
								a(href="#") Любимые магазины 
								|в Вашем Личном кабинете.

							p 2) Увидели 
								a(href="#") классный купон
								|? Сохраните его тоже, чтобы не забыть про него.

							p 3) Будьте с нами всегда и везде, подпишитесь на нас в соц.сетях, чтобы первым узнавать о самых маштабных распродажах этого года.

							p 4) Рассказывайте о нас друзьям и помните, чем больше участников, тем больше победителей и круче призы.
					
			.presentation__sliderfoot.presentation__sliderfoot_first
				button.btn.modal-footer_close(data-dismiss="modal") Я знаю, как работает Найди.ру
				button.btn.btn__danger.modal-footer_next Посмотреть инструкцию
			.presentation__sliderfoot.presentation__sliderfoot_next
				button.btn.modal-footer_prev Предыдущая
				span.presentation__sliderfoot_next_count
					|Шаг  
					span.current 
					|/
					span.total
				button.btn.btn__danger.modal-footer_next Следующая
// end modal modal__presentation


// http://joxi.ru/gmvReJYILEK5em
// Button trigger modal modal__no-purchase
// button(class="btn btn__danger" data-toggle="modal" data-target="#modal__no-purchase") Click to open modal
// begin Modal modal__no-purchase 
.modal.fade.modal__no-purchase#modal__no-purchase
	.modal-dialog
		.modal-content
			.modal__no-purchase_wrap
				.modal-header Извините, но у Вас нет ни одной покупки!
				
				.modal-body
					.modal-body_p На данный момент у Вас нет ни одной сохраненной покупки. Скорее всего, вы просто ничего не купили ...

					.modal-body_p Или может быть, Вы попали в тот процент людей, у которых покупка просто не засчиталась. Причины, могут быть разные. Поэтому стоит изучить наши 
						a(href="#") правила покупок, 
						span чтобы избежать подобных неприятных ситуаций.

					.modal-body_p Если Вы покупали через нас и Ваша покупка не засчиталась, пожалуйста, обратитесь 
						a(href="#") в нашу службу поддержки &gt;
				
				.modal-footer
					button.btn.btn__danger.modal-footer_left(data-dismiss="modal") Мне все понятно
					button.btn.modal-footer_right Хочу написать Вам

			btn(class="close", data-dismiss="modal")
// end modal modal__no-purchase


// http://joxi.ru/ZrJVq8eS9o81Qr
// Button trigger modal modal__del-check
// a(href="#", class="office__checks_edit_hide_btn", data-toggle="modal", data-target="#modal__del-check") Click to open modal
// begin Modal modal__del-check
.modal.fade.modal__del-check#modal__del-check
	.modal-dialog
		.modal-content
			.modal__del-check_wrap
				.modal-header Вы уверены, что хотите удалить чек?
				
				.modal-body
					.modal-body_p Вы загрузили чек и он уже пришел к нам, но мы его пока не проверили. А это значит, что у вас еще есть шанс изменить его.

					.modal-body_p Если Вы по ошибке отправили не то, что хотели, то пожалуйста, удалите его как можно скорее или отредактируйте. Если возникли трудности с отправлением чека, просим обратиться 
						a(href="#") в нашу службу поддержки &gt;
				
				.modal-footer
					button.btn.modal-footer_left Да, удалить чек
					button.btn.btn__danger.modal-footer_right(data-dismiss="modal") Нет, не нужно удалять

			btn(class="close", data-dismiss="modal")
// end modal modal__del-check


// http://joxi.ru/krDp9ZqSEoqJGr
// Button trigger modal modal__shopcard
// button(class="btn btn__danger", data-toggle="modal", data-target="#modal__shopcard") Click to open modal
// begin Modal modal__shopcard
.modal.fade.modal__shopcard#modal__shopcard
	.modal-dialog
		.modal-content
			.modal__shopcard_wrap
				.modal-header Вы уверены, что хотите получить лотерейный билет на Март 2017 года?
				
				.modal-body
					.modal-body_p 
						span.bold Розыгрыш состоиться: 
						span 05 марта 2017 года

					.modal-body_p.bold Призы этого месяца:

					.modal-body_p - Смартфон Apple iPhone S5fhb, <br>- Смарт-часы Samsung LD245 или Asus G21 gjdnbgj <br>- Кожаный чехол для телефона <br>- Органический шампунь от Yves Rocher

					a.modal-body_p(href="#") Подробнее об розыгрыше этого месяца &gt;

					.modal-body_p *Вы должны знать, если Вы получите лотерейный билет, то у Вас автоматически спишутся накопленные здесь 5000 баллов!
				
				.modal-footer
					button.btn.btn__danger.modal-footer_left Да, я хочу <br>лотерейку сейчас
					button.btn.modal-footer_right(data-dismiss="modal") Нет, получу лотерейку <br>в следующий раз

			btn(class="close", data-dismiss="modal")
// end modal modal__shopcard


// http://joxi.ru/RmzXgpYu0nDxbA
// Button trigger modal modal__confirm
// button(class="confirm__btn btn btn__danger", data-toggle="modal", data-target="#modal__confirm") Click to open modal
// begin Modal modal__confirm
.modal.fade.modal__confirm#modal__confirm
	.modal-dialog
		.modal-content
			.modal__confirm_wrap
				.modal-header Подтверждение покупки (чеком)
				
				.modal-body
					.modal-body_top
						.modal-body_top_row
							label.modal-body_label № заказа и магазин
							select.modal-body_select
								option(value="#") (Lamoda) - RU12345-678910
								option(value="#") (Lamoda) - RU12345-678910
								option(value="#") (Lamoda) - RU12345-678910
						.modal-body_top_row
							.file__upload
								a.download__file(href="#") Выберите файл
								input(type="file")
							label.modal-body_label Загрузите фотографию чека <br>
								span Не можете загрузить чек? <br>
									a(href="#") Напишите нам &gt;
					.modal-body_down
						.modal-body_down_left
							.modal-body_label Сумма заказа
							.modal-body_input
								input(type="number", placeholder="5800")
								input(type="text", placeholder="руб")
						.modal-body_down_right
							.modal-body_label Что вы купили? (не обязательно)
							input(type="text", placeholder="Например: платье, смартфон ...")

				.modal-footer
					.modal-footer_error Вы забыли выбрать № заказа и магазин
						.modal-footer_error_close
					button.btn.btn__danger.modal__confirm_btn Отправить чек
					
					
			btn(class="close", data-dismiss="modal")

// begin modal__down  
.modal__down 
	.container_center
		.modal__down_left
			img(src="img/icon-sure3.png", alt="#")
		.modal__down_right 
			span.attention ВНИМАНИЕ! 
			span Подтвердите свой емайл, для того, чтобы продолжить использовать аккаунт. Письмо с подтврждением, уже пришло на Вашу почту. <br>Не подтвержденный емайлом аккаунт, автоматически удалиться через 5 дней!
			button.modal__down_close
// end modal__down  
