extends template.jade

block title
	title Home

block content
	// begin slider__fullwide
	.slider.slider__fullwidth
		.slider_item
			img(src="img/top-slide.jpg", alt="")
		.slider_item
			img(src="img/top-slide.jpg", alt="")
		.slider_item
			img(src="img/top-slide.jpg", alt="")
		.slider_item
			img(src="img/top-slide.jpg", alt="")
		.slider_item
			img(src="img/top-slide.jpg", alt="")

	// end slider__fullwide 

	// begin main__content
	main.main__content
		.white__line
			.container_center

				// begin home__promo 
				.home__promo
					.home__promo_code
						.home__promo_code_title Как использовать промокод и получить подарок?

						// begin home__promo_code_grid
						.grid.grid__3.home__promo_code_grid
							.grid__wrapper
								img(src="img/how1.png", alt="")
								p Сначала зарегистрируйтесь, потом найдите промокод любимого магазина и скопируйте его код
	
							.grid__wrapper
								img(src="img/how2.png", alt="")
								p Вставьте код промокода в специальное поле, при оформлении заказа и получите скидку!

							.grid__wrapper
								img(src="img/how3.png", alt="")
								p Получайте баллы за чеки, меняйте их на лотереи и участвуйте в ежемесячных розыгрышах. 
									a(href="#") Подробнее о розыгрышах >
						// end home__promo_code_grid

						.home__promo_code_bottom
							a(href="#").btn.btn__lg.btn__danger Зарегистрироваться
							span Уже зарегистрированы? 
							a(href="#") 
								b Войти в аккаунт >
						

					.home__promo_shop
						.home__promo_shop_title Самые лучшие магазины
						// begin home__promo_shop_grid
						.grid.grid__.home__promo_shop_grid
							.grid__wrapper
								img(src="img/shop1.jpg", alt="")
							.grid__wrapper
								img(src="img/shop2.jpg", alt="")
							.grid__wrapper
								img(src="img/shop3.jpg", alt="")
							.grid__wrapper
								img(src="img/shop4.jpg", alt="")
							.grid__wrapper
								img(src="img/shop5.jpg", alt="")
							.grid__wrapper
								img(src="img/shop6.jpg", alt="")
						// end home__promo_shop_grid
						

				// end home__promo 

		.container_center

			// begin sale__list 
			.sale__list
				.sale__list_title Лучшие предложения для вас
				
				// Row 1
				.sale__list_row
					.sale__list_left
						img(src="img/sale-list1.png", alt="")
						a(href="#").btn.btn__success Новый
					.sale__list_right
						a(href="#").sale__list_save Сохранить
						a(href="#").btn.btn__primary.btn__code Показать код
						| Использовано: 1283 раза
					.sale__list_center
						.sale__list_row_title Скидка до -50% на одежду и обувь от известных брендов!
						.sale__list_deadline
							i.icon__time_end
							| Заканчивается через 15 дней
						.sale__list_terms
							|Условия акции: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum perspiciatis sint nihil culpa totam quam optio magni suscipit beatae ab praesentium blanditiis maiores obcaecati, harum nam ipsa repellat vitae assumenda! Ullam, fugit rerum natus tempora, non ducimus omnis sed voluptate fuga eius cum quaerat repudiandae mollitia vel, porro impedit sunt, iure delectus incidunt facilis aut adipisci minus earum quia illum. Delectus blanditiis dolores atque ipsum, quo distinctio saepe nulla, doloremque vitae dolorem optio! Tempora enim aliquam autem vero, nemo inventore ducimus similique, aperiam cumque nobis fuga odio. Natus, corporis asperiores, adipisci, aspernatur tenetur quia ex voluptatibus aperiam excepturi voluptate ullam.
							a(href="#").sale__list_more Подробнее
						.sale__list_bottom
							.sale__list_info
								|Используй купон, участвуй в розыгрыше!
								i.icon__question
							| Все промокоды Bon prix
				
				// Row 2
				.sale__list_row
					.sale__list_left
						img(src="img/sale-list2.png", alt="")
						a(href="#").btn.btn__danger Горящий
					.sale__list_right
						a(href="#").sale__list_save.active Сохранить
						a(href="#").btn.btn__primary.btn__code Показать код
						| Использовано: 1283 раза
					.sale__list_center
						.sale__list_row_title Скидка до -50% на одежду и обувь от известных брендов!
						.sale__list_deadline
							i.icon__time_end
							| Заканчивается через 15 дней
						.sale__list_terms
							|Условия акции: Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
							a(href="#").sale__list_more Подробнее
						.sale__list_bottom
							.sale__list_info
								|Используй купон, участвуй в розыгрыше!
								i.icon__question
							| Все промокоды Bon prix
				
				// Row 3
				.sale__list_row
					.sale__list_left
						img(src="img/sale-list3.png", alt="")
						a(href="#").btn.btn__warning Бесплатная доставка
					.sale__list_right
						a(href="#").sale__list_save Сохранить
						a(href="#").btn.btn__primary.btn__code Показать код
						| Использовано: 1283 раза
					.sale__list_center
						.sale__list_row_title Скидка до -50% на одежду и обувь от известных брендов!
						.sale__list_deadline
							i.icon__time_end
							| Заканчивается через 15 дней
						.sale__list_terms
							|Условия акции: Промокод действителен после ввода промокода, промокод действителен после промокода пол...
							a(href="#").sale__list_more Подробнее
						.sale__list_bottom
							.sale__list_info
								|Используй купон, участвуй в розыгрыше!
								i.icon__question
							| Все промокоды Bon prix
				
				// Row 4
				.sale__list_row
					.sale__list_left
						img(src="img/sale-list4.png", alt="")
						a(href="#").btn.btn__warning Подарок
					.sale__list_right
						a(href="#").sale__list_save Сохранить
						a(href="#").btn.btn__primary.btn__code Показать код
						| Использовано: 1283 раза
					.sale__list_center
						.sale__list_row_title Скидка до -50% на одежду и обувь от известных брендов!
						.sale__list_deadline
							i.icon__time_end
							| Заканчивается через 15 дней
						.sale__list_terms
							|Условия акции: Промокод действителен после ввода промокода, промокод действителен после промокода пол...
							a(href="#").sale__list_more Подробнее
						.sale__list_bottom
							.sale__list_info
								|Используй купон, участвуй в розыгрыше!
								i.icon__question
							| Все промокоды Bon prix
				
				// Row 5
				.sale__list_row
					.sale__list_left
						img(src="img/sale-list5.png", alt="")
						a(href="#").btn.btn__warning -50% скидка
					.sale__list_right
						a(href="#").sale__list_save Сохранить
						a(href="#").btn.btn__primary.btn__code Показать код
						| Использовано: 1283 раза
					.sale__list_center
						.sale__list_row_title Скидка до -50% на одежду и обувь от известных брендов!
						.sale__list_deadline
							i.icon__time_end
							| Заканчивается через 15 дней
						.sale__list_terms
							|Условия акции: Промокод действителен после ввода промокода, промокод действителен после промокода пол...
							a(href="#").sale__list_more Подробнее
						.sale__list_bottom
							.sale__list_info
								|Используй купон, участвуй в розыгрыше!
								i.icon__question
							| Все промокоды Bon prix

				a(href="#").btn.btn__danger.btn__lg Посмотреть все промокоды

			// end sale__list 

	// end main__content 
