extends template.jade

block variables
	- bodyClass = "home"

block title
	title Home

block content

	// begin slider__fullwide
	.slider.slider__fullwide
		.slider__item
			img(src="img/top-slide.jpg", alt="").slider__fullwide_lg
		.slider__item
			img(src="img/top-slide.jpg", alt="").slider__fullwide_lg
		.slider__item
			img(src="img/top-slide.jpg", alt="").slider__fullwide_lg
		.slider__item
			img(src="img/top-slide.jpg", alt="").slider__fullwide_lg
		.slider__item
			img(src="img/top-slide.jpg", alt="").slider__fullwide_lg
	
	// Картинка вместо слайдера для мобилки
	a(href="#")
		img(src="img/top-slide-sm.jpg", alt="").slider__fullwide_sm
	// end slider__fullwide 

	.white__line
		.container_center

			// begin home__promo 
			.home__promo
				.home__promo_code
					.home__promo_code_title Как использовать промокод и получить подарок?

					// begin home__promo_code_grid
					.grid.grid__3.home__promo_code_grid
						.grid__wrapper
							img(src="img/how1.svg", alt="")
							p Сначала зарегистрируйтесь, потом найдите промокод любимого магазина и скопируйте его код

						.grid__wrapper
							img(src="img/how2.svg", alt="")
							p Вставьте код промокода в специальное поле, при оформлении заказа и получите скидку!

						.grid__wrapper
							img(src="img/how3.svg", alt="")
							p Получайте баллы за чеки, меняйте их на лотереи и участвуйте в ежемесячных розыгрышах. 
								a(href="#") Подробнее о розыгрышах >
					// end home__promo_code_grid

					.home__promo_code_bottom
						a(href="#").btn.btn__lg.btn__danger Зарегистрироваться
						span Уже зарегистрированы? 
							a(href="#") 
								b Войти в аккаунт >
					

				.home__promo_shop.box.box__gray
					.home__promo_shop_title Самые лучшие магазины
					// begin home__promo_shop_grid
					.grid.grid__.home__promo_shop_grid
						.grid__wrapper
							a(href="#")
								img(src="img/shop1.jpg", alt="")
						.grid__wrapper
							a(href="#")
								img(src="img/shop2.jpg", alt="")
						.grid__wrapper
							a(href="#")
								img(src="img/shop3.jpg", alt="")
						.grid__wrapper
							a(href="#")
								img(src="img/shop4.jpg", alt="")
						.grid__wrapper
							a(href="#")
								img(src="img/shop5.jpg", alt="")
						.grid__wrapper
							a(href="#")
								img(src="img/shop6.jpg", alt="")
					// end home__promo_shop_grid
					

			// end home__promo 

	.container_center

		.section__title Лучшие предложения для вас

		// begin sale__list 
		.sale__list.js_more_wrap
			
			// Row 1
			.sale__list_row.js_more_item
				a(href="#").sale__list_mob-link
				.sale__list_left
					img(src="img/sale-list1.png", alt="")
					.btn.btn__success Новый
				.sale__list_right
					a(href="#").sale__list_save Сохранить
					.code__wrap
						.code__field D146SAFR
						a(href="#").btn.btn__primary.code__btn Показать код
					| Использовано: 1283 раза
				.sale__list_center
					.sale__list_row_title Скидка до -50% на одежду и обувь от известных брендов!
					.sale__list_deadline
						i.icon__time_end
						| Заканчивается через 15 дней
					.sale__list_terms
						|Условия акции: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum perspiciatis sint nihil culpa totam quam optio magni suscipit beatae ab praesentium blanditiis maiores obcaecati, harum nam ipsa repellat vitae assumenda! Ullam, fugit rerum natus tempora, non ducimus omnis sed voluptate fuga eius cum quaerat repudiandae mollitia vel, porro impedit sunt, iure delectus incidunt facilis aut adipisci minus earum quia illum. Delectus blanditiis dolores atque ipsum, quo distinctio saepe nulla, doloremque vitae dolorem optio! Tempora enim aliquam autem vero, nemo inventore ducimus similique, aperiam cumque nobis fuga odio. Natus, corporis asperiores, adipisci, aspernatur tenetur quia ex voluptatibus aperiam excepturi voluptate ullam.
						a(href="#").sale__list_more Подробнее
					.sale__list_bottom
						.sale__list_info
							|Используй купон, участвуй в розыгрыше!
							i.icon__question
						a(href="#") Все промокоды Bon prix
			
			// Row 2
			.sale__list_row.js_more_item
				a(href="#").sale__list_mob-link
				.sale__list_left
					img(src="img/sale-list2.png", alt="")
					.btn.btn__danger Горящий
				.sale__list_right
					a(href="#").sale__list_save.active Сохранить
					//- .code__wrap
					//- 	.code__field D146SAFR
					a(href="#").btn.btn__primary Открыть акцию
					| Использовано: 1283 раза
				.sale__list_center
					.sale__list_row_title Скидка до -50% на одежду и обувь от известных брендов!
					.sale__list_deadline
						i.icon__time_end
						| Заканчивается через 15 дней
					.sale__list_terms
						|Условия акции: Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
						a(href="#").sale__list_more Подробнее
					.sale__list_bottom
						.sale__list_info
							|Используй купон, участвуй в розыгрыше!
							i.icon__question
						a(href="#") Все промокоды Bon prix
			
			// Row 3
			.sale__list_row.js_more_item
				a(href="#").sale__list_mob-link
				.sale__list_left
					img(src="img/sale-list3.png", alt="")
					.btn.btn__warning Бесплатная доставка
				.sale__list_right
					a(href="#").sale__list_save Сохранить
					.code__wrap
						.code__field D146SAFR
						a(href="#").btn.btn__primary.code__btn Показать код
					| Использовано: 1283 раза
				.sale__list_center
					.sale__list_row_title Скидка до -50% на одежду и обувь от известных брендов!
					.sale__list_deadline
						i.icon__time_end
						| Заканчивается через 15 дней
					.sale__list_terms
						|Условия акции: Промокод действителен после ввода промокода, промокод действителен после промокода пол...
						a(href="#").sale__list_more Подробнее
					.sale__list_bottom
						.sale__list_info
							|Используй купон, участвуй в розыгрыше!
							i.icon__question
						a(href="#") Все промокоды Bon prix
			
			// Row 4
			.sale__list_row.js_more_item
				a(href="#").sale__list_mob-link
				.sale__list_left
					img(src="img/sale-list4.png", alt="")
					.btn.btn__warning Подарок
				.sale__list_right
					a(href="#").sale__list_save Сохранить
					.code__wrap
						.code__field D146SAFR
						a(href="#").btn.btn__primary.code__btn Показать код
					| Использовано: 1283 раза
				.sale__list_center
					.sale__list_row_title Скидка до -50% на одежду и обувь от известных брендов!
					.sale__list_deadline
						i.icon__time_end
						| Заканчивается через 15 дней
					.sale__list_terms
						|Условия акции: Промокод действителен после ввода промокода, промокод действителен после промокода пол...
						a(href="#").sale__list_more Подробнее
					.sale__list_bottom
						.sale__list_info
							|Используй купон, участвуй в розыгрыше!
							i.icon__question
						a(href="#") Все промокоды Bon prix
			
			// Row 5
			.sale__list_row.js_more_item
				a(href="#").sale__list_mob-link
				.sale__list_left
					img(src="img/sale-list5.png", alt="")
					.btn.btn__warning -50% скидка
				.sale__list_right
					a(href="#").sale__list_save Сохранить
					.code__wrap
						.code__field D146SAFR
						a(href="#").btn.btn__primary.code__btn Показать код
					| Использовано: 1283 раза
				.sale__list_center
					.sale__list_row_title Скидка до -50% на одежду и обувь от известных брендов!
					.sale__list_deadline
						i.icon__time_end
						| Заканчивается через 15 дней
					.sale__list_terms
						|Условия акции: Промокод действителен после ввода промокода, промокод действителен после промокода пол...
						a(href="#").sale__list_more Подробнее
					.sale__list_bottom
						.sale__list_info
							|Используй купон, участвуй в розыгрыше!
							i.icon__question
						a(href="#") Все промокоды Bon prix

			a(href="#").btn.btn__danger.btn__lg Посмотреть все промокоды

		// end sale__list 

	.white__line
		.container_center

			.section__title.section__title_btn Самые лучшие предложения дня
				a(href="#").btn.btn__danger Смотреть все  >>

			// begin slider__grid 
			.slider.slider__grid
				// Slide 1
				.slider__item
					.slider__grid_img
						img(src="img/most1.png", alt="")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							|Магазин: 
							a(href="#") Lamoda
						|Скидка -50% на одежду и обувь для всей семьи! Супер распродажа!

				// Slide 2
				.slider__item
					.slider__grid_img
						img(src="img/most2.png", alt="")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							|Магазин: 
							a(href="#") Lamoda
						|Смартфон Самсунг со скидкой -45%!

				// Slide 3
				.slider__item
					.slider__grid_img
						img(src="img/most3.png", alt="")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							|Магазин: 
							a(href="#") Снежная королева
						|Скидка -50% на одежду и обувь для всей семьи! Супер распродажа!


				// Slide 4
				.slider__item
					.slider__grid_img
						img(src="img/most4.png", alt="")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							|Магазин: 
							a(href="#") Lamoda
						|Купите стиральную машину и получите подарок!

				// Slide 5
				.slider__item
					.slider__grid_img
						img(src="img/most1.png", alt="")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							|Магазин: 
							a(href="#") Lamoda
						|Скидка -50% на одежду и обувь для всей семьи! Супер распродажа!

				// Slide 6
				.slider__item
					.slider__grid_img
						img(src="img/most2.png", alt="")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							|Магазин: 
							a(href="#") Lamoda
						|Смартфон Самсунг со скидкой -45%!

				// Slide 7
				.slider__item
					.slider__grid_img
						img(src="img/most3.png", alt="")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							|Магазин: 
							a(href="#") Снежная королева
						|Скидка -50% на одежду и обувь для всей семьи! Супер распродажа!


				// Slide 8
				.slider__item
					.slider__grid_img
						img(src="img/most4.png", alt="")
						.slider__grid_overlay 
							|1240р. 
							span 2120р.
					.slider__grid_text
						.slider__grid_name
							|Магазин: 
							a(href="#") Lamoda
						|Купите стиральную машину и получите подарок!

			// end slider__grid 

			// begin grid__duble
			.grid.grid__duble
				.grid__wrapper
					.section__title.section__title_link Популярные категории
						a(href="#") Все категории
					.box.box__gray.category__box
						// begin category__box_grid
						.grid.grid__3.category__box_grid
							.grid__wrapper
								.grid__item
									img(src="img/cat1.png", alt="")
									p Детские товары
							.grid__wrapper
								.grid__item
									img(src="img/cat2.png", alt="")
									p Бытовая техника
							.grid__wrapper
								.grid__item
									img(src="img/cat3.png", alt="")
									p Одежда
							.grid__wrapper
								.grid__item
									img(src="img/cat4.png", alt="")
									p Электроника
							.grid__wrapper
								.grid__item
									img(src="img/cat5.png", alt="")
									p Аксессуары
							.grid__wrapper
								.grid__item
									img(src="img/cat6.png", alt="")
									p Apple
							.grid__wrapper
								.grid__item
									img(src="img/cat7.png", alt="")
									p Подгузники и памперсы
							.grid__wrapper
								.grid__item
									img(src="img/cat8.png", alt="")
									p Смартфоны
							.grid__wrapper
								.grid__item
									img(src="img/cat9.png", alt="")
									p Обувь
						// end category__box_grid

						// begin category__box_list 
						ul.columns__list
							li 
								a(href="#") Путешествия и развлечения
							li 
								a(href="#") Детские товары и Игрушки
							li 
								a(href="#") Аксессуары
							li 
								a(href="#") Электроника
							li 
								a(href="#") Одежда
							li 
								a(href="#") Обувь
							li 
								a(href="#") Аксессуары
							li 
								a(href="#") Спортивные товары
							li 
								a(href="#") Еда и продукты
							li 
								a(href="#") Цветы и подарки
							li 
								a(href="#") Автотовары и Инструменты
							li 
								a(href="#") Книги, Игры, Фильмы
							li 
								a(href="#") Дом, мебель, сад




						// end category__box_list 
						
				.grid__wrapper
					.section__title.section__title_link Популярные магазины
						a(href="#") Все магазины
					.box.box__gray
						ul.columns__list
							li 
								a(href="#") Lamoda
							li 
								a(href="#") Ozon
							li 
								a(href="#") Ebay
							li 
								a(href="#") Билайн
							li 
								a(href="#") Техносила
							li 
								a(href="#") Снежная королева
							li 
								a(href="#") Lamoda
							li 
								a(href="#") Техносила
							li 
								a(href="#") Снежная королева
							li 
								a(href="#") Lamoda
							li 
								a(href="#") Lamoda
							li 
								a(href="#") Ozon
							li
								a(href="#") Ebay
							li 
								a(href="#") Lamoda
							li 
								a(href="#") Ozon
							li 
								a(href="#") Ebay
							li 
								a(href="#") Билайн
							li 
								a(href="#") Техносила
							li 
								a(href="#") Снежная королева
							li 
								a(href="#") Lamoda
							li 
								a(href="#") Техносила
							li 
								a(href="#") Снежная королева
							li 
								a(href="#") Lamoda
							li 
								a(href="#") Lamoda
							li 
								a(href="#") Ozon
							li
								a(href="#") Ebay

			// end grid__duble

	.container_center
		
		.banner__box
			a(href="#").banner__box_link
				img(src="img/banner.jpg", alt="").banner__box_img_lg
				img(src="img/banner-sm.jpg", alt="").banner__box_img_sm

				.banner__box_text.js_more_wrap
					b Найди.ру - 
					|это сайт скидок и акций. Сегодня большинство интернет-магазинов ищут любые пути, чтобы привлечь к себе как можно больше покупателей. К такой ситуации приводит в основном большая конкуренция на современном рынке чтобы привлечь к себе как можно больше покупателей конкуренция на современном рынке.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					span.banner__box_more.js_more(data-text="Больше >>") Больше >>

		.counter__box
			.counter__box_top
				.counter__box_left
					.counter__box_label Всего зарегистрированных на сайте:
					.counter__box_count
						.counter__box_count_wrap
							.counter__box_count_item 2
							.counter__box_count_item 1
							.counter__box_count_item 8
							.counter__box_count_item 0
							.counter__box_count_item 2
							.counter__box_count_item 2
						|человек
					.counter__box_auth
						a(href="#").btn.btn__danger.btn__lg Зарегистрироваться
						p Уже зарегистрированы? 
							a(href="#") 
								b Войти >

				.counter__box_right
					img(src="img/counter.jpg", alt="")
			.counter__box_bottom
				.counter__box_rev
					.counter__box_rev_photo
						img(src="img/rev.png", alt="")
					.counter__box_rev_quote
						|Познакомилась с этим сервисом совсем недавно. До этого незнала, что такое промокоды и для чего они нужны. Вообщем решила с его помощью заказать в интернет-магазине...  
						a(href="#") Читать полностью >>
			
		.section__title Узнайте больше

		// begin simple__grid
		.grid.grid__5.simple__grid
			// Item 1
			.grid__wrapper
				.grid__item
					img(src="img/more1.png", alt="")
					.simple__grid_text Как выбрать посудомоечную машину?

			// Item 2
			.grid__wrapper
				.grid__item
					img(src="img/more2.png", alt="")
					.simple__grid_text Что подарить подруге?
			// Item 3
			.grid__wrapper
				.grid__item
					img(src="img/more3.png", alt="")
					.simple__grid_text Топ-10 оригинальных светильников для дома
			// Item 4
			.grid__wrapper
				.grid__item
					img(src="img/more4.png", alt="")
					.simple__grid_text Скидки до -50% на новую коллекцию одежду от s’Oliversale
			// Item 5
			.grid__wrapper
				.grid__item
					img(src="img/more5.png", alt="")
					.simple__grid_text Распродажа в рекламном агенстве “Солнце”!
		// end simple__grid

