extends template.jade

block variables
	- bodyClass = "office office-news"

block title
	title Личный кабинет - Написать нам + оповещение

block content
	.white__line
		.container_center

			//- // begin breadcrumb
			//- .breadcrumb
			//- 	li
			//- 		a(href="/") Главная
			//- 	li
			//- 		a(href="office.html") Личный кабинет
			//- 	li
			//- 		a(href="#") Написать нам + новости
			//- // end breadcrumb


			// begin office__top
			.office__top
				.office__top_left
					.office__top_user
						.office__top_user_img
							img(src="img/rev2.png", alt="#")
						.office__top_user_name
							.office__top_user_fname Александра 
							.office__top_user_lname Иванова
					.office__top_alarm.open
						.office__top_alarm_number 1

						.office__top_notification
							.office__top_notification_in
								.office__top_notification_name Оповещения
									a.office__top_notification_link(href="#") Показать все
								a.office__top_notification_item(href="#")
									.office__top_notification_left
										img(src="img/most1.png", alt="#")
									.office__top_notification_right Акция в Снежной Королеве! <br>Только сегодня при заказе платья в подарок холодильник и посудомоечная машина. <br>Успейте купить!
								a.office__top_notification_item(href="#")
									.office__top_notification_left
										img(src="img/icon-sure4.png", alt="#")
									.office__top_notification_right Извините, но Ваш чек был не подвержден. <br>Причина: Чек не соотвествует с выбранным № заказом.
								a.office__top_notification_item(href="#")
									.office__top_notification_left
										img(src="img/icon-sure2.png", alt="#")
									.office__top_notification_right Вы получили 5000 баллов, Вы можете обменять их на ШопКарту прямо сейчас! <br>Узнайте подробнее о том, как обменять баллы на ШопКарту.
							img.office__top_notification_trigon(src="img/tri-area2.png", alt="#")

				.office__top_right
					.sm_social
						.sm_social_icon
							.ya-share2(data-services="vkontakte")
						.sm_social_icon
							.ya-share2(data-services="facebook")				
						.sm_social_icon
							.ya-share2(data-services="odnoklassniki")
						.sm_social_icon
							.ya-share2(data-services="gplus")
						.sm_social_icon
							.ya-share2(data-services="twitter")
					.office__top_right_links
						a.office__top_right_link.office__top_right_link_star(href="office-coupons.html") Сохраненные<br>купоны
						a.office__top_right_link.office__top_right_link_hart(href="office-shops.html") Любимые<br>магазины
				.office__top_center
					.office__top_center_message
						p 
							span.large Вы накопили: 
								span.bold.points 2120 
							span.bold баллов
						p До ШопКарты Вам осталось накопить: <br>
							span.large.bold.points__left 2880 
							span.bold баллов
						.tooltip__help.big
							.tooltip__text Отлично! Теперь Вы можете поменять баллы на лотерею и это можно будет сделать в любое время, даже через месяц.   Перед тем, как получать лотерею, посмотрите, какие призы будут 
								a(href="#") разыграны в этом месяце &gt; 
								<br><br>Если вы решили участвовать в этом месяце, тогда найдите кнопку “Получить лотерею” в одном из блоков ниже.
					.sm_social
						.sm_social_icon
							.ya-share2(data-services="vkontakte")
						.sm_social_icon
							.ya-share2(data-services="facebook")				
						.sm_social_icon
							.ya-share2(data-services="odnoklassniki")
						.sm_social_icon
							.ya-share2(data-services="gplus")
						.sm_social_icon
							.ya-share2(data-services="twitter")
			// end office__top


	.container_center.main


		// begin sidebar
		.office__menu_trigger Другие разделы
		.main__content_sidebar
			.sidebar__section
				.office__menu
					.office__item
						a.office__link(href="office.html") Ваши ШопКарты и покупки
					.office__item
						a.office__link.active(href="office-news.html") Написать нам + новости
					.office__item
						a.office__link(href="office-edit.html") Изменить данные
					.office__item
						a.office__link(href="office-settings.html") Настройки рассылки
					.office__item
						a.office__link(href="office-shops.html") Любимые магазины
					.office__item
						a.office__link(href="office-coupons.html") Сохраненные купоны
					.office__item
						a.office__link(href="#") Как получить подарок?
					.office__item
						a.office__link(href="#") Выйти из аккаунта
			.sidebar__section
				.sidebar__section_name Поменяйте чек на ШопКарту
				p Чтобы получить ШопКарту, нужно подвердить покупку чеком
				button(class="btn btn__danger" data-toggle="modal" data-target="#modal__no-purchase") Отправить чек
			.sidebar__section
				.sidebar__section_name Лента обладателей подарка
				.office__winners_wrap
					.office__winners.scrollbar-inner
						.office__winners_title Подарок: Смартфон 
							span.office__winners_amount (2)
						.office__winners_list
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
						.office__winners_title Подарок: Косметика 
							span.office__winners_amount (25)
						.office__winners_list
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
				button.btn.btn__danger Посмотреть всех
		// end sidebar


		.line.laptop


		// begin main__content_center 
		.main__content_center

			// begin office__support 
			.office__support
				a.btn.btn__danger.office__support_shopcard(href="#") Поменяйте чек на ШопКарту
				button.btn.btn__primary.office__support_trigger
					.bold Написать нам <br>
					|Служба поддержки Найди.ру
				.office__news_support
					.office__news_support_head
						.office__news_support_name Шоппел
						p Служба поддержки Найди.ру
					.office__news_support_body
						.office__news_support_h Ваше сообщение
						textarea(placeholder="Есть вопрос? Напишите его сюда! Шоппел ответит на Ваш вопрос электронной почтой, в ближайшее время.")
						button.btn.btn__danger Отправить нам	
			// end office__support 

			h1 Ваши новости и уведомления

			
			// begin office__news
			.office__news
				
				// begin office__news_left 
				.office__news_left.column
					.office__news_list
						.office__news_item
							a(href="#")
								img.office__news_item_img(src="img/news-img1.jpg", alt="#")
							a.office__news_item_info(href="#") Акция в Снежной Королеве! Только сегодня при заказе платья в подарок холодильник и посудомоечная машина. Успейте купить!
							.office__news_item_ago
								span.hours__ago 1 
								час назад
							a.office__news_item_mark(href="#")
							.office__news_item_hide
								button.office__news_item_btn.btn Удалить, как прочитанное
							.news__del
								.news__del_info
									.news__del_name Запись успешно удалена!
									.news__del_p Так как, Вы ее отметили галочкой, как прочитанное!
									.news__del_p Пока не поздно, ее можно вернуть!
									button.news__del_restore.btn Восстановить запись
						.office__news_item
							a(href="#")
								img.office__news_item_img(src="img/news-img2.jpg", alt="#")
							a.office__news_item_info(href="#") Акция в Ив Роше. Только сегодня подарок каждому за покупку!
							.office__news_item_ago
								span.hours__ago 1 
								час назад
							a.office__news_item_mark(href="#")
							.office__news_item_hide
								button.office__news_item_btn.btn Удалить, как прочитанное
							.news__del
								.news__del_info
									.news__del_name Запись успешно удалена!
									.news__del_p Так как, Вы ее отметили галочкой, как прочитанное!
									.news__del_p Пока не поздно, ее можно вернуть!
									button.news__del_restore.btn Восстановить запись
						.office__news_item.success
							.office__news_item_name Поздравляем! Вы получили подарок!
							p Вы получили подарок в этом месяце, в ближайшее время с Вами свяжется наш менеджер для уточнения информации о получении подарка.
							.office__news_item_ago
								span.hours__ago 1 
								час назад
							.office__news_item_impotant важно
							a.office__news_item_mark(href="#")
							.office__news_item_hide
								button.office__news_item_btn.btn Удалить, как прочитанное
							.news__del
								.news__del_info
									.news__del_name Запись успешно удалена!
									.news__del_p Так как, Вы ее отметили галочкой, как прочитанное!
									.news__del_p Пока не поздно, ее можно вернуть!
									button.news__del_restore.btn Восстановить запись
						.office__news_item
							a(href="#")
								img.office__news_item_img(src="img/news-img3.jpg", alt="#")
							a.office__news_item_info(href="#") Акция Март-2017. Посмотрите, кто получает подарок в этом месяце!
							.office__news_item_ago
								span.hours__ago 1 
								час назад
							a.office__news_item_mark(href="#")
							.office__news_item_hide
								button.office__news_item_btn.btn Удалить, как прочитанное
							.news__del
								.news__del_info
									.news__del_name Запись успешно удалена!
									.news__del_p Так как, Вы ее отметили галочкой, как прочитанное!
									.news__del_p Пока не поздно, ее можно вернуть!
									button.news__del_restore.btn Восстановить запись
						.office__news_item.primary
							.office__news_item_name Не подтвержден
							p Извините, но Ваш чек был не подвержден. Причина: Чек не соотвествует с выбранным № заказом.
							.office__news_item_ago
								span.hours__ago 1 
								час назад
							.office__news_item_impotant важно
							a.office__news_item_mark(href="#")
							.office__news_item_hide
								button.office__news_item_btn.btn Удалить, как прочитанное
							.news__del
								.news__del_info
									.news__del_name Запись успешно удалена!
									.news__del_p Так как, Вы ее отметили галочкой, как прочитанное!
									.news__del_p Пока не поздно, ее можно вернуть!
									button.news__del_restore.btn Восстановить запись
						.office__news_item
							a(href="#")
								img.office__news_item_img(src="img/news-img4.jpg", alt="#")
							a.office__news_item_info(href="#") Большая распродажа в Aliexspress! Шанс выиграть подарок мечты!
							.office__news_item_ago
								span.hours__ago 1 
								час назад
							a.office__news_item_mark(href="#")
							.office__news_item_hide
								button.office__news_item_btn.btn Удалить, как прочитанное
							.news__del
								.news__del_info
									.news__del_name Запись успешно удалена!
									.news__del_p Так как, Вы ее отметили галочкой, как прочитанное!
									.news__del_p Пока не поздно, ее можно вернуть!
									button.news__del_restore.btn Восстановить запись
						.office__news_item.danger
							.office__news_item_name Получите ШопКарту
							p Вы получили 5000 баллов, Вы можете обменять их на ШопКарту прямо сейчас! Узнайте подробнее о том, 
								a(href="#") как обменять баллы на ШопКарту.
							.office__news_item_ago
								span.hours__ago 1 
								час назад
							.office__news_item_impotant важно
							a.office__news_item_mark(href="#")
							.office__news_item_hide
								button.office__news_item_btn.btn Удалить, как прочитанное
							.news__del
								.news__del_info
									.news__del_name Запись успешно удалена!
									.news__del_p Так как, Вы ее отметили галочкой, как прочитанное!
									.news__del_p Пока не поздно, ее можно вернуть!
									button.news__del_restore.btn Восстановить запись
				// end office__news_left 

				
				// begin office__news_right 
				.office__news_right
					.office__news_support.down
						.office__news_support_head
							.office__news_support_name Шоппел
							p Служба поддержки Найди.ру
						.office__news_support_body
							.office__news_support_h Ваше сообщение
							textarea(placeholder="Есть вопрос? Напишите его сюда! Шоппел ответит на Ваш вопрос электронной почтой, в ближайшее время.")
							button.btn.btn__danger Отправить нам
							.office__news_support_p Среднее время ожидания ответа - 15 мин.
						a.office__news_support_link.tooltip(href="#" title="Шоппел - это супергерой Найди.ру. Она знает все о выгодных покупках и с большим удовольствием научит вас экономить. Задайте ей вопрос и она ответит на него в ближайшее время.") Кто такая Шоппел?
					.office__news_subscription
						//- img.office__news_subscription_img(src="img/subscription.jpg", alt="#")
						script(type="text/javascript" src="//vk.com/js/api/openapi.js?146")
						#vk_groups
						script(type="text/javascript").
							VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, width: "340", height: "455"}, 45154409);

				// end office__news_right

			// end office__news

		// end main__content_center