extends template.jade

block variables
	- bodyClass = "office"

block title
	title Личный кабинет - Настройки рассылки                  

block content
	.white__line.sm
		.container_center


			// begin breadcrumb
			.breadcrumb.ind
				li
					a(href="/") Главная
				li
					a(href="office.html") Личный кабинет
				li
					a(href="#") Настройки рассылки
			// end breadcrumb


			// begin office__top 
			.office__top
				.office__top_left
					.office__top_user
						img.office__top_user_img(src="img/rev2.png", alt="#")
						.office__top_user_name Александра<br>Иванова
					a.office__top_alarm(href="#")
						.office__top_alarm_number 1
				.office__top_center
					p 
						span.large Вы накопили: 
							span.bold.points 2120 
						span.bold баллов
					p До лотереи Вам осталось набрать: <br>
						span.large.bold.points__left 2880 
						span.bold баллов
				.office__top_right
					.sm_social
						.sm_social_icon
							.ya-share2(data-services="vkontakte")
						.sm_social_icon
							.ya-share2(data-services="facebook")				
						.sm_social_icon
							.ya-share2(data-services="odnoklassniki")
						.sm_social_icon
							.ya-share2(data-services="gplus")
						.sm_social_icon
							.ya-share2(data-services="twitter")
					.office__top_right_links
						a.office__top_right_link(href="#") Сохраненные<br>купоны
						a.office__top_right_link(href="#") Любимые<br>магазины
			// end office__top


	.container_center.main


		// begin sidebar
		.office__menu_trigger
		.main__content_sidebar
			.sidebar__section
				.office__menu
					.office__item
						a.office__link(href="office.html") Ваши лотереи и покупки
					.office__item
						a.office__link(href="office-news.html") Написать нам + новости
					.office__item
						a.office__link(href="office-edit.html") Изменить данные
					.office__item
						a.office__link.active(href="#") Настройки рассылки
					.office__item
						a.office__link(href="#") Розыгрыш призов
					.office__item
						a.office__link(href="#") Выйти из аккаунта
			.sidebar__section
				.sidebar__section_name Поменяйте чек на лотерею
				p Чтобы получить лотерею, нужно подвердить покупку чеком
				button.btn.btn__danger Отправить чек
			.sidebar__section
				.sidebar__section_name Лента победителей
				p Розыгрыш апрель-2017:
				.office__winners.scrolled__box
					.office__winners_title Выиграли: Смартфон 
						span.office__winners_amount (2)
					.office__winners_list
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
					.office__winners_title Выиграли: Косметику 
						span.office__winners_amount (25)
					.office__winners_list
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
				button.btn.btn__danger Увидеть всех <br>победителей
		// end sidebar


		// begin main__content_center 
		.main__content_center

			h1 Настройки рассылки

			.office__settings_section
				.office__settings_section_info
					.office__settings_section_top
						.office__settings_section_h2 Помогите нам стать лучше для Вас, настройте рассылку под себя
						
						.office__settings_info
							.office__settings_checkbox
								input(type="checkbox" id="os1")
								label.office__settings_label(for="os1") Вы будете получать, информацию о скидках и акциях от любимых магазинов и категорий
							.office__settings_checkbox
								input(type="checkbox" id="os2")
								label.office__settings_label(for="os2") Вы будете узнавать, о розыгрышах, новостях и изменениях в Вашем аккаунте
							.office__settings_checkbox
								input(type="checkbox" id="os3")
								label.office__settings_label(for="os3") Отписаться от всех рассылок
							
						.office__edit_down
							button.btn.btn__danger.office__edit_btn Сохранить изменения
							.office__edit_note Информация успешно обновлена!
								button.close
			
			.office__settings_section
				.office__settings_section_info
					.office__settings_section_top
						.office__settings_section_h2 Вы подписаны на эти магазины

						.office__settings_section_p Чтобы получать скидки, только от любимых магазинов на емайл, нужно: первое - найти любимые магазины и второе нажать на сердечки этих магазинов. И выбранные Вами магазины автоматически сохранятся тут и на этой странице: Любимые магазины.

						.office__settings_list
							.office__settings_checkbox
								input(type="checkbox" id="os4")
								label.office__settings_label(for="os4") Lamoda
							.office__settings_checkbox
								input(type="checkbox" id="os5")
								label.office__settings_label(for="os5") Снежная королева  
							.office__settings_checkbox
								input(type="checkbox" id="os6")
								label.office__settings_label(for="os6") Дочки и Сыночки
							.office__settings_checkbox
								input(type="checkbox" id="os7")
								label.office__settings_label(for="os7") Lamoda
							.office__settings_checkbox
								input(type="checkbox" id="os8")
								label.office__settings_label(for="os8") Media Markt
							.office__settings_checkbox
								input(type="checkbox" id="os9")
								label.office__settings_label(for="os9") Ozon
							.office__settings_checkbox
								input(type="checkbox" id="os10")
								label.office__settings_label(for="os10") Ebay

					.line

					.office__settings_section_bottom
						.office__settings_section_h3 Рекомендуем подписаться на эти магазины

						.office__settings_col
							.office__settings_checkbox
								input(type="checkbox" id="os11")
								label.office__settings_label(for="os11") Снежная королева
							.office__settings_checkbox
								input(type="checkbox" id="os12")
								label.office__settings_label(for="os12") Снежная королева  
							.office__settings_checkbox
								input(type="checkbox" id="os13")
								label.office__settings_label(for="os13") Снежная королева
							.office__settings_checkbox
								input(type="checkbox" id="os14")
								label.office__settings_label(for="os14") Снежная королева
							.office__settings_checkbox
								input(type="checkbox" id="os15")
								label.office__settings_label(for="os15") Media Markt
							.office__settings_checkbox
								input(type="checkbox" id="os16")
								label.office__settings_label(for="os16") Media Markt
							.office__settings_checkbox
								input(type="checkbox" id="os17")
								label.office__settings_label(for="os17") Media Markt
							.office__settings_checkbox
								input(type="checkbox" id="os18")
								label.office__settings_label(for="os18") Media Markt
							.office__settings_checkbox
								input(type="checkbox" id="os19")
								label.office__settings_label(for="os19") Дочки и Сыночки
							.office__settings_checkbox
								input(type="checkbox" id="os20")
								label.office__settings_label(for="os20") Дочки и Сыночки
							.office__settings_checkbox
								input(type="checkbox" id="os21")
								label.office__settings_label(for="os21") Дочки и Сыночки
							.office__settings_checkbox
								input(type="checkbox" id="os22")
								label.office__settings_label(for="os22") Дочки и Сыночки
			
			.office__settings_section
				.office__settings_section_info
					.office__settings_section_top
						.office__settings_section_h2 Вы подписаны на эти категории

						.office__settings_section_p Чтобы получать скидки, только на определенную группу товаров, нужно: первое - выбрать категории и второе нажать на сердечки этих категорий. И выбранные Вами категории автоматически сохранятся тут.

						.office__settings_list
							.office__settings_checkbox
								input(type="checkbox" id="os23")
								label.office__settings_label(for="os23") Одежда
							.office__settings_checkbox
								input(type="checkbox" id="os24")
								label.office__settings_label(for="os24") Обувь

					.line

					.office__settings_section_bottom
						.office__settings_section_h3 Рекомендуем подписаться на эти категории

						.office__settings_col
							.office__settings_checkbox
								input(type="checkbox" id="os25")
								label.office__settings_label(for="os25") Аксессуары
							.office__settings_checkbox
								input(type="checkbox" id="os26")
								label.office__settings_label(for="os26") Красота и здоровье  
							.office__settings_checkbox
								input(type="checkbox" id="os27")
								label.office__settings_label(for="os27") Дом, мебель, сад
							.office__settings_checkbox
								input(type="checkbox" id="os28")
								label.office__settings_label(for="os28") Автотовары и Инструменты
							.office__settings_checkbox
								input(type="checkbox" id="os29") 
								label.office__settings_label(for="os29") Бытовая техника
							.office__settings_checkbox
								input(type="checkbox" id="os30")
								label.office__settings_label(for="os30") Еда и продукты
							.office__settings_checkbox
								input(type="checkbox" id="os31")
								label.office__settings_label(for="os31") Детские товары, Игрушки
							.office__settings_checkbox
								input(type="checkbox" id="os32")
								label.office__settings_label(for="os32") Финансы, Услуги, Образование
							.office__settings_checkbox
								input(type="checkbox" id="os33")
								label.office__settings_label(for="os33") Электроника
							.office__settings_checkbox
								input(type="checkbox" id="os34")
								label.office__settings_label(for="os34") Зоотовары
							.office__settings_checkbox
								input(type="checkbox" id="os35")
								label.office__settings_label(for="os35") Путешествия и Развелечения
							.office__settings_checkbox
								input(type="checkbox" id="os36")
								label.office__settings_label(for="os36") Спортивные товары
				
			// end office__edit_text 

		// end main__content_center