extends template.jade

block variables
	- bodyClass = "office"

block title
	title Личный кабинет - Изменить данные

block content
	.white__line.sm
		.container_center


			// begin breadcrumb
			.breadcrumb.ind
				li
					a(href="/") Главная
				li
					a(href="office.html") Личный кабинет
				li
					a(href="#") Изменить данные
			// end breadcrumb


			// begin office__top
			.office__top
				.office__top_left
					.office__top_user
						.office__top_user_img
							img(src="img/rev2.png", alt="#")
						.office__top_user_name
							.office__top_user_fname Александра 
							.office__top_user_lname Иванова
					a.office__top_alarm.open(href="#")
						.office__top_alarm_number 1
				.office__top_right
					.sm_social
						.sm_social_icon
							.ya-share2(data-services="vkontakte")
						.sm_social_icon
							.ya-share2(data-services="facebook")				
						.sm_social_icon
							.ya-share2(data-services="odnoklassniki")
						.sm_social_icon
							.ya-share2(data-services="gplus")
						.sm_social_icon
							.ya-share2(data-services="twitter")
					.office__top_right_links
						a.office__top_right_link.office__top_right_link_star(href="office-coupons.html") Сохраненные<br>купоны
						a.office__top_right_link.office__top_right_link_hart(href="office-shops.html") Любимые<br>магазины
				.office__top_center
					.office__top_center_message
						p 
							span.large Вы накопили: 
								span.bold.points 2120 
							span.bold баллов
						p До ШопКарты Вам осталось набрать: <br>
							span.large.bold.points__left 2880 
							span.bold баллов
					.sm_social
						.sm_social_icon
							.ya-share2(data-services="vkontakte")
						.sm_social_icon
							.ya-share2(data-services="facebook")				
						.sm_social_icon
							.ya-share2(data-services="odnoklassniki")
						.sm_social_icon
							.ya-share2(data-services="gplus")
						.sm_social_icon
							.ya-share2(data-services="twitter")
			// end office__top


	.container_center.main


		// begin sidebar
		.office__menu_trigger
		.main__content_sidebar
			.sidebar__section
				.office__menu
					.office__item
						a.office__link.active(href="#") Ваши ШопКарты и покупки &gt;
					.office__item
						a.office__link(href="office-news.html") Написать нам + новости
					.office__item
						a.office__link(href="office-edit.html") Изменить данные
					.office__item
						a.office__link(href="office-settings.html") Настройки рассылки
					.office__item
						a.office__link(href="#") Как получить подарок?
					.office__item
						a.office__link(href="#") Выйти из аккаунта
			.sidebar__section
				.sidebar__section_name Поменяйте чек на ШопКарту
				p Чтобы получить ШопКарту, нужно подвердить покупку чеком
				button.btn.btn__danger Отправить чек
			.sidebar__section
				.sidebar__section_name Лента обладателей подарка
				p Розыгрыш апрель-2017:
				.office__winners_wrap
					.office__winners.scrollbar-inner
						.office__winners_title Подарок: Смартфон 
							span.office__winners_amount (2)
						.office__winners_list
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
						.office__winners_title Подарок: Косметика 
							span.office__winners_amount (25)
						.office__winners_list
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
				button.btn.btn__danger Посмотреть всех
		// end sidebar


		// begin main__content_center 
		.main__content_center

			h1 Редактирование аккаунта

			.office__edit_section
				.office__edit_section_name Изменение личных данных
				.office__edit_section_info
					.office__edit_list
						.office__edit_list_col
							.office__edit_row
								.office__edit_label(for="oe1") Имя
								input(type="text", placeholder="Мария", id="oe1")
							.office__edit_row
								.office__edit_label(for="oe2") Фамилия
								input(type="text", placeholder="Иванова", id="oe2")
							.office__edit_row
								.office__edit_label(for="oe3") Отчество
								input(type="text", placeholder="Петровна", id="oe3")
							.office__edit_row
								.office__edit_label Страна
								select.office__edit_select(name="country")
									option(value="#") Россия
									option(value="#") Страна №2
							.office__edit_row
								.office__edit_label(for="oe4") Адрес (куда присылать подарок)
								input(type="text", placeholder="ул.Победная 5, д.25, кв.45", id="oe4")
							.office__edit_row
								.office__edit_label Пол
								select.office__edit_select(name="gender")
									option(value="#") Мужчина
									option(value="#") Женщина
						
						.office__edit_list_col
							.office__edit_row.photo
								img.office__edit_row_left(src="img/no-photo.png", alt="#")
								.office__edit_row_right
									.office__edit_label.mb Загрузите свою фотографию
									.file__upload
										a.download__file(href="#") Выберите файл
										input(type="file")
							.office__edit_row
								.office__edit_label(for="oe5") Дата рождения
								input(type="date", placeholder="25.05.1992", id="oe5")
							.office__edit_row
								.office__edit_label(for="oe6") Город
								input(type="text", placeholder="Москва", id="oe6")
							.office__edit_row
								.office__edit_label(for="oe7") Почтовый индекс
								input(type="number", placeholder="234582", id="oe7")
							.office__edit_row.last
								.office__edit_label Выберите соц.сеть и выполняйте быстрый вход
								.lg_social
									.lg_social_icon
										.ya-share2(data-services="vkontakte")
									.lg_social_icon
										.ya-share2(data-services="odnoklassniki")
									.lg_social_icon
										button.lg_social_icon_add.btn
									.lg_social_icon
										button.lg_social_icon_add.btn
									.lg_social_icon
										.ya-share2(data-services="facebook")
									.lg_social_icon
										.ya-share2(data-services="gplus")
								i.icon__question.big
					
					.office__edit_down
						button.btn.btn__danger.office__edit_btn Сохранить изменения
						.office__edit_note Информация успешно обновлена!
							button.close
			
			.office__edit_section
				.office__edit_section_name Контакты (мы свяжемся с вами в случае выигрыша)
				.office__edit_section_info
					.office__edit_list
						.office__edit_list_col
							.office__edit_row
								.office__edit_label(for="oe8") Электронная почта (e-mail)
								input(type="email", placeholder="Мaria235@mail.ru", id="oe8")
						
						.office__edit_list_col
							.office__edit_row
								.office__edit_label(for="oe9") Номер телефона
								input(type="tel", placeholder="+7 962 563 38 52", id="oe9")
					
					.office__edit_down
						button.btn.btn__danger.office__edit_btn Сохранить изменения
						.office__edit_note.lg Мы отправили вам письмо на почту: Мaria235@mail.ru <br> Пожалуйста, подтвердите свои изменения, перейдя по ссылке из письма.
							button.close
			
			.office__edit_section
				.office__edit_section_name Дополнительная информация (Эта информация, поможет нам стать лучше для Вас)
				.office__edit_section_info
					.office__edit_list
						.office__edit_list_col
							.office__edit_row
								.office__edit_label(for="oe10") Что бы Вы хотели тут выиграть? (через запятую)
								input(type="text", placeholder="Смартфон, PlayStation, Робот-пылесос ...", id="oe10")
							.office__edit_row
								.office__edit_label Ваши интересы
								select.office__edit_select(name="interest")
									option(value="#") Шоппинг, кулинария, спорт, бег, рыбалка, цв...
									option(value="#") Вариант №2
							.office__edit_row
								.office__edit_label Сколько у Вас детей?
								select.office__edit_select(name="children")
									option(value="#") Сколько у Вас детей?
									option(value="#") Вариант №2
							.office__edit_row
								.office__edit_label Ваше семейное положение?
								select.office__edit_select(name="country")
									option(value="#") Замужем / Женат
									option(value="#") Вариант №2
						
						.office__edit_list_col
							.office__edit_row
								.office__edit_label(for="oe11") Какой магазин Вы хотите увидеть на сайте? (через запятую)
								input(type="text", placeholder="Forever 21, Amazon, Victoria's secret, Asos ...", id="oe11")
							.office__edit_row
								.office__edit_label Кем Вы работаете?
								select.office__edit_select(name="occupation")
									option(value="#") Работаю в офисе, всегда в онлайне
									option(value="#") Вариант №2
							.office__edit_row
								.office__edit_label Какой возраст и пол детей?
								select.office__edit_select(name="age")
									option(value="#") Девочка - 2 года, Мальчик - 12 лет
									option(value="#") Вариант №2
							.office__edit_row             
								.office__edit_label Есть ли у Вас питомец? Кто этот домосед?
								select.office__edit_select(name="pet")
									option(value="#") У меня нет дома домоседов
									option(value="#") Вариант №2
					
					.office__edit_down
						button.btn.btn__danger.office__edit_btn Сохранить изменения
						.office__edit_note Информация успешно обновлена!
							button.close

			.office__edit_section
				.office__edit_section_name Изменить пароль
				.office__edit_section_info
					.office__edit_list
						.office__edit_list_col
							.office__edit_row.icon__sure
								.office__edit_label(for="oe12") Новый пароль
								input(type="password", id="oe12")
							.office__edit_row.icon__sure
								.office__edit_label(for="oe13") Повторите новый пароль
								input(type="password", id="oe13")
						
						.office__edit_list_col
							.office__edit_row.icon__sure
								.office__edit_label(for="oe14") Старый пароль
								input(type="password", id="oe14")
					
					.office__edit_down
						button.btn.btn__danger.office__edit_btn Изменить пароль
						.office__edit_note.lg Ошибка! Пароль не был изменен. Возможно, Вы неправильно ввели старый пароль. Пожалуйста, повторите попытку чуть позже.
							button.close

			.line

			// begin office__edit_text 
			.office__edit_text
				p Вы можете 
					a(href="#") удалить свой аккаунт
					, но знайте, если вы сделайте это, то потеряете все, что вы накопили: баллы, все действующие лотереи и главное возможность участвовать в ежемесячных розыграшах и выиграть подарок мечты.
				p Но это еще не все, если вы удалите свой аккаунт, вы больше не узнаете первым о супер-скадках и не сэкономите на следующей покупке в вашем любимом интернет-магазине. Не делайте этого! Мы будем скучать!
				
			// end office__edit_text 

		// end main__content_center