extends template.jade

block variables
	- bodyClass = "office"

block title
	title Личный кабинет - Изменить данные

block content
	.white__line.sm
		.container_center


			//- // begin breadcrumb
			//- .breadcrumb
			//- 	li
			//- 		a(href="/") Главная
			//- 	li
			//- 		a(href="office.html") Личный кабинет
			//- 	li
			//- 		a(href="#") Изменить данные
			//- // end breadcrumb


			// begin office__top
			.office__top
				.office__top_left
					.office__top_user
						.office__top_user_img
							img(src="img/rev2.png", alt="#")
						.office__top_user_name
							.office__top_user_fname Александра 
							.office__top_user_lname Иванова
					.office__top_alarm.open
						.office__top_alarm_number 1

						.office__top_notification
							.office__top_notification_in
								.office__top_notification_name Оповещения
									a.office__top_notification_link(href="#") Показать все
								a.office__top_notification_item(href="#")
									.office__top_notification_left
										img(src="img/most1.png", alt="#")
									.office__top_notification_right Акция в Снежной Королеве! <br>Только сегодня при заказе платья в подарок холодильник и посудомоечная машина. <br>Успейте купить!
								a.office__top_notification_item(href="#")
									.office__top_notification_left
										img(src="img/icon-sure4.png", alt="#")
									.office__top_notification_right Извините, но Ваш чек был не подвержден. <br>Причина: Чек не соотвествует с выбранным № заказом.
								a.office__top_notification_item(href="#")
									.office__top_notification_left
										img(src="img/icon-sure2.png", alt="#")
									.office__top_notification_right Вы получили 5000 баллов, Вы можете обменять их на ШопКарту прямо сейчас! <br>Узнайте подробнее о том, как обменять баллы на ШопКарту.
							img.office__top_notification_trigon(src="img/tri-area2.png", alt="#")

				.office__top_right
					.sm_social
						.sm_social_icon
							.ya-share2(data-services="vkontakte")
						.sm_social_icon
							.ya-share2(data-services="facebook")				
						.sm_social_icon
							.ya-share2(data-services="odnoklassniki")
						.sm_social_icon
							.ya-share2(data-services="gplus")
						.sm_social_icon
							.ya-share2(data-services="twitter")
					.office__top_right_links
						a.office__top_right_link.office__top_right_link_star(href="office-coupons.html") Сохраненные<br>купоны
						a.office__top_right_link.office__top_right_link_hart(href="office-shops.html") Любимые<br>магазины
				.office__top_center
					.office__top_center_message
						p 
							span.large Вы накопили: 
								span.bold.points 2120 
							span.bold баллов
						p До ШопКарты Вам осталось накопить: <br>
							span.large.bold.points__left 2880 
							span.bold баллов
						.tooltip__help.big
							.tooltip__text Отлично! Теперь Вы можете поменять баллы на лотерею и это можно будет сделать в любое время, даже через месяц.   Перед тем, как получать лотерею, посмотрите, какие призы будут 
								a(href="#") разыграны в этом месяце &gt; 
								<br><br>Если вы решили участвовать в этом месяце, тогда найдите кнопку “Получить лотерею” в одном из блоков ниже.
					.sm_social
						.sm_social_icon
							.ya-share2(data-services="vkontakte")
						.sm_social_icon
							.ya-share2(data-services="facebook")				
						.sm_social_icon
							.ya-share2(data-services="odnoklassniki")
						.sm_social_icon
							.ya-share2(data-services="gplus")
						.sm_social_icon
							.ya-share2(data-services="twitter")
			// end office__top


	.container_center.main


		// begin sidebar
		.office__menu_trigger Другие разделы
		.main__content_sidebar
			.sidebar__section
				.office__menu
					.office__item
						a.office__link(href="office.html") Ваши ШопКарты и покупки
					.office__item
						a.office__link(href="office-news.html") Написать нам + новости
					.office__item
						a.office__link.active(href="office-edit.html") Изменить данные
					.office__item
						a.office__link(href="office-settings.html") Настройки рассылки
					.office__item
						a.office__link(href="office-shops.html") Любимые магазины
					.office__item
						a.office__link(href="office-coupons.html") Сохраненные купоны
					.office__item
						a.office__link(href="#") Как получить подарок?
					.office__item
						a.office__link(href="#") Выйти из аккаунта
			.sidebar__section
				.sidebar__section_name Поменяйте чек на ШопКарту
				p Чтобы получить ШопКарту, нужно подвердить покупку чеком
				button(class="btn btn__danger" data-toggle="modal" data-target="#modal__no-purchase") Отправить чек
			.sidebar__section
				.sidebar__section_name Лента обладателей подарка
				.office__winners_wrap
					.office__winners.scrollbar-inner
						.office__winners_title Подарок: Смартфон 
							span.office__winners_amount (2)
						.office__winners_list
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
						.office__winners_title Подарок: Косметика 
							span.office__winners_amount (25)
						.office__winners_list
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
				button.btn.btn__danger Посмотреть всех
		// end sidebar


		.line.laptop


		// begin main__content_center 
		.main__content_center

			h1 Редактирование аккаунта

			.office__edit_section
				.office__edit_section_name Изменение личных данных
				.office__edit_section_info
					.office__edit_list
						.office__edit_list_col
							.office__edit_row
								.office__edit_label(for="oe1") Имя
								input(type="text", placeholder="Мария", id="oe1")
							.office__edit_row
								.office__edit_label(for="oe2") Фамилия
								input(type="text", placeholder="Иванова", id="oe2")
							.office__edit_row
								.office__edit_label(for="oe3") Отчество
								input(type="text", placeholder="Петровна", id="oe3")
							.office__edit_row
								.office__edit_label Страна
								select.office__edit_select(name="country")
									option(value="#") Россия
									option(value="#") Страна №2
							.office__edit_row
								.office__edit_label(for="oe4") Адрес (куда присылать подарок)
								input(type="text", placeholder="ул.Победная 5, д.25, кв.45", id="oe4")
							.office__edit_row
								.office__edit_label Пол
								select.office__edit_select(name="gender")
									option(value="#") Мужчина
									option(value="#") Женщина
						
						.office__edit_list_col
							.office__edit_row_id ID Вашего аккаунта: 
								b 05768
							.office__edit_row.photo
								img.office__edit_row_left(src="img/no-photo.png", alt="#")
								.office__edit_row_right
									.office__edit_label.mb Загрузите свою фотографию
									.file__upload
										a.download__file(href="#") Выберите файл
										input(type="file")
							.office__edit_row
								.office__edit_label(for="oe5") Дата рождения
								input(type="text", placeholder="25.05.1992", id="oe5")
							.office__edit_row
								.office__edit_label(for="oe6") Город
								input(type="text", placeholder="Москва", id="oe6")
							.office__edit_row
								.office__edit_label(for="oe7") Почтовый индекс
								input(type="text", placeholder="234582", id="oe7")
							.office__edit_row.last
								.office__edit_label Выберите соц.сеть и выполняйте быстрый вход
								.lg_social
									.lg_social_icon
										button.lg_social_icon_add.btn
									.lg_social_icon
										button.lg_social_icon_add.btn
									.lg_social_icon
										button.lg_social_icon_add.btn
									.lg_social_icon
										button.lg_social_icon_add.btn
									.lg_social_icon
										button.lg_social_icon_add.btn
									.lg_social_icon
										button.lg_social_icon_add.btn
									.tooltip__help.big
										.tooltip__text.tooltip__big Свяжите аккаунт с соц.сетью, просто выбрав одну из соц.сетей. Это дает возможность быстро (одним кликом) зайти в аккаунт. <br>Ваша безопасность нам превыше всего. Никто, в том числе и мы не сможем получить доступ к Вашим личным данным. 
											.tooltip__text_big
					
					.office__edit_down
						button.btn.btn__danger.office__edit_btn Сохранить изменения
						.office__edit_note Информация успешно обновлена!
							button.close
			
			.office__edit_section
				.office__edit_section_name Контакты (мы свяжемся с вами в случае получения подарка)
				.office__edit_section_info
					.office__edit_list
						.office__edit_list_col
							.office__edit_row
								.office__edit_label(for="oe8") Электронная почта (e-mail)
								input(type="email", placeholder="емайл@mail.ru", id="oe8")
						
						.office__edit_list_col
							.office__edit_row
								.office__edit_label(for="oe9") Номер телефона
								input(type="tel", placeholder="+7 012 345 67 89", id="oe9")
					
					.office__edit_down
						button.btn.btn__danger.office__edit_btn Сохранить изменения
						.office__edit_note.lg Мы отправили вам письмо на почту: Мaria235@mail.ru <br> Пожалуйста, подтвердите свои изменения, перейдя по ссылке из письма.
							button.close
			
			.office__edit_section
				.office__edit_section_name Дополнительная информация (Эта информация, поможет нам стать лучше для Вас)
				.office__edit_section_info
					.office__edit_list
						.office__edit_list_col
							.office__edit_row
								.office__edit_label(for="oe10") Что бы Вы хотели тут выиграть? (через запятую)
								input(type="text", placeholder="Смартфон, PlayStation, Робот-пылесос ...", id="oe10")
							.office__edit_row
								.office__edit_label Ваши интересы
								select.office__edit_select(name="interest")
									option(value="#") Люблю шоппинг (Шоппинг)
									option(value="#") Спорт – это всегда мое (Спорт)
									option(value="#") Путешествую по всему миру (Путешествия)
									option(value="#") Люблю вкусненько готовить
									option(value="#") Для меня главное уют в доме (Домашний уют)
									option(value="#") Часто читаю книги (Книги)
									option(value="#") Хожу на рыбалку (Рыбалка)
									option(value="#") Люблю рукодельничать (Рукоделие)
									option(value="#") У меня талант петь и танцевать (Танцы и Музыка)
									option(value="#") Интересуюсь инновациями и гаджетами (Гаджеты)
									option(value="#") Увлекаюсь автомобилями (Автомобили)
									option(value="#") Играю в игры (Игры)
									option(value="#") Люблю очень цветы и свой сад (Цветы и сад)
									option(value="#") Искусство – это мое, люблю рисовать (Творчество)
									option(value="#") Не представляю свою жизнь, без интернета (Интернет)
									option(value="#") Люблю поваляться перед телевизором (Телевизор)

							.office__edit_row
								.office__edit_label Сколько у Вас детей?
								select.office__edit_select(name="children")
									option(value="#") У меня нет детей
									option(value="#") Один единственный и любимый
									option(value="#") У меня, пока два чудо-ребенка
									option(value="#") Три ребенка в семье
									option(value="#") Больше четырех детей
							
							.office__edit_row
								.office__edit_label Ваше семейное положение?
								select.office__edit_select(name="country")
									option(value="#") Замужем / женат
									option(value="#") Не замужем / не женат
									option(value="#") Пока встречаюсь
									option(value="#") Рано мне еще замуж
						
						.office__edit_list_col
							.office__edit_row
								.office__edit_label(for="oe11") Какой магазин Вы хотите увидеть на сайте? (через запятую)
								input(type="text", placeholder="Forever 21, Amazon, Victoria's secret, Asos ...", id="oe11")
							
							.office__edit_row
								.office__edit_label Кем Вы работаете?
								select.office__edit_select(name="occupation")
									option(value="#") Работаю в офисе, всегда онлайн
									option(value="#") Весь в делах, выхожу в интернет вечером
									option(value="#") Работаю, но выхожу в интернет, когда захочу
									option(value="#") Я студент и пока еще учусь
									option(value="#") Сижу дома, потому что я в декрете
									option(value="#") Я Босс и у меня свое дело
									option(value="#") Я пенсионер, уже отработал свое
									option(value="#") Я не работаю, но ищу работу
							
							.office__edit_row
								.office__edit_label Какой возраст и пол детей?
								button.office__edit_trigger Девочка - 2 года, Мальчик - 12 лет
									.jq-selectbox__trigger
									.office__edit_hide
										.office__edit_hide_left
											.office__edit_hide_name Девочка
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe15")
												label.checkbox__label(for="oe15") 0 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe16")
												label.checkbox__label(for="oe16") 1 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe17")
												label.checkbox__label(for="oe17") 2 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe18")
												label.checkbox__label(for="oe18") 3 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe19")
												label.checkbox__label(for="oe19") 4 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe20")
												label.checkbox__label(for="oe20") 5 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe21")
												label.checkbox__label(for="oe21") 6 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe22")
												label.checkbox__label(for="oe22") 7 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe23")
												label.checkbox__label(for="oe23") 8 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe24")
												label.checkbox__label(for="oe24") 9 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe25")
												label.checkbox__label(for="oe25") 10 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe26")
												label.checkbox__label(for="oe26") 11 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe27")
												label.checkbox__label(for="oe27") 12 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe28")
												label.checkbox__label(for="oe28") 13 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe29")
												label.checkbox__label(for="oe29") 14 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe30")
												label.checkbox__label(for="oe30") 15 лет - Дев.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe31")
												label.checkbox__label(for="oe31") 16 лет - Дев.
										.office__edit_hide_right
											.office__edit_hide_name Мальчик
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe32")
												label.checkbox__label(for="oe32") 0 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe33")
												label.checkbox__label(for="oe33") 1 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe34")
												label.checkbox__label(for="oe34") 2 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe35")
												label.checkbox__label(for="oe35") 3 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe36")
												label.checkbox__label(for="oe36") 4 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe37")
												label.checkbox__label(for="oe37") 5 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe38")
												label.checkbox__label(for="oe38") 6 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe39")
												label.checkbox__label(for="oe39") 7 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe40")
												label.checkbox__label(for="oe40") 8 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe41")
												label.checkbox__label(for="oe41") 9 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe42")
												label.checkbox__label(for="oe42") 10 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe43")
												label.checkbox__label(for="oe43") 11 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe44")
												label.checkbox__label(for="oe44") 12 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe45")
												label.checkbox__label(for="oe45") 13 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe46")
												label.checkbox__label(for="oe46") 14 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe47")
												label.checkbox__label(for="oe47") 15 лет - Мал.
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe48")
												label.checkbox__label(for="oe48") 16 лет - Мал.
							
							.office__edit_row             
								.office__edit_label Есть ли у Вас питомец? Кто этот домосед?
								button.office__edit_trigger У меня нет дома домоседов
									.jq-selectbox__trigger
									.office__edit_hide
										.office__edit_hide_in
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe49")
												label.checkbox__label(for="oe49") Нет у меня дома никого
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe50")
												label.checkbox__label(for="oe50") О да, господин кот, всегда «ждет» меня дома
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe51")
												label.checkbox__label(for="oe51") У меня собака и он мой друг
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe52")
												label.checkbox__label(for="oe52") У меня только рыбки в аквариуме или черепашки
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe53")
												label.checkbox__label(for="oe53") У меня попугай, скажу больше, он поет мне песни
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe54")
												label.checkbox__label(for="oe54") У меня пушистик: кролик, хомячок, морская свинка
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe55")
												label.checkbox__label(for="oe55") Люблю экзотику, это мое сокровище
											.office__settings_checkbox
												input.checkbox__input(type="checkbox" checked id="oe56")
												label.checkbox__label(for="oe56") Вы про моих любимчиков? О их много…
					
					.office__edit_down
						button.btn.btn__danger.office__edit_btn Сохранить изменения
						.office__edit_note Информация успешно обновлена!
							button.close

			.office__edit_section
				.office__edit_section_name Изменить пароль
				.office__edit_section_info
					.office__edit_list
						.office__edit_list_col
							.office__edit_row.icon__sure
								.office__edit_label(for="oe12") Новый пароль
								input(type="password", id="oe12")
							.office__edit_row.icon__sure
								.office__edit_label(for="oe13") Повторите новый пароль
								input(type="password", id="oe13")
						
						.office__edit_list_col
							.office__edit_row.icon__sure
								.office__edit_label(for="oe14") Старый пароль
								input(type="password", id="oe14")
					
					.office__edit_down
						button.btn.btn__danger.office__edit_btn Изменить пароль
						.office__edit_note.lg Ошибка! Пароль не был изменен. Возможно, Вы неправильно ввели старый пароль. Пожалуйста, повторите попытку чуть позже.
							button.close

			.line

			// begin office__edit_text 
			.office__edit_text
				p Вы можете 
					a(href="#", data-toggle="modal", data-target="#modal__del-account") удалить свой аккаунт, 
					span но знайте, если вы сделайте это, то потеряете все, что вы накопили: баллы, все действующие ШопКарты и главное возможность участвовать в ежемесячных акциях и получить подарок мечты.
				p Но это еще не все, если вы удалите свой аккаунт, вы больше не узнаете первым о супер-скадках и не сэкономите на следующей покупке в вашем любимом интернет-магазине. Не делайте этого! Мы будем скучать!
				
			// end office__edit_text 

		// end main__content_center