extends template.jade

block variables
	- bodyClass = "office"

block title
	title Личный кабинет - Главная

block content
	.white__line
		.container_center

			// begin breadcrumb
			.breadcrumb.ind
				li
					a(href="/") Главная
				li
					a(href="#") Личный кабинет
			// end breadcrumb


			// begin office__top 
			.office__top
				.office__top_left
					.office__top_user
						img.office__top_user_img(src="img/rev2.png", alt="#")
						.office__top_user_name Александра<br>Иванова
					a.office__top_alarm(href="#")
						.office__top_alarm_number 1
				.office__top_center
					p 
						span.large Вы накопили: 
							span.bold.points 2120 
						span.bold баллов
					p До лотереи Вам осталось набрать: <br>
						span.large.bold.points__left 2880 
						span.bold баллов
				.office__top_right
					.sm_social
						.sm_social_icon
							.ya-share2(data-services="vkontakte")
						.sm_social_icon
							.ya-share2(data-services="facebook")				
						.sm_social_icon
							.ya-share2(data-services="odnoklassniki")
						.sm_social_icon
							.ya-share2(data-services="gplus")
						.sm_social_icon
							.ya-share2(data-services="twitter")
					.office__top_right_links
						a.office__top_right_link(href="office-coupons.html") Сохраненные<br>купоны
						a.office__top_right_link(href="office-shops.html") Любимые<br>магазины
			// end office__top


	.container_center.main


		// begin sidebar
		.office__menu_trigger
		.main__content_sidebar
			.sidebar__section
				.office__menu
					.office__item
						a.office__link.active(href="#") Ваши лотереи и покупки
					.office__item
						a.office__link(href="office-news.html") Написать нам + новости
					.office__item
						a.office__link(href="office-edit.html") Изменить данные
					.office__item
						a.office__link(href="office-settings.html") Настройки рассылки
					.office__item
						a.office__link(href="#") Розыгрыш призов
					.office__item
						a.office__link(href="#") Выйти из аккаунта
			.sidebar__section
				.sidebar__section_name Поменяйте чек на лотерею
				p Чтобы получить лотерею, нужно подвердить покупку чеком
				button.btn.btn__danger Отправить чек
			.sidebar__section
				.sidebar__section_name Лента победителей
				p Розыгрыш апрель-2017:
				.office__winners.scrolled__box
					.office__winners_title Выиграли: Смартфон 
						span.office__winners_amount (2)
					.office__winners_list
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
					.office__winners_title Выиграли: Косметику 
						span.office__winners_amount (25)
					.office__winners_list
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
						.office__winners_item
							img.office__winners_img(src="img/user-sm3.png", alt="#")
							.office__winners_info
								.user-name Алексей
								.lottery-number # A17_487525
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Алина
								.lottery-number # A17_414726
						.office__winners_item
							img.office__winners_img(src="img/user-sm1.png", alt="#")
							.office__winners_info
								.user-name Анна
								.lottery-number # A17_487524
						.office__winners_item
							img.office__winners_img(src="img/user-sm2.png", alt="#")
							.office__winners_info
								.user-name Светлана
								.lottery-number # A17_414724
				button.btn.btn__danger Увидеть всех <br>победителей
		// end sidebar


		// begin main__content_center 
		.main__content_center

			// begin office__lotteries
			.office__lotteries
				.office__lotteries_name Ваши лотерейные билеты
					a.office__lotteries_how(href="#") Как участвовать в лотерее?
				.office__lotteries_list
					.office__lotteries_item
						.office__lotteries_p &lowast; &lowast; &lowast;
						.office__lotteries_p Розыгрыш состоиться:
						.office__lotteries_p 05
						.office__lotteries_p марта
						.office__lotteries_p Лотерейный билет:
						.lottery-number # A17_05768/321
					.office__lotteries_item
						.office__lotteries_p &lowast; &lowast; &lowast;
						.office__lotteries_p Розыгрыш состоиться:
						.office__lotteries_p 05
						.office__lotteries_p марта
						.office__lotteries_p Лотерейный билет:
						.lottery-number # A17_05768/321
					.office__lotteries_item
						.office__lotteries_p &lowast; &lowast; &lowast;
						.office__lotteries_p Розыгрыш состоиться:
						.office__lotteries_p 05
						.office__lotteries_p марта
						.office__lotteries_p Лотерейный билет:
						.lottery-number # A17_05768/321
					.office__lotteries_item.office__lotteries_last
						.office__lotteries_last_p Делайте покупки и меняйте чеки на лотереи
						.office__lotteries_last_p Получите лотерею прямо сейчас, нажав на кнопку ниже &darr;
						button.btn.btn__danger Получить лотерею
						a.help(href="#") ?
			// end office__lotteries


			// begin office__ad
			.office__ad
				img.office__ad_right(src="img/office-ad-img.jpg", alt="#")
				.office__ad_left
					.office__ad_p Участвуйте в 6 ежемесячном розыгрыше (Апрель)
					.office__ad_p Итоги будут подведены: <br>
						span.office__ad_large 05 апреля
					p Меняйте баллы на лотереи прямо сейчас, чтобы участвовать в этом розыгрыше. Узнайте, какой подарок можете получить Вы за участие в этом розыгрыше.
					button.btn.btn__danger Узнать о подарках<br>этого месяца
			// end office__ad
			

			// begin office__history
			.office__history
				.office__history_name История Ваших покупок
					span.office__history_note Если вы не видите свою покупку, <br>
						a.office__history_link(href="#") напишите нам!
				.office__history_stat_wrap
					.office__history_stat.scrolled__box
						.office__history_left
							.office__history_table
								.office__history_tr
									.office__history_th Интернет-магазин
									.office__history_th Дата покупки
									.office__history_th № заказа
									.office__history_th Сумма         
									.office__history_th Статус
								.office__history_tr
									.office__history_td Снежная королева
									.office__history_td 23.05.2017
									.office__history_td Rfeh152121fedf4
									.office__history_td 20 120 р.
									.office__history_td Не подтвержден
								.office__history_tr
									.office__history_td Lamoda
									.office__history_td 05.08.2017
									.office__history_td 52212252
									.office__history_td 1 045 р.
									.office__history_td Не подтвержден
								.office__history_tr
									.office__history_td Media Markt
									.office__history_td 18.08.2017
									.office__history_td KGF521GH581F
									.office__history_td 132 648 р.
									.office__history_td Не подтвержден

							.office__history_confirmed
								.office__history_confirmed_name Подтвержденные покупки
								.office__history_table
									.office__history_tr
										.office__history_td MyToys
										.office__history_td 12.03.2017
										.office__history_td Gj52257_4452
										.office__history_td 132 648 р.
										.office__history_td Подтвержден
							a.office__history_confirmed_hide(href="#")
						.office__history_right
							.office__history_right_text Чтобы получить лотерею, нужно подвердить покупку чеком
							button.confirm__btn.btn.btn__danger
								.confirm__btn_trigon
							button.confirm__btn.btn.btn__danger
								.confirm__btn_trigon
							button.confirm__btn.btn.btn__danger.active
								.confirm__btn_trigon
			// end office__history


			// begin office_checks
			.office__checks
				.office__checks_name Ваши чеки
				.office__checks_list
					.office__checks_item
						.office__checks_img
							img(src="img/check1.jpg", alt="#")
						.office__checks_info
							p № заказа:
							p.order__number KGF521GH581F
						button.btn.office__checks_edit_btn
						.office__checks_edit_hide
							a.office__checks_edit_hide_btn(href="#") Удалить чек
							a.office__checks_edit_hide_btn(href="#") Редактировать
					.office__checks_item.confirmed
						.office__checks_img
							img(src="img/check2.jpg", alt="#")
						.office__checks_info
							p № заказа:
							p.order__number Gj52257_4452
					.office__checks_item.deleted
						.office__checks_img
							img(src="img/check3.jpg", alt="#")
						.office__checks_info
							p № заказа:
							p.order__number Gj52257_4452        
					.office__checks_item.confirmed
						.office__checks_img
							img(src="img/check2.jpg", alt="#")
						.office__checks_info
							p № заказа:
							p.order__number Gj52257_4452
					.office__checks_item.deleted
						.office__checks_img
							img(src="img/check3.jpg", alt="#")
						.office__checks_info
							p № заказа:
							p.order__number Gj52257_4452
				a.office__checks_show(href="#") + Показать все Вами добавленные чеки
			// end office_checks


			.line


			// begin office__raffle
			.office__raffle
				.office__raffle_name Условия ежемесячных розыгрышей “Лотерея призов” + 
					span нужны здесь примеры в картинках

				.office__raffle_p Каждый месяц на сайте проходят розыгрыши, для того, чтобы участвовать, нужно:
				.office__raffle_p 1) Перейти в интернет-магазин через сайт Найди.ру<br>2) Совершить покупку на сумму от 5000 рублей или постепенно набрать товары, которые суммой 5000 рублей<br>3) Отправить нам чек, для подверждения покупки, чтобы мы засчитали сумму покупки и зачислили вам баллы (1 рубль - 1 баллу)<br>4) Поменять накомленные баллы на лотерею
				.office__raffle_p Покупайте и участвуйте в ежемесячных лотереях! 
					a(href="#") Подробнее о лотерее
			// end office__raffle


			.line


			// begin office__attention
			.office__attention
				.office__attention_left
					.office__attention_left_img !
				.office__attention_right
					.office__attention_name ОБРАТИТЕ ВНИМАНИЕ:
					.office__attention_p - При покупке в мобильных приложений магазинов покупка будет не засчитена.
					.office__attention_p - AdBlock и т.д. и т.п. текст мы подготовим ...
					.office__attention_p - Ознакомьтесь подробнее с 
						a(href="#") правилами покупок
						, чтобы покупки засчитывались.
			// end office__attention

		// end main__content_center