extends template.jade

block variables
	- bodyClass = "office"

block title
	title Личный кабинет - Сохраненные купоны                 

block content
	.white__line.sm
		.container_center


			// begin breadcrumb
			.breadcrumb.ind
				li
					a(href="/") Главная
				li
					a(href="office.html") Личный кабинет
				li
					a(href="#") Сохраненные купоны
			// end breadcrumb


			// begin office__top
			.office__top
				.office__top_left
					.office__top_user
						.office__top_user_img
							img(src="img/rev2.png", alt="#")
						.office__top_user_name
							.office__top_user_fname Александра 
							.office__top_user_lname Иванова
					a.office__top_alarm.open(href="#")
						.office__top_alarm_number 1
				.office__top_right
					.sm_social
						.sm_social_icon
							.ya-share2(data-services="vkontakte")
						.sm_social_icon
							.ya-share2(data-services="facebook")				
						.sm_social_icon
							.ya-share2(data-services="odnoklassniki")
						.sm_social_icon
							.ya-share2(data-services="gplus")
						.sm_social_icon
							.ya-share2(data-services="twitter")
					.office__top_right_links
						a.office__top_right_link.office__top_right_link_star(href="office-coupons.html") Сохраненные<br>купоны
						a.office__top_right_link.office__top_right_link_hart(href="office-shops.html") Любимые<br>магазины
				.office__top_center
					.office__top_center_message
						p 
							span.large Вы накопили: 
								span.bold.points 2120 
							span.bold баллов
						p До лотереи Вам осталось набрать: <br>
							span.large.bold.points__left 2880 
							span.bold баллов
					.sm_social
						.sm_social_icon
							.ya-share2(data-services="vkontakte")
						.sm_social_icon
							.ya-share2(data-services="facebook")				
						.sm_social_icon
							.ya-share2(data-services="odnoklassniki")
						.sm_social_icon
							.ya-share2(data-services="gplus")
						.sm_social_icon
							.ya-share2(data-services="twitter")
			// end office__top


	.container_center.main


		// begin sidebar
		.office__menu_trigger
		.main__content_sidebar
			.sidebar__section
				.office__menu
					.office__item
						a.office__link(href="office.html") Ваши лотереи и покупки
					.office__item
						a.office__link(href="office-news.html") Написать нам + новости
					.office__item
						a.office__link(href="office-edit.html") Изменить данные
					.office__item
						a.office__link(href="office-settings.html") Настройки рассылки
					.office__item
						a.office__link(href="#") Розыгрыш призов
					.office__item
						a.office__link(href="#") Выйти из аккаунта
			.sidebar__section
				.sidebar__section_name Поменяйте чек на лотерею
				p Чтобы получить лотерею, нужно подвердить покупку чеком
				button.btn.btn__danger Отправить чек
			.sidebar__section
				.sidebar__section_name Лента победителей
				p Розыгрыш апрель-2017:
				.office__winners_wrap
					.office__winners.scrollbar-inner
						.office__winners_title Выиграли: Смартфон 
							span.office__winners_amount (2)
						.office__winners_list
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
						.office__winners_title Выиграли: Косметику 
							span.office__winners_amount (25)
						.office__winners_list
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
							.office__winners_item
								img.office__winners_img(src="img/user-sm3.png", alt="#")
								.office__winners_info
									.user-name Алексей
									.lottery-number # A17_487525
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Алина
									.lottery-number # A17_414726
							.office__winners_item
								img.office__winners_img(src="img/user-sm1.png", alt="#")
								.office__winners_info
									.user-name Анна
									.lottery-number # A17_487524
							.office__winners_item
								img.office__winners_img(src="img/user-sm2.png", alt="#")
								.office__winners_info
									.user-name Светлана
									.lottery-number # A17_414724
				button.btn.btn__danger Увидеть всех <br>победителей
		// end sidebar


		// begin main__content_center 
		.main__content_center

			h1.star Сохраненные купоны

			// begin office__shops_top
			.office__shops_top.coupon
				.office__shops_top_text Если Вы не хотите больше видеть тот или иной промокод, Вы можете его удалить с этой страницы, просто снова нажав на звездочку.
			// end office__shops_top


			// begin office__shops_coupons
			.office__shops_coupons.coupon
				.sale__list.js_more_wrap
					
					// Row 1
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list4.png", alt="#")
							.btn.btn__success Новый
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#").btn.btn__primary.code__btn Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от лучших магазинов магазинов России! Успейте купить!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									i.icon__question
								a(href="#") Все промокоды Bon prix
					
					// Row 2
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list6.png", alt="#")
							.btn.btn__expires Истекает
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#").btn.btn__primary.code__btn Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от брендов!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									i.icon__question
								a(href="#") Все промокоды Bon prix

					// Row 3
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list4.png", alt="#")
							.btn.btn__success Новый
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#").btn.btn__primary.code__btn Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от лучших магазинов магазинов России! Успейте купить!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									i.icon__question
								a(href="#") Все промокоды Bon prix
					
					// Row 4
					.sale__list_row.js_more_item
						a(href="#").sale__list_mob-link
						.sale__list_left
							a.sale__list_img(href="#")
								img(src="img/sale-list6.png", alt="#")
							.btn.btn__expires Истекает
						.sale__list_right
							a(href="#").sale__list_save Сохранить
							.code__wrap
								.code__field D146SAFR
								a(href="#").btn.btn__primary.code__btn Показать код
							| Использовано: 1283 раза
						.sale__list_center
							a.sale__list_row_title(href="#") Скидка до -50% на одежду и обувь от брендов!
							.sale__list_deadline
								i.icon__time_end
								| Заканчивается через 15 дней
							.sale__list_terms
								|Условия: Промокод действителен после ввода промокода в специальн Промокод действителен после ввода промокода, промокод действителен после промокода пол промокод действителен после промокода пол
								a(href="#").sale__list_more Подробнее
							.sale__list_bottom
								.sale__list_info
									|Используй купон и получай подарки!
									i.icon__question
								a(href="#") Все промокоды Bon prix

			// end office__shops_coupons


			.line


			// begin office__raffle
			.office__raffle.coupon
				.office__raffle_name Как использовать промокод?
					span + нужны здесь примеры в картинках

				.office__raffle_p Другой текст: Каждый месяц на сайте проходят розыгрыши, для того, чтобы участвовать, нужно:
				.office__raffle_p 1) Перейти в интернет-магазин через сайт Найди.ру<br>2) Совершить покупку на сумму от 5000 рублей или постепенно набрать товары, которые суммой 5000 рублей<br>3) Отправить нам чек, для подверждения покупки, чтобы мы засчитали сумму покупки и зачислили вам баллы (1 рубль - 1 баллу)<br>4) Поменять накомленные баллы на лотерею
				.office__raffle_p Покупайте и участвуйте в ежемесячных лотереях! 
					a(href="#") Подробнее о том, как использовать промокод
			// end office__raffle




		// end main__content_center