extends template.jade

block variables
	- bodyClass = "reviews"

block title
	title О нас и наши отзывы

block content
	.white__line
		.container_center 

			// begin breadcrumb
			.breadcrumb.ind
				li
					a(href="/") Главная
				li
					a(href="#") Наши отзывы
			// end breadcrumb

			
			// begin reviews_wrap 
			.reviews_wrap

				// begin reviews__sidebar 
				.reviews__sidebar.fl_right
					.reviews__sidebar_section.gray__line
						img.reviews__sidebar_logo(src="img/logo2.svg", alt="#")
						.reviews__sidebar_p Найди.ру - это сервис, который заботится о Вашей экономии на покупках в интернете. 
						.reviews__sidebar_p Доказано, что наш сервис, способен вызвать улыбку, даже у самого хмурого человека. 
						.reviews__sidebar_p Мы работаем с 2012 года, за все это время, мы поняли одну важную деталь, что мы нужны Вам для того, чтобы помочь. 
						.reviews__sidebar_p И сама Ваша улыбка для нас бесценна!
						img.reviews__sidebar_hero(src="img/hero3.png", alt="#")
					.reviews__sidebar_section.gray__line
						.reviews__sidebar_p Знакомьтесь, это 
							span.bold Шоппел 
							span - супергерой Найди.ру. Она помогает экономить тысячам людям по всей России. 
						.reviews__sidebar_p Благодаря ей, каждый день на сайте появляются много новых супер-купонов. 
						.reviews__sidebar_p Чтобы найти купоны, ей нужно пройти через целую паутину, обследовать каждый уголок интернет-пространства и наконец-то найти их в бесконечных сетях. 
					.reviews__sidebar_section
						.reviews__sidebar_section_in
							.reviews__sidebar_section_name Мы в социальных сетях:
							.round_social
								.round_social_icon
									.ya-share2(data-services="vkontakte")
								.round_social_icon
									.ya-share2(data-services="facebook")
								.round_social_icon
									.ya-share2(data-services="gplus")
								.round_social_icon
									.ya-share2(data-services="odnoklassniki")
								.round_social_icon
									.ya-share2(data-services="twitter")
								a.round_social_icon(href="#")
					.reviews__sidebar_section.gray__line
						.reviews__sidebar_section_name Что такое промокод?
						.reviews__sidebar_p Промокод - это секретная комбинация из цифт и букв, придуманная самим магазином. Промокод нужен для того, чтобы получить скидку или какой-либо другой бонус, например: Бесплатная доставка, подарок и т.д. Узнайте подробнее, о том, как
						a(href="#") использовать промокод &gt;
					.reviews__sidebar_section
						.reviews__sidebar_section_name Есть вопросы?
						.reviews__sidebar_p Свяжитесь с нами: 
							a(href="") info@naidy-skidka.ru 
							span Или напишите свой вопрос на странице 
							a(href="#") обратной связи.
				// end reviews__sidebar


				.reviews__sidebar_trigger


				// begin reviews__center 
				.reviews__center
					h1 Отзывы о Найди.ру
					.reviews__center_p Здесь Вы можете ознакомиться с опытом выгодных покупок других участников сервиса, Вы можете узнать как и сколько им удалось сэкономить во время онлайн-шоппинга. Тут же, Вы можете увидеть настоящих счастливчиков, кто выиграл подарок мечты! Войдите в этот список и Вы! Поделитесь со всеми своим мнением и может быть, именно Ваш отзыв поможет другим.


					// begin b__article_com 
					.b__article_com
						.b__article_com_list

							.b__article_com_trigger Написать отзыв о Найди.ру

							.b__article_com_item.b__article_com_first
								.b__article_com_left
									img.b__article_com_user(src="img/user1.png", alt="#")
								.b__article_com_right.area
									textarea(placeholder="Ваше сообщение ...")
									.b__article_com_up
										button.btn__danger.btn Комментировать
										.b__article_com_text Что Вы думаете о нас? Поделитесь своим мнением о нас со всеми! <br>Помогите нам стать лучше!
							.b__article_com_item
								.b__article_com_left
									img.b__article_com_user(src="img/user1.png", alt="#")
								.b__article_com_right
									.b__article_com_info
										.b__article_com_user-name Дарья
										.date 25.02.2016
									p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
							.b__article_com_item
								.b__article_com_left
									img.b__article_com_user(src="img/user2.png", alt="#")
								.b__article_com_right
									.b__article_com_info
										.b__article_com_user-name Александра
										.date 25.02.2016
									p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
							.b__article_com_item
								.b__article_com_left
									img.b__article_com_user(src="img/user3.png", alt="#")
								.b__article_com_right
									.b__article_com_info
										.b__article_com_user-name Артем
										.date 25.02.2016
									p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
							.b__article_com_item
								.b__article_com_left
									img.b__article_com_user(src="img/user_no.png", alt="#")
								.b__article_com_right
									.b__article_com_info
										.b__article_com_user-name Мария
										.date 25.02.2016
									p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
							.b__article_com_item
								.b__article_com_left
									img.b__article_com_user(src="img/user1.png", alt="#")
								.b__article_com_right
									.b__article_com_info
										.b__article_com_user-name Дарья
										.date 25.02.2016
									p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
							.b__article_com_item
								.b__article_com_left
									img.b__article_com_user(src="img/user1.png", alt="#")
								.b__article_com_right
									.b__article_com_info
										.b__article_com_user-name Дарья
										.date 25.02.2016
									p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
							.b__article_com_item
								.b__article_com_left
									img.b__article_com_user(src="img/user2.png", alt="#")
								.b__article_com_right
									.b__article_com_info
										.b__article_com_user-name Александра
										.date 25.02.2016
									p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
							.b__article_com_item
								.b__article_com_left
									img.b__article_com_user(src="img/user3.png", alt="#")
								.b__article_com_right
									.b__article_com_info
										.b__article_com_user-name Артем
										.date 25.02.2016
									p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
							.b__article_com_item
								.b__article_com_left
									img.b__article_com_user(src="img/user_no.png", alt="#")
								.b__article_com_right
									.b__article_com_info
										.b__article_com_user-name Мария
										.date 25.02.2016
									p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
							.b__article_com_item
								.b__article_com_left
									img.b__article_com_user(src="img/user1.png", alt="#")
								.b__article_com_right
									.b__article_com_info
										.b__article_com_user-name Дарья
										.date 25.02.2016
									p Делала заказ на этом сайте впервые, заказывала пальто. Нашла и по той цене, по которой планировала. Забирала самовывозом (так мне было удобнее) в ТЦ КронПарк на Водном стадионе, там все очень удобно, несколько больших примерочных, вежливые консультанты. Доставка туда была бесплатная, т.к. заказ был больше 1500 рублей. Размер подошел, вещь села хорошо. Теперь планирую заказать еще несколько вещей.
									.b__article_com_answer
										.b__article_com_info-answer
											.b__article_com_user-name Найди.ру
											.date 25.02.2016
									p Здравствуйте, Дарья <br>
									span Мы написали Вам в личное сообщение. Пожалуйста, ответьте там нам на вопрос: Когда Вы купили товар?

									p.b__article_com_sign С уважением, служба поддержки Найди.ру
							button.btn__danger.btn.b__article_com_btn Показать больше отзывов
						
					// end b__article_com

				// end reviews__center 
								
			// end reviews_wrap 


			


	.container_center
		// begin lots
		.lots
			h2 Покупайте и участвуйте в ежемесячных розыгрышах
			p Покупайте и копите баллы. Меняйте баллы на лотереи и участвуйте. 
				a(href="#") Подробнее о розыгрышах &gt;
			p + Никогда не пропускайте! Получайте лучшие скидки магазинов к себе на почту.

			a(href="#", class="btn btn__danger") Зарегистрироваться

			p У вас есть свой аккаунт?
				a(href="#" class="lots_a") Войдите
		// end lots