extends template.jade

block variables
	- bodyClass = "terms"

block title
	title Пользовательское соглашение и правила покупок

block content
	//- Тут с отступа начинаем писать код
	.white__line
		.container_center
			
			// begin breadcrumb
			.breadcrumb.ind
				li
					a(href="/") Главная
				li
					a(href="#") Пользовательское соглашение			
			// end breadcrumb

			h1.ind Пользовательское соглашение или правила покупок

			.tipo-text
			
				p Пример Добро пожаловать на сайт «Найди.ру», интернет-ресурс содержит в себе: Пример 

				p.
					Информацию о проходящих в данный момент распродажах и скидках на территории Российской Федерации (Купоны, Промокоды, Распродажи); <br>
					Информацию о компаниях (юридический адрес, email, телефон, сайт, рейтинг на Найди.ру);<br>
					Полезные советы и интересные статьи на тему: мода, красота, путешествие, техника, дом и другое.<br>
					Сайт Найди.ру помогает экономить на онлайн и офлайн шоппинге, предоставляя пользователям бесплатные купоны (от более 5000 офлайн-магазинов) и бесплатный промокоды супер 
					(от известных интернет-магазинов).

				p 2.1. Добавление Компании на Сайт Найди.ру, является бесплатной и добровольной процедурой. Любая Компания, не нарушающая законодательство Российской Федерации и пункт №3 из настоящего Пользовательского соглашения Сайта, может самостоятельно создать страничку на Сайте (бесплатно) или же обратиться за помощью к Администрации Сайта (платно).

				p 2.2. До/при и после добавления Компании на Сайт, Пользователь должен соблюдать Пользовательское соглашение и знать все его обязательства и требования. При систематическом нарушении пункта №2 из настоящего Пользовательского соглашения, Компания безвозвратно будет удалена с Сайта.

				p 2.3. При добавлении Компании на Сайт, Пользователь должен указать только достоверную информацию о Компании и заполнить все необходимые поля, за неправильную или вводящую в заблуждение Информацию ответственность несет сам Пользователь. Если Информация изменится, Пользователь обязуется изменить ее посредством редактирования на Найди.ру. Также рекомендуется заполнить поле «Скидка», данная информация очень полезна Клиентам Вашей Компании, также она будет учтена, при следующем обновлении Пользовательского соглашения. Администрация сайта Найди.ру вправе запрашивать документы и информацию, а Пользователь обязан им предоставить.

				p
					b 2.4. Запрещено создавать более одного Личного кабинета, если Пользователь забыл Учетные данные, то восстановить их можно по той электронной почте, которая была указана Пользователем, при регистрации на Сайте.

				p 2.5. Пользователю запрещено повторно добавлять Компанию, которая уже существует на Сайте. Повторная Компания, независимо от того, с какого Личного кабинета будет добавлена, она все равно не пройдет модерацию и будет удалена.

				p 2.6.Пользователям запрещено умышленно накручивать рейтинг своей Компании, писать себе комментарии и оценивать свою Компанию, при нарушении данного пункта Администрация Сайта имеет право удалить Компанию с Сайта без возможности ее восстановления.

				p 2.7. Пользователь не имеет право размещать ссылки на свой сайт или сторонние ресурсы в неположенном месте, для этой Информации, есть специальное поле «Сайт» в форме при добавлении Компании.

				p 2.8. Пользователь, предоставляющий Купон на скидку от своей Компании, другим Пользователям или Клиентам, обязан будет сделать скидку, указанную на Купоне, во время осуществления покупки данным Пользователем. Если к Администрации Сайта поступит жалоба по этому поводу от других Пользователей или Ваших Клиентов, Администрация Сайта имеет право безвозвратно удалить Компанию с Сайта.

				p 5. Правила размещения комментариев на Сайте Найди.ру

				p 5.1. Все комментарии, размещаемые на Сайте, проходят обязательную модерацию на соответствие законодательству Российской Федерации и настоящему Пользовательскому соглашению.

				p 5.2. Запрещено размещение комментариев с использованием ненормативной лексики, в том числе с заменой букв и значками или целых слов их созвучиями.

				p 5.3. Запрещено оскорблять в комментариях других Пользователей или третьих лиц, задевать их чувства и достоинства.

				p 5.4. Запрещено размещать комментарии, призывающие к насилию, упоминающие о наркотиках, алкоголе, табаке и порнографии, разжигающие межнациональную, религиозную или иную рознь и какие-либо другие комментарии, запрещенные законодательством Российской Федерации.

				p 5.5. Не разрешаются комментарии носящий рекламный характер (спам), либо комментарии со ссылкой на сторонний ресурс. По вопросам размещения рекламы, обращайтесь в «Службу поддержки» Сайта.

				p 5.6. Не разрешаются агрессивные неаргументированные комментарии к компаниям, по поводу их работы, качества их товаров и услуг и т.п. Также не одобряются комментарии, состоящие целиком из заглавных букв.

				p 5.7. Не разрешается размещение однотипных комментариев в разных местах Сайта, также не разрешается добавление комментариев не по теме или не к месту. Администрация Сайта также в праве удалить комментарий, написанный не на русском языке.


				h2 Добро пожаловать на сайт «Найди.ру», интернет-ресурс содержит в себе:

				p.
					Информацию о проходящих в данный момент распродажах и скидках на территории Российской Федерации (Купоны, Промокоды, Распродажи);<br>
					Информацию о компаниях (юридический адрес, email, телефон, сайт, рейтинг на Найди.ру);<br>
					Полезные советы и интересные статьи на тему: мода, красота, путешествие, техника, дом и другое.<br>
					Сайт Найди.ру помогает экономить на онлайн и офлайн шоппинге, предоставляя пользователям бесплатные купоны (от более 5000 офлайн-магазинов) и бесплатный промокоды супер 
					(от известных интернет-магазинов).

				p 2.1. Добавление Компании на Сайт Найди.ру, является бесплатной и добровольной процедурой. Любая Компания, не нарушающая законодательство Российской Федерации и пункт №3 из настоящего Пользовательского соглашения Сайта, может самостоятельно создать страничку на Сайте (бесплатно) или же обратиться за помощью к Администрации Сайта (платно).

				p 2.2. До/при и после добавления Компании на Сайт, Пользователь должен соблюдать Пользовательское соглашение и знать все его обязательства и требования. При систематическом нарушении пункта №2 из настоящего Пользовательского соглашения, Компания безвозвратно будет удалена с Сайта.

				p 2.3. При добавлении Компании на Сайт, Пользователь должен указать только достоверную информацию о Компании и заполнить все необходимые поля, за неправильную или вводящую в заблуждение Информацию ответственность несет сам Пользователь. Если Информация изменится, Пользователь обязуется изменить ее посредством редактирования на Найди.ру. Также рекомендуется заполнить поле «Скидка», данная информация очень полезна Клиентам Вашей Компании, также она будет учтена, при следующем обновлении Пользовательского соглашения. Администрация сайта Найди.ру вправе запрашивать документы и информацию, а Пользователь обязан им предоставить.

				p 2.4. Запрещено создавать более одного Личного кабинета, если Пользователь забыл Учетные данные, то восстановить их можно по той электронной почте, которая была указана Пользователем, при регистрации на Сайте.

				p 2.5. Пользователю запрещено повторно добавлять Компанию, которая уже существует на Сайте. Повторная Компания, независимо от того, с какого Личного кабинета будет добавлена, она все равно не пройдет модерацию и будет удалена.

				p 2.6.Пользователям запрещено умышленно накручивать рейтинг своей Компании, писать себе комментарии и оценивать свою Компанию, при нарушении данного пункта Администрация Сайта имеет право удалить Компанию с Сайта без возможности ее восстановления.

				p 2.7. Пользователь не имеет право размещать ссылки на свой сайт или сторонние ресурсы в неположенном месте, для этой Информации, есть специальное поле «Сайт» в форме при добавлении Компании. Пример

	.container_center
		// begin lots
		.lots
			h2 Покупайте в магазинах и получайте подарки
			p Покупайте в интернет-магазинах и копите баллы. Меняйте баллы на ШопКарты и получайте подарки. 
				a(href="#") Подробнее о акции &gt;
			p + Никогда не пропускайте! Получайте лучшие скидки магазинов к себе на почту.

			a(href="#", class="btn btn__danger") Зарегистрироваться

			p У вас есть свой аккаунт?
				a(href="#" class="lots_a") Войдите
		// end lots