//- Подключаем общий шаблон
extends template.jade
//- Меняем Home на название страницы
block title
	title Home

block content
	//- Тут с отступа начинаем писать код
	// begin main__content
	main.main__content

	// end main__content
