.ad-header {
  position: relative;
  height: 450px;
  margin-bottom: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, .25);
  }
  &__description {
    position: relative;
    z-index: 1;
    max-width: 1250px;
    padding: 95px 50px;
  }
  &__title {
    margin-bottom: 15px;
    font-size: 35px;
    color: #ffffff;
    letter-spacing:0.01em;
    font-family: $myriad;
  }
  &__subtitle {
    padding: 8px 0;
    color: #ffffff;
    font-size: 18px;
    font-family: $myriad;
    letter-spacing: 0.01em;
  }
  &__btn {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    border: 3px solid white;
    padding: 14px 32px;
    margin: 43px 0 0 187px;
    font-family: $main_font_family;
    &:hover {
      text-decoration: none;
      @include opacity(.8);
    }
  }
  @media (max-width: 1199px) {
    &__description {
      max-width: 610px;
    }
    &__btn {
      width: 190px;
      margin: 43px auto 0;
      display: block;
    }
  }
  @media (max-width: 991px) {
    height: auto;
    text-align: center;
    background-attachment: inherit;
    &:before {
      background: rgba(#000, .5);
    }
    &__description {
      padding: 50px 20px;
      margin: 0 auto;
    }
    &__title {
      font-size: 28px;
      padding: 0;
      br {
        display: none;
      }
    }
    &__subtitle {
      font-size: 16px;
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 0;
    &__title {
      margin-top: 0;
    }
  }
}