.faqs-version {
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  &__row {
    border-top:1px solid #dadada;
    padding-top: 44px;
  }
  &__title {
    font-size: 23px;
    text-align: center;
    font-family:Tahoma;
    color: #292929;
    margin-bottom: 22px;
    letter-spacing: 0.01em;
  }
  &__section {
    padding-left: 40px;
    @include flexbox();
    @include align-items(center);
    @extend %clear_a;
    &_number {
      font-size: 18px;
      font-family: $main_font_family;
      letter-spacing: 0.01em;
      color: #ffffff;
      display: inline-block;
      background-color: #0eb2d1;
      border-radius: 50%;
      text-align: center;
      width: 45px;
      height: 45px;
      line-height: 45px;
      margin-right: 25px;
    }
    &_title {
      h4 {
        color: #292929;
        font-size: 21px;
        font-weight: 300;
        font-family: $main_font_family;
      }
      p {
        color: #292929;
        font-size: 14px;
        font-family: $main_font_family;
      }
    }
  }
  &__placement {
    padding-left: 60px;
    padding-right: 60px;
    @include flexbox();
    @include justify-content(space-between);
    @extend %clear_a;
  }
  &__placing {
    align-items: center;
    margin-top: 55px;
    margin-bottom: 80px;
    @extend %clear_a;
    @include flexbox();
    &:last-child {
        margin-bottom: 40px;
    }
    &_image {
      width: 100%;
      min-width: 260px;
      max-width: 260px;
      margin-right: 42px;
      @include browser("not-flex") {
        width: 260px;
        float: left;
        display: block !important;
      }
      img {
        width: 100%;
        height: 185px;
        object-fit: cover;
      }
    }
    &_description {
      max-width: 280px;
      padding-right: 20px;
      @include browser("not-flex") {
        vertical-align: middle;
      }
      b {
        font-size: 15px;
        font-weight: bold;
        color: #292929;
        line-height: 21px;
        font-family: $main_font_family;
        letter-spacing: 0.01em;
      }
      p {
        font-size: 14px;
        color: #292929;
        line-height: 21px;
        font-family: $main_font_family;
        letter-spacing: 0.01em;
        a {
          color: #2893e5;
        }
      }
      ul {

      }
    }
    &--full {
      margin-top: 34px;
      margin-bottom: 69px;
      padding-right: 0;
      .faqs-version__placing_image {
        min-width: 450px;
        max-width: 450px;
        margin-right: 0;
        overflow: hidden;
        img {
          min-width: 100%;
          width: auto;
          height: 100%;
          display: block;
        }
      }
      .faqs-version__placing_description {
        // @include flexbox();
        // @include justify-content(center);
        // @include flex-flow(column nowrap);
        max-width: 100%;
        height: 100%;
        padding: 40px 60px;
        background-color: #f1f1f1;
        b {
          padding-top: 29px;
          &.faqs-version__placing_description--title {
            padding-top: 0;
          }
        }
      }
    }
    &_description--full {
      margin-top: -40px;
      padding-left: 60px;
      padding-right: 60px;
      @extend %clear_all;
      b {
        font-size: 15px;
        font-weight: bold;
        color: #292929;
        line-height: 21px;
        font-family: $main_font_family;
        letter-spacing: 0.01em;
      }
      p {
        font-size: 14px;
        color: #292929;
        line-height: 21px;
        font-family: $main_font_family;
        letter-spacing: 0.01em;
        a {
          color: #2893e5;
        }
      }
      ul {

        li {
          font-size: 14px;
          line-height: 21px;
          font-family: $main_font_family;
          letter-spacing: 0.01em;
          color: #292929;
          padding: 15px 0;
        }
      }
    }
  }
  &__more-info {
    margin-bottom: 40px;
    margin-top: 25px;
    @include flexbox();
    @include align-items(center);
    p {
      margin-right: 30px;
      margin-left: 200px;
    }
    a.btn {
      width: 220px;
      padding: 0;
      line-height: 47px;
      height: 47px;
    }
  }
  &__unik {
    @extend %clear_a;
    @include flexbox();
    @include align-items(center);
    &_image {
      margin-right: 50px;
      @include browser("not-flex") {
        float: left;
        display: block !important;
      }
    }
    &_description {
      border-left: 3px solid #0eb2d1;
      padding-left: 20px;
      @include browser("not-flex") {
        overflow: hidden !important;
        display: block !important;
      }
      b,
      p,
      li {
        font-family: $main_font_family;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.01em;
        color: #292929;
      }
      p,
      li {
        font-size: 14px;
      }
    }
    &--1 {
      position: relative;
      top: 45px;
      left: 61px;
      @extend %clear_a;
      @include browser("not-flex") {
        .faqs-version__unik_image {
          width: 60.53%;
        }
      }
    }
    &--2 {
      position: relative;
      left: 262px;
      @extend %clear_a;
      .faqs-version__unik_description {
        margin-right: 68px;
        @include order(-1);
      }
      .faqs-version__unik_image {
        position: relative;
        top: -31px;
      }
      @include browser("not-flex") {
        .faqs-version__unik_image {
          width: 56.67%;
        }
      }
    }
    &--3 {
      position: relative;
      top: -23px;
      left: 60px;
      @extend %clear_a;
      .faqs-version__unik_image {
        margin-right: 78px;
      }
      .faqs-version__unik_description {
        position: relative;
        top: 17px;
      }
      @include browser("not-flex") {
        .faqs-version__unik_image {
          width: 58.76%;
        }
      }
    }
    &--4 {
      position: relative;
      left:188px;
      top: -15px;
      @extend %clear_a;
      .faqs-version__unik_description {
        margin-right: 60px;
        @include order(-1);
      }
      .faqs-version__unik_image {
        position: relative;
        top: -5px;
      }
      @include browser("not-flex") {
        .faqs-version__unik_image {
          width: 50.35%;
        }
      }
    }
    &--5 {
      position: relative;
      left: 61px;
      top: -10px;
      @extend %clear_a;
      @include browser("not-flex") {
        .faqs-version__unik_image {
          width: 51.9%;
        }
      }
    }
  }
  @media (max-width: 1280px) {
    &__placement {
      @include flex-flow(row wrap);
      &>* {
        @include flex-basis(100%);
      }
    }
    &__placing {
        margin-bottom: 0;
        @include browser("not-flex") {
            display: table;
            float: left;
        }
      &--full {
        @include flex-flow(row wrap);
        .faqs-version__placing_description {
          padding: 20px;
          width: 100%;
          height: auto;
        }
        .faqs-version__placing_image {
            width: 100%;
            max-width: none;
            min-width: initial;
            text-align: center;
            @include browser("not-flex") {
                float: left;
            }
            img {
                display: inline-block;
                width: auto;
                height: auto;
                min-width: initial;
            }
        }
      }
      &_description {
        max-width: 100%;
        padding-right: 0;
        @include browser("not-flex") {
            overflow: hidden;
            display: table-cell !important;
            vertical-align: middle;
        }
      }
    }
    &__more-info {
      p {
        margin-left: 0!important;
      }
      &--unik {
        padding: 0 60px;
      }
    }
    &__unik {
      position: inherit!important;
      padding: 0 60px;
      margin: 40px 0;
      @include align-items(flex-start);
      &_image {
        text-align: center;
        width: 100%;
        margin: 0;
        padding-right: 20px;
        position: inherit!important;
      }
      &_description {
        margin-left: 0;
        position: inherit;
      }
      &--2,
      &--4 {        
        .faqs-version__unik_description {
          @include order(0);
        }
      }
    }
  }
  @media (max-width: 767px) {
    &__row {
      padding-top: 30px;
    }
    &__title {
      font-size: 18px;
    }
    &__more-info {
      margin-top: 0;
      a {
        &.btn {
          display: inline-block;
        }
      }
    }
    &__placement {
      padding-left: 0;
      padding-right: 0;
    }
    &__placing {
      margin: 20px 0;
      @include browser("not-flex") {
        display: block !important;
        float: none;
    }
      &_description--full  {
        margin-top: 0;
        padding: 0;
        .faqs-version__placing_image {
            @include browser("not-flex") {
                float: none;
                display: block !important;
            }
        }
      }
    }
    &__unik {
      padding: 0 !important;
      @include flex-flow(row wrap);
      &_image {
        width: 100%;
        margin-bottom: 20px;
        padding-right: 0;
        @include browser("not-flex") {
            float: none;
            text-align: center;
            margin: 0 0 20px;
            position: inherit !important;
            width: 100% !important;  
        }
      }
      &_description {
        width: 100%;
        margin-right: 0 !important;
        br {
          display: none;
        }
      }
    }
  }
  @media (max-width: 660px) {
    &__row {
      padding-top: 20px;
    }
    &__section {
      padding: 0 20px;
      @include justify-content(center);
      @include align-items(center);
      @include flex-flow(row wrap);
      @include browser("not-flex") {
        text-align: center;
      }
      &_number {
        display: block;
        margin: 0 auto 10px;
        @include browser("not-flex") {
          font-size: 20px;
          padding-top: 10px;
        }
      }
      &_title {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
    &__placing {
      @include flex-flow(column nowrap);
      &_image {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    &__more-info {
      @include flex-flow(column nowrap);
      text-align: center;
      &--unik {
        padding: 0;
        margin-bottom: 20px !important;
      }
      p {
        width: 100%;
        padding: 20px 0;
        margin-right: 0!important;
      }
    }
  }
}
