// Header ========
.header {
	@extend %clear_a;
	.container_center {
		max-width: 1450px;
	}
	&__top {
		@extend %clear_a;
		background-color: #454545;
		padding: 8px 0;
		overflow: hidden;
		line-height: 19px;
		font-size: 14px;
		font-weight: 400;
		color: #ffffff;
		&_left {
			float: left;
			font-style: italic;
		}
		&_right {
			float: right;
		}
		&_item {
			display: inline-block;
			padding: 0 20px;
			position: relative;
			font-weight: 600;
			&:nth-child(n+2) {
				&:before {
					content: '';
					width: 1px;
					height: 19px;
					background-color: #828282;
					position: absolute;
					left: 0;
				}
			}
			i {
				margin-right: 10px;
			}			
		}
		a {
			color: #ffffff;
		}
		&_promo {
			position: relative;
			padding: 8px 8px 8px 40px;
			margin-top: -8px;
			margin-bottom: -8px;
			background-color: #ab0505;
			display: inline-block;
			font-weight: 600;
			&:before {
				content: image-url('sale-bord.png');
				position: absolute;
				top: 0;
				left: -6px;
				width: 6px;
				height: 100%;
				// background: image-url('sale-bord.png') no-repeat top right;
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -100%;
				height: 100%;
				width: 100%;
				background-color: #ab0505;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__bottom {
		background-color: #f1ad1d;
		padding: 7px 0;
		@extend %clear_a;
		&_center {
			overflow: hidden;
			margin-top: 8px;
		}
	}
	.logo {
		float: left;
		margin-right: 37px;
		margin-top: 8px;
	}
	&__search {
		position: relative;
		overflow: hidden;
		margin-right: 73px;
		margin-top: 8px;
		input {
			@include border-radius(0);
			border: none;
			width: 100%;
			padding: 13px 49px 13px 20px;
		}
		&_btn {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 49px;
			border: none;
			cursor: pointer;
			background: image-url('icon-zoom.png') no-repeat center center $danger-color;
			@include trs(.3);
			&:hover {
				opacity: .8;
			}
		}
	}
}

// Login box
.login__box {
	float: right;
	padding: 6px 30px 6px 12px;
	position: relative;
	width: 220px;
	background-color: transparentize(#e49e0a, .5);
	cursor: pointer;
	@extend %clear_a;
	&:after {
		content: image-url('icon-carret-down.png');
		position: absolute;
		top: 50%;
		right: 12px;
		margin-top: -7px;
	}
	&_avatar {
		width: 48px;
		height: 48px;
		// border: 1px solid #3e3e3e;
		background-color: #838282;
		float: left;
		margin-right: 14px;
		@include border-radius(50%);
		overflow: hidden;
		img {
			width: 100%;
			display: block;
		}
	}
	&_text {
		overflow: hidden;
		color: #ffffff;
		font-family: Arial;
		font-size: 15px;
		font-weight: 700;
		margin-top: 6px;
	}
	&_email {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

// Nav header
.navbar {
	float: right;
	padding-right: 6.3%;
	padding-left: 6%;
	margin-bottom: 6px;
	@extend %clear_a;
	&__item {
		float: left;
		padding: 22px 28px;
	}
	&__link {
		color: #fff;
		font-size: 17px;
		font-weight: 700;
		font-family: Arial;
	}
}


