/* Header
 ----------------------------------------------------------------------------- */
.header {
	@extend %clear_a;
}

.logo {
}

/* Navbar
-------------------------------------------------------------------------------*/
.navbar {
	overflow: hidden;
	text-align: right;
	&__item {
		display: inline-block;
	}
	&__link {}
}


