// Header ========
.header {
	@extend %clear_a;
	.container_center {
		max-width: 1525px;
		position: static;
	}
	&__top {
		@extend %clear_a;
		background-color: #454545;
		padding: 8px 0;
		overflow: hidden;
		line-height: 19px;
		font-size: 14px;
		font-weight: 400;
		color: #ffffff;
		&_left {
			float: left;
			font-style: italic;
		}
		&_right {
			float: right;
		}
		&_item {
			display: inline-block;
			padding: 0 20px;
			position: relative;
			font-weight: 600;
			&:nth-child(n+2) {
				&:before {
					content: '';
					width: 1px;
					height: 19px;
					background-color: #828282;
					position: absolute;
					left: 0;
				}
			}
			i {
				margin-right: 10px;
			}
		}
		a {
			color: #ffffff;
		}
		&_promo {
			position: relative;
			padding: 8px 8px 8px 40px;
			margin-top: -8px;
			margin-bottom: -8px;
			background-color: #ab0505;
			display: inline-block;
			font-weight: 600;
			margin-left: 6px;
			&:before {
				content: image-url('sale-bord.png');
				position: absolute;
				top: 0;
				left: -6px;
				width: 6px;
				height: 100%;
				// background: image-url('sale-bord.png') no-repeat top right;
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -100%;
				height: 100%;
				width: 100%;
				background-color: #ab0505;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__bottom {
		background-color: #f1ad1d;
		padding: 7px 0;
		position: relative;
		@extend %clear_a;
		&_center {
			overflow: hidden;
			margin-top: 8px;
		}
	}
	.logo {
		float: left;
		margin-right: 37px;
		margin-top: 8px;
	}
	&__search {
		position: relative;
		overflow: hidden;
		margin-right: 73px;
		margin-top: 8px;
		input {
			@include border-radius(0);
			border: none;
			width: 100%;
			padding: 13px 49px 13px 20px;
		}
		&_btn {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 49px;
			border: none;
			cursor: pointer;
			background: image-url('icon-zoom.svg') no-repeat center center $danger-color;
			@include trs(.3);
			&:hover {
				opacity: .8;
			}
		}
		&_toggle {
			display: none;
		}
		&_down {
			position: absolute;
			left: 0;
			top: 42px;
			z-index: 999;
			width: 100%;
			padding: 0 0 16px;
			background-color: #fff;
			border: 1px solid #dadada;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
			&_list {
				padding-top: 21px;
				border-top: 1px solid #dadada;
			}
			&_name {
				margin-bottom: 16px;
				padding-left: 22px;
			}
			&_item {
				padding: 4px 22px;
				margin-top: 3px;
				display: block;
				@extend %clear_a;
				&:hover {
					background-color: $muted-color;
					text-decoration: none;
				}
			}
			&_left {
				width: 50px;
				height: 50px;
				overflow: hidden;
				float: left;
				margin-right: 18px;
				border: 1px solid #dadada;
				img {
					width: 100%;
					height: auto
				}
			}
			&_right {
				padding-top: 20px;
				overflow: hidden;
			}
			&.open {
				// display: block;
			}
		}
	}
}

// Login box
.login__box {
	float: right;
	padding: 6px 30px 6px 12px;
	position: relative;
	width: 220px;
	background-color: transparentize(#e49e0a, .5);
	cursor: pointer;
	@extend %clear_a;
	&.open {
		background-color: #e49e0a;
		.login__box_drop {
			height: auto;
			padding: 16px 0;
		}
		&:after {
			@include rotate(180deg);
		}
	}
	&:after {
		content: image-url('icon-carret-down.png');
		position: absolute;
		top: 50%;
		right: 12px;
		margin-top: -7px;
		@include trs(.5);
	}
	&_avatar {
		width: 48px;
		height: 48px;
		// border: 1px solid #3e3e3e;
		// background-color: #838282;
		float: left;
		margin-right: 14px;
		@include border-radius(50%);
		overflow: hidden;
		img {
			width: 100%;
			display: block;
			height: 100%;
		}
	}
	&_text {
		overflow: hidden;
		color: #ffffff;
		font-family: Arial;
		font-size: 15px;
		font-weight: 700;
		margin-top: 6px;
	}
	&_email {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	&_drop {
		background-color: #e49e0a;
		position: absolute;
		top: 60px;
		right: 0;
		width: 240px;
		z-index: 130;
		padding: 0 0;
		overflow: hidden;
		height: 0;
		@include trs(.3);
		li {
			&:not(:last-of-type) {
				// margin-bottom: 15px;
			}
			a {
				display: block;
				padding: 11px 31px;
				color: #fff;
				&:hover {
					background-color: #eaa513;
					text-decoration: none;
				}
			}
		}
	}
	&_reg {
		display: none;
		position: absolute;
		top: 109px;
		right: 40px;
		z-index: 999;
		width: 326px;
		padding-top: 16px;
		&_in {
			background-color: #fff;
			border: 1px solid #dadada;
			@include box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
		}
		&_trigon {
			position: absolute;
			top: 0;
			right: 52px;
			z-index: 1000;
			width: 27px;
			height: 18px;
			display: block;
		}
		&_top {
			padding: 23px 40px 12px;
		}
		&_p {
			margin-bottom: 10px;
			font-size: 15px;
		}
		&_btn {
			padding: 9px 37px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			font-weight: 400;
			@include border-radius(0);
		}
		&_bottom {
			padding: 9px;
			text-align: center;
			background-color: $muted-color;
			&_link {
				display: none;
			}
		}
		&.open {
			display: block;
		}
	}
	&.non-reg {
		padding: 6px 30px 6px 26px;
		.login__box_avatar {
			width: 33px;
			float: left;
			margin-right: 16px;
			@include border-radius(0);
			img {
				width: 100%;
				display: block;
				height: 100%;
			}
		}
	}
}

// Nav header
.navbar {
	float: right;
	padding-right: 3%;
	padding-left: 3%;
	margin-bottom: 6px;
	@extend %clear_a;
	width: 55%;
	text-align: center;
	display: table;
	&__item {
		float: left;
		width: 33.3%;
		padding: 4px 0 10px;
		display: table-cell;
	}
	&__link {
		color: #fff;
		font-size: 17px;
		font-weight: 700;
		font-family: Arial;
		padding: 15px 10px;
		display: block;
		&:hover,&:active {
			background-color: transparentize(#e49e0a, .5);
			text-decoration: none;

		}
	}
}

.mobile__menu {
	display: none;
	&_toggle {
		display: none;
	}
	li {
		a {
		}
	}
	&_action {

	}
}

.body__overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: transparentize(#000, .5);
	z-index: 125;
	// @include trs(.5);
}

@media (max-width: 1199px) {
	// Header ========
	.header {
		.container_center {
		}
		&__top {
			&_left {
			}
			&_right {
			}
			&_item {
				&:nth-child(n+2) {
					&:before {
					}
				}
				i {
				}
			}
			a {
			}
			&_promo {
				&:before {
				}
				&:after {
				}
				&:hover {
				}
			}
		}
		&__bottom {
			position: static;
			.container_center {
				padding: 0 20px 0 20px;
			}
			&_center {
			}
		}
		.logo {
			margin-left: 0px;
		}
		&__search {
			margin-bottom: 18px;
			margin-right: 40px;
			input {
			}
			&_btn {
				&:hover {
				}
			}
		}
	}

	// Login box
	.login__box {
		width: 200px;
		&:after {
		}
		&.open {
			.login__box_drop {
			}
		}
		&_avatar {
			img {
			}
		}
		&_text {
			font-size: 13px;
		}
		&_email {
		}
		&_drop {
		}
	}

	// Nav header
	.navbar {
		padding-left: 5px;
		padding-right: 5px;
		// display: none;
		&__item {
			margin-top: 4px;
		}
		&__link {
			font-size: 14px;
			padding: 13px 10px;
		}
	}
	.mobile__menu {
		&.open {
		}
		&_toggle {
			&:hover,&.active {
			}
		}
		li {
			a {
				&:hover {
				}
			}
		}
		&_action {
		}
	}
}

@media (max-width: 991px) {
	// Header ========
	.header {
		.container_center {
		}
		&__top {
			padding: 5px 0 0;
			.container_center {
				display: none;
			}
			&_left {
			}
			&_right {
			}
			&_item {
				&:nth-child(n+2) {
					&:before {
					}
				}
				i {
				}
			}
			a {
			}
			&_promo {
				&:before {
				}
				&:after {
				}
				&:hover {
				}
			}
		}
		&__bottom {
			padding: 9px 14px 17px 61px;
			position: static;
			&_center {
				input {
				}
				&.open {
					input {
					}
				}
			}
			.container_center {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.logo {
			margin-top: 0px;
			width: 129px;
			// display: inline-block;
			// float: none;
			margin-right: 10px;
			margin-left: 20px;
		}
		&__search {
			margin: 0 25px;
			input {
			}
			&_btn {
				&:hover {
				}
			}
			&_toggle {
				// display: block;
				// position: absolute;
				// right: 20px;
				// top: 26px;
				// cursor: pointer;
				&:hover,&.active {
					// opacity: .7;
				}
			}
		}
	}

	// Login box
	.login__box {
		position: static;
		width: auto;
		background-color: transparent;
		padding: 0;
		margin-top: 2px;
		&:after {
			display: none;
		}
		&.open {
			background-color: transparent;
			.login__box_drop {
			    // padding: 23px 31px;
			    // width: 240px;
			    right: 0px;
			    background-color: #454545;
			}
		}
		&_avatar {
			width: 42px;
			height: 42px;
			margin-right: 0px;
			margin-top: -2px;
		}
		&_text {
			display: none;
		}
		&_email {
		}
		&_drop {
		    top: 81px;
		    padding: 23px 31px;
			right: -100%;
			text-align: center;
		    background-color: #454545;
			width: 100%;
		    height: initial;
			li {
				a {
					&:hover {
						background-color: #535252;
					}
				}
			}
		}
		&.non-reg {
			position: relative;
			&_avatar {
				width: 33px;
				margin-top: -5px;
			}
		}
		&_reg {
			top: auto;
			left: 0;
			right: 0;
			width: 100%;
			padding-top: 0;
			&_in {
				background-color: #454545;
				border: 0;
				@include box-shadow(0);
			}
			&_trigon {
				display: none;
			}
			&_top {
				padding: 30px 0 30px;
				button {
					padding: 14px 40px;
					font-weight: 700;
					@include border-radius(4px);
				}
			}
			&_p {
				display: none;
			}
			&_bottom {
				width: 100%;
				padding: 0 0 30px;
				background-color: transparent;
				&_p {
					display: none;
				}
				a {
					width: 200px;
					padding: 14px 40px;
					margin-left: auto;
					margin-right: auto;
					display: block;
					color: #fff;
					font-weight: 700;
					background-color: $danger-color;
					@include border-radius(4px);
					&:hover {
						text-decoration: none;
					    background-color: #bb2c2f;
					}
				}
				&_link {
					display: inline;
				}
			}
		}
	}

	// Nav header
	.navbar {
		display: none;
		&__item {
		}
		&__link {
		}
	}
	.mobile__menu {
		display: block;
		position: absolute;
		list-style: none;
		z-index: 130;
		background-color: #454545;
		width: 100%;
		// height: 100%;
		// max-width: 320px;
		left: -100%;
		overflow: hidden;
		padding: 12px 0;
		// height: 0;
		// opacity: 0;
		@include trs(.3);
		&.open {
			display: block;
			padding: 12px 0;
			left: 0;
			overflow: auto;
		}
		&_toggle {
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			// top: 31px;
			// left: 19px;
			top: 30px;
			left: 22px;
			background: image-url('mobile-menu.svg') no-repeat center center;
			&:hover,&.active {
				opacity: .7;
			}
		}
		li {
			a {
				display: block;
				color: #fff;
				padding: 14px 31px;
				font-size: 14px;
				@include trs(.5);
				&:hover {
					text-decoration: none;
					background-color: #535252;
				}
			}
		}
		&_action {
			background-color: #ca0f0f;
		}
	}
}

@media (max-width: 767px) {
	// Header ========
	.header {
		.container_center {
		}
		&__top {
			&_left {
			}
			&_right {
			}
			&_item {
				&:nth-child(n+2) {
					&:before {
					}
				}
				i {
				}
			}
			a {
			}
			&_promo {
				&:before {
				}
				&:after {
				}
				&:hover {
				}
			}
		}
		&__bottom {
			padding: 10px 22px 17px 51px;
			&_center {
			}
		}
		.logo {
		}
		&__search {
			input {
			}
			&_btn {
				&:hover {
				}
			}
		}
	}

	// Login box
	.login__box {
		&:after {
		}
		&_avatar {
			margin-right: 0;
			img {
			}
		}
		&_text {
		}
		&_email {
		}
	}

	// Nav header
	.navbar {
		&__item {
		}
		&__link {
		}
	}
	.mobile__menu {
		&_toggle {
		}
		li {
			a {
			}
		}
		&_action {

		}
	}
}

@media (max-width: 600px) {
	// Header ========
	.header {
		.container_center {
		}
		&__top {
			&_left {
			}
			&_right {
			}
			&_item {
				&:nth-child(n+2) {
					&:before {
					}
				}
				i {
				}
			}
			a {
			}
			&_promo {
				&:before {
				}
				&:after {
				}
				&:hover {
				}
			}
		}
		&__bottom {
			text-align: center;
			padding: 10px;
			&_center {
				overflow: inherit;
				width: 100%;
				display: none;
				&.open {
					display: block;
				}
			}
		}
		.logo {
			display: inline-block;
			float: none;
			margin-right: 60px;
		}
		&__search {
			background-color: #f1ad1d;
			margin: 14px 8px 0;
			input {
			}
			&_btn {
				&:hover {
				}
			}
			&_toggle {
				display: block;
				position: absolute;
				right: 18px;
				top: 21px;
				cursor: pointer;
			}
		}
	}

	// Login box
	.login__box {
		&:after {
		}
		&_avatar {
			// margin-right: 36px;
			width: 36px;
			height: 36px;
			position: absolute;
			right: 60px;
			img {
			}
		}
		&_text {
		}
		&_email {
		}
		&_drop {
			top: 65px;
			overflow: auto;
		}
	}

	// Nav header
	.navbar {
		&__item {
		}
		&__link {
		}
	}
	.mobile__menu {
		// z-index: 9;
		// top: 141px;
		&_toggle {
			left: 18px;
			top: 22px;
		}
		li {
			a {
			}
		}
		&_action {

		}
	}

	// Home mobile header ======================
	.home {
		.header {
			.container_center {
			}
			&__top {
				&_left {
				}
				&_right {
				}
				&_item {
					&:nth-child(n+2) {
						&:before {
						}
					}
					i {
					}
				}
				a {
				}
				&_promo {
					&:before {
					}
					&:after {
					}
					&:hover {
					}
				}
			}
			&__bottom {
				text-align: center;
				padding: 10px;
				&_center {
					position: static;
					display: block;
				}
			}
			.logo {
				display: inline-block;
				float: none;
				margin-right: 10px;
			}
			&__search {
				background-color: #f1ad1d;
				margin: 14px 8px 0;
				input {
				}
				&_btn {
					&:hover {
					}
				}
				&_toggle {
					display: none;
				}
			}
			.login__box {
				// right: 10px;
				&:after {
				}
				&_avatar {
					margin-right: 0;
					right: 17px;
					img {
					}
				}
				&_text {
				}
				&_email {
				}
				&_drop {
					top: 121px;
					overflow: auto;
				}
			}
		}
	}
}

