.modal__subscribe {
	&.in {
		.modal-dialog {
			@include transform(translate(0, 5%));
		}
	}
	&_bg {
		@include border-radius(50%);
		position: absolute;
		top: 17px;
		right: 17px;
		bottom: 17px;
		left: 17px;
		background-color: #fff;
	}
	&_wrap {
		position: absolute;
		top: 111px;
		left: -1px;
		right: -1px;
		bottom: -1px;
		background-color: #fff;
	}
	&_form {
		max-width: 280px;
		margin: 48px auto 36px;
		input {
			margin-bottom: 11px;
			width: 100%;
			@include border-radius(0);
			padding: 10px;
		}
	}
	&_auth {

	}
	&_close {
		&:before {
			content: image-url('modal_s_close.svg');
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
	}
	.modal-dialog {
		max-width: 580px;
		height: 580px;
		padding: 17px;
		margin: auto;
		@include box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
		background-color: #e8e7e7;
		@include border-radius(50%);
	}
	.modal-content {
		background-color: #fff;
		position: absolute;
		text-align: center;
		@include border-radius(50%);
		position: relative;
		overflow: hidden;
		width: 516px;
		height: 516px;
		top: 15px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		padding: 0;
		border: 1px solid #fff;
		&:before {
			content: '';
			display: block;
			position: absolute;
			background-color: #ffbf3c;
			top: -2px;
			left: -2px;
			right: -2px;
			bottom: -2px;
			border: 5px solid #fff;
			@include border-radius(50%);
		}
	}
	.modal-header {
		font-size: 21px;
		background-color: #ffffff;
		color: $main-color;
		margin: 19px 0 5px;
	}
	.modal-body {
		font-size: 15px;
		background-color: #ffffff;
	}
	.btn {
		margin-bottom: 22px;
		width: 100%;
	}
	.modal-footer {
		background-color: #ffffff;
		text-align: center;
		border: none;
	}
}


.modal__presentation {
	&.in {
		.modal-dialog {
			@include transform(translate(0, 5%));
		}
	}
	.presentation__slider {	
		&_conten {
			display: table;
			width: 100%;
			&>* {
				display: table-cell;
			}
		}
		&_left {
			vertical-align: top;
			padding-right: 50px;
			img {
				max-width: none;
			}
		}
		&_right {
			vertical-align: middle;
			p {
				margin-bottom: 20px;
			}
		}
		&_title {
			font-size: 22px;
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}
	}
	.btn {
		color: $main-color;
		font-size: 15px;
		font-weight: 400;
		padding: 12px 31px;
		margin-left: 25px;
		margin-right: 25px;
		&__danger {
			color: #ffffff;
		}
	}
	.presentation__sliderfoot {
		text-align: center;
		margin-top: 48px;
	}
	.close {
		position: absolute;
		top: 20px;
		right: 21px;
		width: 14px;
		height: 14px;
		display: block;
	}
	.modal-dialog {
		max-width: 820px;
		// height: 500px;
		padding: 0;
		margin: auto;
		background-color: #fff;
	}
	.modal-content {
		position: relative;
		// height: 100%;
		padding: 50px 51px 32px;
		border: 0;
		@include border-radius(0);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
	.modal-header {
		margin-bottom: 21px;
		color: $main-color;
		font-size: 22px;
		text-align: center;
	}
	.modal-body {
		margin-bottom: 45px;
		@extend %clear_a;
		&_left {
			width: 265px;
			float: left;
			margin-right: 38px;
		}
		&_right {
			padding-top: 6px;
			overflow: hidden;
		}
		&_p {
			margin-bottom: 15px;
			line-height: 1.25;
		}
	}
	.modal-footer {
		padding: 0 0 0 24px;
		margin-top: 13px;
		border: 0;
		@extend %clear_a;
		&_left,
		&_right {
			padding: 13px 35px;
			float: left;
			font-weight: 400;
			@include border-radius(5px);
		}
		&_left {
			margin-right: 50px;
			color: $main-color;
			background-color: #DEDEE1;
			&:hover {

			}
		}
	}

	@media (max-width: 767px) {
		.presentation__slider {	
			&_conten {
				display: block;
				&>* {
					display: block;
				}
			}
			&_left {
				text-align: center;
				padding-right: 0;
				img {
					max-width: 300px;
					display: inline-block;
					margin-bottom: 15px;
					max-width: 100%;
				}
			}
			&_right {
				p {
					margin-bottom: 10px;
				}
				img {
					display: none;
				}
			}
			&_title {
				margin-bottom: 25px;
				font-size: 20px;
			}
		}
		.btn {
			padding-left: 10px;
			padding-right: 10px;
			margin: 0 5px;
			font-size: 13px;
			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
		.presentation__sliderfoot {		
			margin-top: 30px;
			&_first {
				.btn {
					padding-left: 15px;
					padding-right: 15px;
					display: block;
					margin: 0 auto 10px;
					width: 100%;
					max-width: 300px;
				}
			}
		}
		.modal-content {
			padding: 40px 20px 30px;
		}
	}
}


.modal__no-purchase {
	&.in {
		.modal-dialog {
			@include transform(translate(0, 5%));
		}
	}
	&_bg {
		position: absolute;
		top: 17px;
		right: 17px;
		bottom: 17px;
		left: 17px;
		background-color: #fff;
	}
	.close {
		position: absolute;
		top: 20px;
		right: 21px;
		width: 14px;
		height: 14px;
		display: block;
	}
	.modal-dialog {
		max-width: 580px;
		padding: 0;
		margin: auto;
		background-color: #fff;
	}
	.modal-content {
		height: 100%;
		padding: 33px 61px 40px;
		border: 0;
		@include border-radius(0);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
	.modal-header {
		margin-bottom: 6px;
		color: $main-color;
		font-size: 18px;
	}
	.modal-body {
		@extend %clear_a;
		&_p {
			margin-bottom: 16px;
			line-height: 1.25;
		}
	}
	.modal-footer {
		margin-top: 8px;
		padding: 0;
		border: 0;
		@extend %clear_a;
		&_left,
		&_right {
			padding: 13px 44px;
			float: left;
			font-weight: 400;
			@include border-radius(5px);
		}
		&_right {
			margin-left: 31px !important;
			color: $main-color;
			background-color: #DEDEE1;
		}
	}
	@media (max-width: 767px) {
		padding-left: 20px;
		padding-right: 20px;
		.modal-content {
			padding: 30px 20px;
		}
		.modal-header {
			text-align: center;
		}
		.modal-footer {
			&_left,
			&_right {
				width: 45%;
				padding: 13px 0;
			}
			&_right {
				margin-left: 10%;
			}
		}
	}
	@media (max-width: 479px) {
		.modal-footer {
			&_left,
			&_right {
				width: 100%;
			}
			&_right {
				margin-left: 0 !important;
				margin-top: 10px;
			}
		}
	}
}


.modal__del-check {
	&.in {
		.modal-dialog {
			@include transform(translate(0, 5%));
		}
	}
	&_bg {
		position: absolute;
		top: 17px;
		right: 17px;
		bottom: 17px;
		left: 17px;
		background-color: #fff;
	}
	.close {
		position: absolute;
		top: 20px;
		right: 21px;
		width: 14px;
		height: 14px;
		display: block;
	}
	.modal-dialog {
		max-width: 580px;
		padding: 0;
		margin: auto;
		background-color: #fff;
	}
	.modal-content {
		height: 100%;
		padding: 31px 61px 40px;
		border: 0;
		@include border-radius(0);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
	.modal-header {
		margin-bottom: 6px;
		color: $main-color;
		font-size: 18px;
	}
	.modal-body {
		@extend %clear_a;
		&_p {
			margin-bottom: 16px;
			line-height: 1.25;
		}
	}
	.modal-footer {
		margin-top: 11px;
		padding: 0;
		border: 0;
		@extend %clear_a;
		&_left,
		&_right {
			padding: 13px 34px;
			float: left;
			font-weight: 400;
			@include border-radius(5px);
		}
		&_left {
			margin-right: 40px;
			color: $main-color;
			background-color: #DEDEE1;
		}
	}
	@media (max-width: 767px) {
		padding-left: 20px;
		padding-right: 20px;
		.modal-content {
			padding: 30px 20px;
		}
		.modal-header {
			text-align: center;
		}
		.modal-footer {
			&_left,
			&_right {
				width: 45%;
				padding: 13px 0;
			}
			&_left {
				margin-right: 10%;
			}
			&_right {
				margin-left: 0 !important;
			}
		}
	}
	@media (max-width: 479px) {
		.modal-footer {
			&_left,
			&_right {
				width: 100%;
			}
			&_right {
				margin-right: 0;
				margin-top: 10px;
			}
		}
	}
}


.modal__shopcard {
	&.in {
		.modal-dialog {
			@include transform(translate(0, 5%));
		}
	}
	&_bg {
		position: absolute;
		top: 17px;
		right: 17px;
		bottom: 17px;
		left: 17px;
		background-color: #fff;
	}
	.close {
		position: absolute;
		top: 20px;
		right: 21px;
		width: 14px;
		height: 14px;
		display: block;
	}
	.modal-dialog {
		max-width: 580px;
		padding: 0;
		margin: auto;
		background-color: #fff;
	}
	.modal-content {
		height: 100%;
		padding: 31px 61px 40px;
		border: 0;
		@include border-radius(0);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
	.modal-header {
		margin-bottom: 6px;
		color: $main-color;
		font-size: 18px;
	}
	.modal-body {
		@extend %clear_a;
		&_p {
			margin-bottom: 14px;
			line-height: 1.25;
		}
		a {
			display: block;
		}
	}
	.modal-footer {
		margin-top: 11px;
		padding: 0;
		border: 0;
		@extend %clear_a;
		&_left,
		&_right {
			padding: 15px 30px;
			float: left;
			font-weight: 400;
			@include border-radius(5px);
		}
		&_right {
			margin-left: 44px !important;
			color: #fff;
			background-color: #DEDEE1;
		}
	}
	@media (max-width: 767px) {
		padding-left: 20px;
		padding-right: 20px;
		.modal-content {
			padding: 30px 20px;
		}
		.modal-header {
			text-align: center;
		}
		.modal-footer {
			&_left,
			&_right {
				width: 47%;
				padding: 13px 0;
			}
			&_right {
				margin-left: 6% !important;
			}
		}
	}
	@media (max-width: 479px) {
		.modal-footer {
			&_left,
			&_right {
				width: 100%;
				padding: 13px 20px;
				br {
					display: none;
				}
			}
			&_right {
				margin-left: 0 !important;
				margin-top: 10px;
			}
		}
	}
}


.modal__confirm {
	&.in {
		.modal-dialog {
			@include transform(translate(0, 5%));
		}
	}
	&_bg {
		position: absolute;
		top: 17px;
		right: 17px;
		bottom: 17px;
		left: 17px;
		background-color: #fff;
	}
	.close {
		position: absolute;
		top: 20px;
		right: 21px;
		width: 14px;
		height: 14px;
		display: block;
	}
	.modal-dialog {
		max-width: 580px;
		padding: 0;
		margin: auto;
		background-color: #fff;
	}
	.modal-content {
		height: 100%;
		padding: 20px 0 30px;
		border: 0;
		@include border-radius(0);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
	.modal-header {
		margin-bottom: 10px;
		color: $main-color;
		font-size: 21px;
		text-align: center;
	}
	.modal-body {
		&_top {
			padding: 20px 100px 9px 113px; 
			background-color: #f1f1f1;
			border-top: 1px solid #d1d1d1;
			border-bottom: 1px solid #d1d1d1;
			&_row {
				&:nth-child(1) {
					margin-bottom: 23px;
					.modal-body_label {
						&:after {
							content: url('../img/icon-sure.svg');
							position: relative;
							width: 15px;
							height: 15px;
							margin-left: 10px;
						}
					}
				}
				&:nth-child(2) {
					@extend %clear_a;
					.file__upload {
						float: left;
						margin-right: 20px;
						.download__file {
							margin-top: 6px;
							padding: 10px 20px;
							color: #fff;
							cursor: pointer;
							background-color: #4d4d4d;
						}
						.modal-body_label {
							overflow: hidden;
						}
					}
				}
			}
		}
		&_down {
			padding: 18px 85px 20px;
			display: block;
			@extend %clear_a;
			&_left {
				width: 118px;
				float: left;
				margin-right: 50px;
			}
			&_right {
				overflow: hidden;
				input {
					width: 100%;
				}
			}
		}
		&_label {
			margin-bottom: 6px;
			display: block;
			font-size: 15px;
			span {
				font-size: 14px;
			}
		}
		input {
			padding: 10px 12px;
			background-color: #fff;
			border: 1px solid #d1d1d1;
			@include border-radius(0);
		}
		&_input {
			width: 100%;
			border: 1px solid #d1d1d1;
			@extend %clear_a;
			input[type="number"],
			input[type="text"] {
				border: 0;
			}
			input[type="number"] {
				width: 65%;
				float: left;
			}
			input[type="text"] {
				width: 35%;
				overflow: hidden;
				padding: 10px 7px;
				border-left: 1px solid #d1d1d1;
			}
		}
		.jq-selectbox {
			cursor: pointer;
			&__select {
				width: 352px;
				background-color: #fff;
			}
			&__dropdown {
				width: 100% !important;
			}
		}
	}
	.modal-footer {
		margin-top: 0;
		padding: 0 110px;
		border: 0;
		&_error {
			position: relative;
			width: 100%;
			padding: 11px 50px 11px 30px;
			margin-bottom: 20px;
			text-align: left;
			background-color: $muted-color;
			&_close {
				position: absolute;
				top: 14px;
				right: 17px;
				width: 10px;
				height: 10px;
				padding: 0;
				display: block;
				cursor: pointer;
				background: url('../img/close2.svg') no-repeat;
				background-size: 10px 10px;
				@include border-radius(0);
			}
			&.hide {
				display: none;
			}
		}

	}
	&_btn {
		width: 172px;
		height: 42px;
		margin: 10px auto !important;
		display: block;
	}
	@media (max-width: 767px) {
		padding-left: 20px;
		padding-right: 20px;
		.modal-header {
			font-size: 18px;
		}
		.modal-body {
			&_top {
				padding: 20px 30px 9px;
				&_row {
					&:nth-child(1) {
						margin-bottom: 10px;
					}
					&:nth-child(2) {
						.file__upload {
							float: none;
							margin-right: 0;
							.download__file {
								margin-top: 0;
								margin-bottom: 10px;
							}
						}
					}
				}
			}
			&_down {
				padding: 18px 30px 20px;
				&_left {
					width: 140px;
					float: none;
					margin-right: 0;
					margin-bottom: 15px;
				}
			}
			&_input {
				input[type="text"] {
					padding: 10px 12px;
				}
			}
			.jq-selectbox {
				&__select {
					width: 100%;
				}
			}
		}
		.modal-footer {
			padding: 0 30px;
		}
	}
	@media (max-width: 479px) {
		.modal-body {
			&_top {
				padding: 20px 20px 9px;
			}
			&_down {
				padding: 18px 20px 20px;
			}
		}
		.modal-footer {
			padding: 0 20px;
		}
	}
}