/* Sales page ============================ */
.sales__page {
	.ind {
		margin-top: 50px;
		margin-bottom: 25px;
	}
	&_aside {
		float: right;
		width: 14%;
		min-width: 70px;
		padding-top: 20px;
		.b__article_top {
			float: right;
		}
	}
	&_content {
		overflow: hidden;
		padding-top: 20px;
	}
	&_grid {
		@include flexbox();
		@include flex-flow(row wrap);
		@extend %clear_all;
		margin-left: -80px;
		&>* {
			padding-left: 80px;
			padding-bottom: 55px;
		}
		.slider {
			&__item {
				@include flex-basis(24.9%);
				&_promo {
					width: 68px;
					height: 68px;
					background-color: $success-color;
					color: #fff;
					font-size: 18px;
					line-height: 68px;
					display: block;
					position: absolute;
					text-align: center;
					@include border-radius(50%);
					position: absolute;
					top: -20px;
					left: -30px;
					&-hot {
						background: image-url('promo-hot.png') no-repeat center center $danger-color;
					}
					&-gift {
						background: image-url('promo-gift.png') no-repeat center center $warning-color;
					}
				}
			}
			&__grid {
				&_img {
					display: block;
					overflow: initial;
					img {
						display: block;
						width: 100%;
					}
				}
				&_overlay {
					font-size: 18px;
					padding: 10px 13px;
					span {
						font-size: 14px;
					}
				}
				&_text {
					font-size: 15px;
					padding: 10px 0 0;
				}
				&_name {
					font-size: 13px;
				}
			}
		}
	}
	@media (max-width: 991px) {
		&_grid {
			margin-left: -20px;
			&>* {
				padding-left: 20px;
				padding-bottom: 30px;
			}
			.slider {
				&__item {
					@include flex-basis(49.9%);
					&_promo {
						left: 10px;
						top: 10px;
						width: 50px;
						height: 50px;
						line-height: 50px;
						font-size: 16px;
					}
				}
			}
		}
		&_aside {

		}
	}
	@media (max-width: 767px) {
		padding-left: 10px;
		padding-right: 10px;
		&_grid {
			margin-left: -10px;
			&>* {
				padding-left: 10px;
			}
		}
		&_aside {
			float: none;
			margin-bottom: 15px;
			width: 100%;
			padding-top: 0;
			.b__article_top {
				padding-bottom: 0;
				margin-bottom: 0;
				float: none;
				&_left {
					width: auto;
				}
			}
		}
		&_content {
			overflow: initial;
		}
		.ind {
			margin-top: 20px;
			margin-bottom: 5px;
			padding: 0;
			text-align: center;
		}
	}
}


.sales__more {
	&_grid {
		padding-top: 27px;
		padding-bottom: 27px;
		margin-left: -80px;
		@extend %clear_a;
		// @include flex-flow(row nowrap);
		.grid__wrapper {
			padding-left: 80px;
			float: left;
			width: 33.3%;
		}
		.grid__item {}
	}
	&_img {
		margin-bottom: 27px;
		img {
			display: block;
			width: 100%;
		}
	}
	&_title {
		font-size: 18px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		// margin-bottom: 15px;
	}
	&_text {
		font-size: 14px;
		p {
			margin: 15px 0;
		}
	}
	@media (max-width: 991px) {
		&_grid {
			margin-left: -20px;
			.grid__wrapper {
				padding-left: 20px;
			}
			.grid__item {}
		}
	}
	@media (max-width: 767px) {
		&_grid {
			margin: 0;
			padding-left: 5px;
			padding-right: 5px;
			border-bottom: 1px solid #dadada;
			margin-bottom: 20px;
			.grid__wrapper {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
	@media (max-width: 600px) {
		&_grid {
			.grid__wrapper {
				width: 100%;
				&:nth-child(n+2) {
					display: none;
				}
			}
		}
	}
	&_description {
		border-top: 1px solid #dadada;
		border-bottom: 1px solid #dadada;
		padding: 40px 0;
		margin-bottom: 40px;
		&_dott {
			display: inline;
		}
		&_moretext {
			display: none;
			padding: 0 0 19px;
		}
		// &_more {
		// 	display: inline-block;
		// }
		&.open {
			.sales__page_description {
				&_dott {
					display: none;
				}
				&_moretext {
					display: block;
				}
				// &_more {
				// 	display: block;
				// 	width: 100px;
				// 	margin-top: 19px;
				// }
			}
		}
		@media (max-width: 767px) {
			display: none;
		}
	}

	&_column {
		@include columns-text(240px, 5, 40px, 0px, solid, #000);
		padding: 22px 0;
		&_link {
			display: block;
			margin-bottom: 15px;
		}
		@media (max-width: 767px) {
			padding-left: 15px;
			overflow: hidden;
			&_link {
				width: 50%;
				float: left;
			}
		}
	}

	&_ban {
		position: relative;
		overflow: hidden;
		a {
			&:hover {
				text-decoration: none;
			}
		}
		img {
			display: block;
			min-width: 100%;
			max-width: none;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		&_text {
			padding: 97px 10px 107px;
			// padding-bottom: 107px;
			margin: auto;
			max-width: 900px;
			color: #fff;
			position: relative;
			font-size: 30px;
			text-align: right;
			b {
				font-size: 60px;
				display: block;
				margin-top: 10px;
			}
		}
		@media (max-width: 767px) {
			&_text {
				padding: 40px 10px 50px;
				font-size: 20px;
				b {
					font-size: 40px;
				}
			}
		}
	}
}

