.shoppel__save {
	margin-bottom: 22px;
	&_img {
		float: left;
		margin-right: -100px;
		position: relative;
		z-index: 2;
	}
	&_content {
		overflow: hidden;
		position: relative;
		z-index: 1;
		// padding-left: 50px;
		// margin-left: -50px;
		@extend %clear_a;
	}
	&_top {
		position: relative;
		margin-top: 11px;
		margin-bottom: 8px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			height: 100%;
			top: 0;
			left: -100px;
			width: 100px;
		}
		&:after {
			content: image-url('pila.png');
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -7px;
			z-index: 5;
		}
	}
	&_text-block {
		overflow: hidden;
		padding: 29px 33px 20px 134px;
	}
	&_left {
		padding: 0;
		overflow: hidden;
		background-color: #fff;
	}
	&_title {
		font-size: 22px;
		margin-bottom: 11px;
	}
	&_text {
		.txt__danger {
			display: block;
		}
	}
	&_right {
		padding: 43px 38px 39px;
		float: right;
		width: 295px;
		margin-left: 40px;
		background-color: #dadada;
		font-size: 14px;
		position: relative;
		// height: auto !important;
		&:before {
			content: '';
			background-image: url(../img/triangle-sales.png);
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 40px 100%;
			position: absolute;
			left: -40px;
			top: 0;
			bottom: 0;
			padding: 74px 20px;
		}
		.btn {
			width: 100%;
			font-weight: 400;
			padding: 9px;
			@include border-radius(2px);
			margin-bottom: 15px;
		}
	}
	&_auth {
		a {
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
		span {
			display: none;
		}
	}
	&_bottom {
		@extend %clear_all;
		padding-left: 110px;
		font-size: 13px;
		padding-bottom: 20px;
	}
	.btn {}
	@media (max-width: 1280px) {
		&_left {

		}
		&_right {
			padding: 60px 38px 56px;
		}
		&_text {
			&-block {
				padding: 29px 33px 40px 134px;
			}
		}
	}
	@media (max-width: 1199px) {
		&_text-block {
			// width: 65%;
		}
		&_right {
			width: 35%;
			&:before {
				// display: none;
			}
		}
	}
	// @media (max-width: 991px) {
	// 	&_text-block {
	// 		width: 100%;
	// 	}
	// 	&_right {
	// 		width: 100%;
	// 		text-align: center;
	// 		&:before {
	// 			display: none;
	// 		}
	// 		.btn {
	// 			width: 200px;
	// 		}
	// 	}
	// }
	@media (max-width: 991px) {
		background: #dadada;
		padding: 25px 0 25px 20px;
		text-align: center;
		position: relative;
		max-width: 100%;
		@include flex-grow(2);
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 2px;
			width: 100%;
			background-image: url(../img/line-dotted.gif);
			background-position: 0 0;
			background-repeat: repeat-x;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			width: 100%;
			background-image: url(../img/line-dotted.gif);
			background-position: 0 0;
			background-repeat: repeat-x;
		}
		&_img {
			float: none;
			text-align: center;
			width: 100%;
			margin-right: 0;
			img {
				width: 140px;
				height: auto;
			}
		}
		&_left {
			@include flex-basis(100%);
			float: none;
			background-color: transparent;
		}
		&_right {
			width: 100%;
			position: absolute;
			bottom: 0;
			margin: 0 auto;
			left: 0;
		}
		&_text {
			@include flex-basis(100%);
			float: none;
			&-block {
				overflow: auto;
				margin-bottom: 100px;
			}
		}
		&_top {
			background-color: transparent;
		}
		&_text-block {
			padding: 20px;
			background-color: #dadada;
		}
		&_top {
			&:after {
				display: none;
			}
		}
		&_bottom {
			display: none;
		}
		&_auth {
			span {
				display: inline-block;
			}
		}
		&_right {
			padding: 20px;
			height: auto !important;
		}
	}
}

