// Lists ==============================================
// ====================================================
.list {
	margin-top: 25px;
	margin-bottom: 25px;
	&>* {
		line-height: 18px;
		padding-left: 15px;
		&:before {
			content: '·';
			font-size: 30px;
			display: inline-block;
			vertical-align: sub;
			margin-right: 5px;
			margin-left: -14px;;
		}
		&+* {
			padding-top: 13px;
		}
	}
}

// Row ================================================
// ====================================================
.form_row,.row {
	@extend %clear_a;
	&+* {
		margin-top: 15px;
	}
}

// Main wrappers ======================================
// ====================================================
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footer_height) auto; // отрицательный нижний отступ на высоту футера
    background-color: #f1f1f1;
    overflow: hidden;
}

.container_center {
	max-width: 1330px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}

.section__title {
	font-family: Tahoma;
	font-size: 25px;
	margin-top: 44px;
	margin-bottom: 35px;
	text-align: center;
	&_btn {
		.btn {
			float: right;
			margin-top: -5px;
		}
	}
	&_link {
		text-align: left;
		margin-bottom: 27px;
		a {
			display: inline-block;
			font-size: 14px;
			font-weight: 400;
			margin-left: 50px;
			text-decoration: underline;
		}
	}
}


.white__line {
	background-color: #fff;
	@include box-shadow(1px 2px 4px 1px rgba(0, 0, 0, 0.03));
	@include box-sizing(content-box);
	padding: 45px 0 40px;
	margin-left: -5px;
	margin-right: -5px;
	@extend %clear_a;
	.section__title {
		margin-top: 10px;
	}
}

.box {
	padding: 40px;
	&__gray {
		background-color: #f7f7f7;
	}
}

// Style for columns text =============================
// ====================================================
.column {
	@include columns-text(300px, 3, 40px, 0px, solid, #000);
}


// Social link ========================================
// ====================================================
.soc {
	float: left;
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		@include border-radius(50%);
		background-color: #000;
		text-align: center;
		text-decoration: none;
		@include trs(.3);
		&:hover {
			opacity: .8;
		}
		&:before {
			content: 'soc';
			color: #fff;
			text-decoration: none;
		}
	}
}

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
	padding-bottom: ($footer_height + 50px);
	@extend %clear_a;
}

